n8n_workflows/Aimfox_Nextus_AI_Reply_Agent_MCO.json
{
  "updatedAt": "2026-05-11T22:00:26.561Z",
  "createdAt": "2026-05-09T20:35:32.729Z",
  "id": "mAGUFlmJZ0gwge3s",
  "name": "Aimfox Nextus AI Reply Agent — MCO",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Input: items[0].json (root array like [{ messages: [...] }])\n// Output: one flat item { Message: \"...\" }\n\nconst root = items?.[0]?.json;\n\n// Normalize\nconst obj = Array.isArray(root) ? root[0] : root;\n\n// Fallback\nif (!obj || !Array.isArray(obj.messages)) {\n  return [{ json: { Message: \"\" } }];\n}\n\n// Sort and combine\nconst combined = obj.messages\n  .slice()\n  .sort((a, b) => (a?.created_at || 0) - (b?.created_at || 0))\n  .map(m => {\n    const sender = m?.sender?.full_name || \"Unknown\";\n    const body = m?.body || \"\";\n    const time = new Date(m?.created_at || 0).toISOString();\n    return `${sender} (${time}): ${body}`;\n  })\n  .join(\"\\n\\n\");\n\n// Return single flat object\nreturn [\n  {\n    json: {\n      Message: combined\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        -80
      ],
      "id": "46191bfe-ba89-4bf7-8955-cdaa8c4d3206",
      "name": "Code"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3360,
        224
      ],
      "id": "4a4e2c33-f974-47aa-9159-7b7b5e7009fb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "T1h71eOjG2RI1HDX",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Lead is: {{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}\n\nContext: {{ $('Code').item.json.Message }}",
        "categories": {
          "categories": [
            {
              "category": "Interested",
              "description": "=Definition:\nThe prospect clearly shows intent, positive engagement, genuine curiosity about the service, or openness. They want to discuss, learn more, are open to booking a call, or are considering it. They might say things like “Sure, let’s chat”, “Sounds good”, “Can you send me a link?”, or “Let’s schedule something next week.” They may also ask for specific details about your service without committing yet.\n\nExamples of intent cues include: “Yes”, “Let’s talk”, “Interested”, “Book”, “Schedule”, “Call”, “Demo”.\n\nGuidance for AI:\nLabel as this if the message contains clear positive engagement, willingness to meet, or language showing action intent such as booking, scheduling, calling, seeing a demo, or learning more about the service. \n\nCRITICAL EXCLUSIONS - Do NOT label as Interested if:\n1. The prospect states \"I'm not sure\", \"I don't know\", or expresses non-committal hesitation.\n2. The prospect directs you to apply through a generic website or vendor portal.\n3. The prospect responds with confused, suspicious, or one-liner questions like \"What is this?\", \"Who are you?\", or \"Why are you emailing me?\""
            },
            {
              "category": "Not Interested",
              "description": "=Definition:\nThe prospect expresses disinterest, rejection, a firm “no,” or a non-committal soft decline.\nThey might say “Not interested”, “We’re all set”, “No need right now”, “We don't have any equipment at this moment”, “I will update you when we have”, or “Please don’t reach out again.”\n\nGuidance for AI:\nLabel as this if the message conveys clear refusal, closure, or a lack of current equipment.\nInclude polite declines (“Not a fit”, “Maybe later”), hard no’s, and promises of future contact if they currently have nothing to dispose of.\nCRITICAL: Also label as this if the prospect responds with vague uncertainty like \"I'm not sure,\" \"I don't know,\" or \"I don't think so\" regarding having equipment. Treat these non-committal replies as a soft rejection.\nCRITICAL DEFLECTIONS: Label as this if the prospect politely deflects by telling you to register on a generic corporate website or vendor portal (e.g., \"go to our website and put yourself as a vendor\").\nExclude if they give a referral or ask for info instead."
            },
            {
              "category": "Referral",
              "description": "=Label as REFERRAL only when the prospect explicitly redirects you to a specific person, department, or provides contact details for someone else to reach.\n\nTrigger this label if the message contains:\n\n* A direct instruction to contact another person or department\n  (e.g., \"You should talk to John\", \"Contact our IT manager\", \"Reach out to procurement\")\n* An introduction or loop-in of another person\n  (e.g., \"I'm looping in Sarah\", \"I'll CC our CIO on this\", \"Let me introduce you to our tech lead\")\n* Contact details (name + email, phone, or LinkedIn) of another person they are directing you to\n  (e.g., \"Here's Mark's email: mark@company.com\", \"Call our procurement head at +1-800-...\")\n* Explicit handoff language\n  (e.g., \"He handles this\", \"She's the right person\", \"They make these decisions\")\n\nDo NOT label as REFERRAL if:\n\n* Another department or role is merely mentioned in passing without a redirect\n  (e.g., \"Our IT team uses X tool\", \"Procurement approved the budget last year\")\n* The prospect is explaining their internal structure without directing you anywhere\n  (e.g., \"We have a separate ESG department\")\n* The message is vague or ambiguous about who you should contact\n* No clear action or redirect is stated\n\nRule of thumb: Ask — \"Is this prospect telling me to go talk to someone else, or giving me the means to do so?\" If yes → REFERRAL. If they're just mentioning someone or a team in context → do NOT label as REFERRAL."
            },
            {
              "category": "Booking",
              "description": "=The prospect provides their own booking link or calendar (e.g., Calendly, Cal.com, HubSpot link).\n They might write: “Here’s my link to schedule a time”, “Book directly here”, or paste their calendar URL.\nGuidance for AI:\nLabel as this if message contains any booking link or scheduling instruction from the prospect {{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}\n\nDo not classify this if we provide the meeting link, this is only if they provide the booking link.\n\nIt indicates strong interest, but requires human confirmation to respect the prospect’s calendar and context.\n"
            },
            {
              "category": "Already Have Contract",
              "description": "=Definition:\nThe prospect clearly indicates that they already have an existing vendor, supplier, or partner handling similar services. They may mention having a contract, agreement, or relationship currently in place with another company or system.\n\nGuidance for AI:\nLabel as this if the message mentions an existing partner, provider, or vendor — showing that the prospect is already engaged with another service for the same purpose.\nDo not label if they simply express disinterest, want to delay, or handle things internally without referencing another provider.\n\nFocus on language indicating:\n\nExisting partnerships or vendor relationships\n\nBeing \"covered\" or \"already set\"\n\nReferences to ongoing contracts or current providers\n\nExamples of intent cues:\n“Already have a vendor”\n“We work with another partner”\n“We’re covered right now”\n“We already have someone handling this”\n“We have a contract in place”\n“We’re in a contract with another provider”\n“Currently working with a supplier”\n“Already using another service”\n“We’re all set with a vendor”"
            },
            {
              "category": "No Action",
              "description": "=The prospect's message is vague, ambiguous, incomplete, or does not contain enough signal to determine intent. This includes one-word or generic replies, out-of-context responses, auto-replies, messages that acknowledge receipt without expressing any direction, or messages where the meaning is genuinely unclear.\n\nGuidance for AI:\nLabel as this if the message cannot be confidently assigned to any other category. Use this as the fallback only when no intent signal — positive, negative, referral, booking, or vendor-related — can be reasonably inferred.\n\nLabel as this if the message contains:\n* Generic acknowledgments with no follow-up intent (e.g., \"Thanks\", \"Got it\", \"OK\", \"Sure\", \"Noted\")\n* Expressions of confusion or suspicion without engaging the pitch (e.g., \"What is this?\", \"Who is this?\", \"Do I know you?\")\n* Auto-replies or out-of-office messages (e.g., \"I'm currently unavailable\", \"I'll be back on Monday\")\n* Incomplete or fragmented messages that lack context\n* Greetings or pleasantries with no actionable content (e.g., \"Hey\", \"Hope you're well too\")\n* Responses that are entirely off-topic or unrelated to the outreach\n* Messages where the prospect neither accepts, declines, redirects, nor asks anything meaningful\n* If the prospect reply contains only emojis (such as 👍, 👌, 😂, ❤️, 👀, 🙌, etc.) and no meaningful text, classify the response as \"No Action\".\n\nDo NOT label as this if:\n* There is any hint of curiosity, hesitation, or mild interest — label as Interested instead\n* The prospect mentions another vendor or partner — label as Already Have Contract\n* There is any form of redirect to another person — label as Referral\n* The refusal is clear even if brief — label as Not Interested\n* The prospect mentions looping in or directing you to a specific person with contact details or an explicit handoff — label as Referral instead. \n  Only label as No Action if they reference their team or department internally \n  without redirecting you to anyone specific or providing any contact information.\n\nRule of thumb: Ask — \"Can I reasonably determine what this prospect wants or feels about this outreach?\" If no — label as No Action.\n\nExamples of No Action cues:\n\"I'll discuss this with my team and get back to you\"\n\"Let me bring this up with the department\"\n\"I'll check with the team\"\n\"We'll have an internal discussion about this\"\n\"I need to run this by my manager first\"\n\"Let me talk to the relevant people and we'll be in touch\""
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: Interested, Not Interested, Referral, Booking, Already Have Contract, No Action.\n\nUse the provided formatting instructions below. Don't explain, and only output the json.\nYou must provide an output."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        5200,
        -112
      ],
      "id": "32a332ad-b1a2-4300-be4d-845c0341deb0",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5200,
        192
      ],
      "id": "5c49df55-3b09-4a4f-a987-6ee0c148d26e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "T1h71eOjG2RI1HDX",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.aimfox.com/api/v2/accounts/{{ $('Webhook').item.json.body.event.recipient.id }}/conversations/{{ $('Webhook').item.json.body.event.conversation_urn }} ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        -64
      ],
      "id": "85250871-0aed-40dd-a3b2-723c9b47330f",
      "name": "Thread",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.aimfox.com/api/v2/accounts/{{ $('Webhook').item.json.body.event.recipient.id }}/conversations/{{ $('Webhook').item.json.body.event.conversation_urn }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4464,
        -240
      ],
      "id": "0eeeb249-98be-478d-b7ca-df708ac5ecfe",
      "name": "Send Reply",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.aimfox.com/api/v2/leads/{{ $('Webhook').item.json.body.event.sender.id }}/labels/f415aea2-e461-470a-9050-d5c5da970fd3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5696,
        -400
      ],
      "id": "334a8693-455d-44e0-ac7c-db9edf8f1ef9",
      "name": "Mark Interested"
    },
    {
      "parameters": {
        "url": "=https://api.aimfox.com/api/v2/leads/{{ $('Webhook').item.json.body.event.sender.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        -64
      ],
      "id": "c5457e76-6730-4d70-8a1b-3120b86edf38",
      "name": "Lead Info",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.aimfox.com/api/v2/leads/{{ $('Webhook').item.json.body.event.sender.id }}/labels/11774a15-9df7-4968-9ea0-860c5bd3f144",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5744,
        -112
      ],
      "id": "3ad5e3c6-46b0-4c96-82ce-e4cbbf81ce25",
      "name": "Not Interested"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.aimfox.com/api/v2/leads/{{ $('Webhook').item.json.body.event.sender.id }}/labels/64d873e7-b532-4f6b-8c6e-79715c793830",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5984,
        208
      ],
      "id": "804433f8-471a-4c73-9e2a-4c179de7f2ad",
      "name": "Referral"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.aimfox.com/api/v2/leads/{{ $('Webhook').item.json.body.event.sender.id }}/labels/341274b1-27da-43a3-a553-65da63210a8a",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5760,
        320
      ],
      "id": "9bf40ca2-1c80-40f7-8332-18603034a274",
      "name": "Booking"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        -64
      ],
      "id": "1190cb59-eee9-422f-8005-4e0718af12a6",
      "name": "Wait",
      "webhookId": "efc507f5-77c1-4274-85c8-e50d7bd2e4ac"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "913f04ef-7cc7-4122-9932-d23f1c2f5b75",
              "leftValue": "={{ Number($json.messages[0].sender.id) }}",
              "rightValue": "={{ Number($('Webhook').item.json.body.event.sender.id) }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        -64
      ],
      "id": "94186db3-574d-4543-a665-2de9bd5c3d7d",
      "name": "If1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8",
          "mode": "list",
          "cachedResultName": "Aimfox Duplicates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Linkedin",
              "lookupValue": "={{ $('Webhook').first().json.body.event.sender.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6208,
        -192
      ],
      "id": "034bdf38-57a3-4ab8-b25b-30f57aeee827",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wgZGfRyOuZSCZ2Ot",
          "name": "anik_nextus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1beb04f0-551f-44d1-9566-af319aa3ed69",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6368,
        -192
      ],
      "id": "2670b486-e6bf-4cac-a2a8-7273998ef203",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8",
          "mode": "list",
          "cachedResultName": "Aimfox Duplicates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 692096807,
          "mode": "list",
          "cachedResultName": "Saved Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit#gid=692096807"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Sender Name": "={{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}",
            "Account Name": "={{ $('Webhook').item.json.body.event.recipient.first_name }} {{ $('Webhook').item.json.body.event.recipient.last_name }}",
            "Execution ID": "=https://nextus.app.n8n.cloud/workflow/uVWeJIzytDPjDq1N/executions/{{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Name",
              "displayName": "Sender Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Account Name",
              "displayName": "Account Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        -64
      ],
      "id": "63dd467b-a964-4be4-a7dd-ab8571c26ad8",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wgZGfRyOuZSCZ2Ot",
          "name": "anik_nextus"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8",
          "mode": "list",
          "cachedResultName": "Aimfox",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1926729378,
          "mode": "list",
          "cachedResultName": "Data Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit#gid=1926729378"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Conversation URN",
              "lookupValue": "={{ $('Webhook').item.json.body.event.conversation_urn }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        -48
      ],
      "id": "97bde24a-d926-4d92-a7c2-726c49dd6075",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wgZGfRyOuZSCZ2Ot",
          "name": "anik_nextus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65aae510-abae-4c1a-bf78-87050be894ee",
              "leftValue": "={{ $json['Conversation URN'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        -48
      ],
      "id": "b49501f8-55e0-4923-820d-b3c9e1879028",
      "name": "If5"
    },
    {
      "parameters": {
        "jsCode": "// Get timestamps\nconst inputTimestamp = new Date($input.first().json.body.timestamp); // e.g., 2025-10-27T07:23:57.075Z\nconst now = new Date($now); // e.g., 2025-11-02T00:50:36.666+07:00\n\n// Calculate time difference in milliseconds\nconst diffMs = now - inputTimestamp;\n\n// Convert to hours\nconst diffHours = diffMs / (1000 * 60 * 60);\n\n// Check if within last 48 hours\nconst result = diffHours <= 48 && diffHours >= 0 ? \"Yes\" : \"No\";\n\nreturn [{ result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        -48
      ],
      "id": "6e4105c9-be6e-4e56-ad6e-33bfe857f2a3",
      "name": "Code2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d8a06de-17f4-43cb-9cdf-81d7bd375d7d",
              "leftValue": "={{ $json.result }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        -48
      ],
      "id": "81191e88-4605-440e-b976-db928c88ab71",
      "name": "If6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Campaign Name'] }}",
                    "rightValue": "Nextus ITAD",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "c64c21a5-377f-453f-abd5-2faf01d2740c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "54177c0e-e86f-4c4d-b5f9-82fb5149eaa1",
                    "leftValue": "={{ $json['Campaign Name'] }}",
                    "rightValue": "Nextus AI",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        544,
        -48
      ],
      "id": "1e17001b-a189-4093-b4bd-9c2ba6738abd",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8",
          "mode": "list",
          "cachedResultName": "Aimfox Duplicates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Linkedin": "={{ $('Webhook').first().json.body.event.sender.id }}",
            "Execution ID": "={{ $execution.id }}"
          },
          "matchingColumns": [
            "Linkedin"
          ],
          "schema": [
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6576,
        -192
      ],
      "id": "ee83ab19-1d9b-412a-ac7b-3b89ab0324f7",
      "name": "Append row in sheet2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wgZGfRyOuZSCZ2Ot",
          "name": "anik_nextus"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3168,
        432
      ],
      "id": "4082da85-43bd-4702-940c-60e8f4cbbc3f",
      "name": "Wait5",
      "webhookId": "047fa953-2444-41f0-9c01-64d8d9ae16fd"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1072,
        -48
      ],
      "id": "d0047a8c-2f76-4f56-b80a-637bcf808c54",
      "name": "Wait4",
      "webhookId": "5da9ab62-0184-4054-832a-1a6f9bf45f11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1bf717e9-bb8b-47c3-8bd1-e83715ff2e12",
              "leftValue": "={{ $json.output }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3600,
        -96
      ],
      "id": "0ff9fe88-a234-4600-b6eb-c48860244b6d",
      "name": "If13"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.aimfox.com/api/v2/leads/{{ $('Webhook').item.json.body.event.sender.id }}/labels/e17f7133-1042-474f-8821-ec6cfd6cdf94",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5648,
        480
      ],
      "id": "798fad31-7ef4-476f-8f9a-537490f80a66",
      "name": "Already Have Contract"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08PSL0Q7D3",
          "mode": "list",
          "cachedResultName": "linkedin-interested-reply-agent"
        },
        "text": "=🏷️ Label: Interested\n\n🏗️ Workspace: Nextus AI\n\n💬 Campaign Name: {{ $('Get row(s) in sheet1').item.json['Campaign Name'] }}\n\n👨 Lead Name: {{ $('Webhook').first().json.body.event.sender.first_name }} {{ $('Webhook').first().json.body.event.sender.last_name }}\n\n🏢 Company Name: {{ $('Lead Info').item.json.lead.current_experience[0].company.name }}\n\n👔 Job Title: {{ $('Lead Info').item.json.lead.current_experience[0].job_title }}\n\n🏢 Company Universal: {{ $('Lead Info').item.json.lead.current_experience[0].company.universal_name }}\n\nLocation: {{ $('Lead Info').item.json.lead.current_experience[0].location.name }}\n\n👨 Account Name: {{ $('Webhook').first().json.body.event.recipient.first_name }} {{ $('Webhook').first().json.body.event.recipient.last_name }}\n\n➡️➡️➡️ Reply: {{ $('Webhook').first().json.body.event.body }}\n\n🔗 Link: https://app.aimfox.com/workspaces/{{ $('Webhook').item.json.body.workspace.id }}/inbox?activeConversation={{ $('Webhook').item.json.body.event.conversation_urn }}&activeAccount={{ $('Webhook').item.json.body.event.recipient.id }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        5952,
        -608
      ],
      "id": "68af67c1-15f2-40bb-8588-070ffdf3fed6",
      "name": "Send a message6",
      "webhookId": "876b9484-c9ca-45ce-9714-812e4b68a68f",
      "alwaysOutputData": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "eidB94iWe08RnImU",
          "name": "Slack account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09NS6B24R4",
          "mode": "list",
          "cachedResultName": "linkedin-human-takeover"
        },
        "text": "=🏷️ Label: Referral\n\n🏗️ Workspace: Nextus AI\n\n💬 Campaign Name: {{ $('Get row(s) in sheet1').item.json['Campaign Name'] }}\n\n👨 Lead Name: {{ $('Webhook').first().json.body.event.sender.first_name }} {{ $('Webhook').first().json.body.event.sender.last_name }}\n\n🏢 Company Name: {{ $('Lead Info').item.json.lead.current_experience[0].company.name }}\n\n👔 Job Title: {{ $('Lead Info').item.json.lead.current_experience[0].job_title }}\n\n🏢 Company Universal: {{ $('Lead Info').item.json.lead.current_experience[0].company.universal_name }}\n\nLocation: {{ $('Lead Info').item.json.lead.current_experience[0].location.name }}\n\n👨 Account Name: {{ $('Webhook').first().json.body.event.recipient.first_name }} {{ $('Webhook').first().json.body.event.recipient.last_name }}\n\n➡️➡️➡️ Reply: {{ $('Webhook').first().json.body.event.body }}\n\n🔗 Link: https://app.aimfox.com/workspaces/{{ $('Webhook').item.json.body.workspace.id }}/inbox?activeConversation={{ $('Webhook').item.json.body.event.conversation_urn }}&activeAccount={{ $('Webhook').item.json.body.event.recipient.id }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        6320,
        192
      ],
      "id": "44835c69-c425-4630-a3b1-68b360c0bb33",
      "name": "Send a message",
      "webhookId": "876b9484-c9ca-45ce-9714-812e4b68a68f",
      "alwaysOutputData": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "eidB94iWe08RnImU",
          "name": "Slack account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09NS6B24R4",
          "mode": "list",
          "cachedResultName": "linkedin-human-takeover"
        },
        "text": "=🏷️ Label: Booking Link\n\n🏗️ Workspace: Nextus AI\n\n💬 Campaign Name: {{ $('Get row(s) in sheet1').item.json['Campaign Name'] }}\n\n👨 Lead Name: {{ $('Webhook').first().json.body.event.sender.first_name }} {{ $('Webhook').first().json.body.event.sender.last_name }}\n\n🏢 Company Name: {{ $('Lead Info').item.json.lead.current_experience[0].company.name }}\n\n👔 Job Title: {{ $('Lead Info').item.json.lead.current_experience[0].job_title }}\n\n🏢 Company Universal: {{ $('Lead Info').item.json.lead.current_experience[0].company.universal_name }}\n\nLocation: {{ $('Lead Info').item.json.lead.current_experience[0].location.name }}\n\n👨 Account Name: {{ $('Webhook').first().json.body.event.recipient.first_name }} {{ $('Webhook').first().json.body.event.recipient.last_name }}\n\n➡️➡️➡️ Reply: {{ $('Webhook').first().json.body.event.body }}\n\n🔗 Link: https://app.aimfox.com/workspaces/{{ $('Webhook').item.json.body.workspace.id }}/inbox?activeConversation={{ $('Webhook').item.json.body.event.conversation_urn }}&activeAccount={{ $('Webhook').item.json.body.event.recipient.id }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        5968,
        400
      ],
      "id": "46751a96-7640-46f0-a303-c4bdabf5b455",
      "name": "Send a message8",
      "webhookId": "876b9484-c9ca-45ce-9714-812e4b68a68f",
      "alwaysOutputData": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "eidB94iWe08RnImU",
          "name": "Slack account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3840,
        80
      ],
      "id": "2354d3c0-b5a6-4f2e-ae05-a5724fbcd45c",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "tFYLbQt9S6IzWYNd",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lead is: {{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}\n\nContext: {{ $('Code').item.json.Message }}",
        "options": {
          "systemMessage": "=You are a decision making AI agent.\n\nYour only task is to decide whether the assistant should reply to the conversation or not.\n\nYou will receive:\n- The full conversation history from start to finish\n- The lead name\n- The most recent message\n\nYou must read and analyze the entire conversation, with special focus on the last message.\n\nYour output must be only one word, with no punctuation, no explanation, and no additional text:\nyes\nno\nYou are only allowed to output no if one of the strict closure conditions below is clearly met.\n\nOutput yes if ANY of the following applies:\n- The lead declined but remained polite or neutral\n- The lead said they do not currently have a need\n- The lead said they will let you know in the future\n- The lead said they do not have anything right now\n- The lead gave any polite response that leaves the door open\n- The lead answered your question, even if negatively\n- The lead responded in any way that reasonably deserves acknowledgement or polite closure\n- The lead expressed uncertainty or future possibility\n- The lead replied with anything other than a hard stop\n\nExamples that REQUIRE yes:\n- I don't have any but I'll let you know when I do\n- Not at the moment\n- We don't have anything right now\n- Maybe in the future\n- I'll keep you in mind\n- Thanks for reaching out\n- Any polite response that does not explicitly reject future communication\n\nOutput no ONLY if one of these strict conditions is met:\n\n1. The lead explicitly requested no further contact:\nExamples:\n- Stop messaging me\n- Not interested, please do not contact me again\n- Remove me\n- Unsubscribe\n- Do not reach out again\n\n2. The conversation is fully completed AND no acknowledgement is appropriate:\nExamples:\n- Meeting booked and confirmed AND assistant already acknowledged it\n- The lead said goodbye AND assistant already responded appropriately\n\n3. The last message is a pure acknowledgement that clearly does not require any reply AND a polite exit message was already sent previously:\nExamples:\n- Ok\n- Thanks\n- Got it\n- :+1:\n- Thumbs up emoji\nONLY if the assistant has already sent the final closure message.\n\nImportant clarification:\nPolite declines, future-open responses, or neutral responses ALWAYS require yes.\n\nImportant rules:\n- Do not infer intent beyond what is written\n- Do not try to be polite or conversational\n- Do not explain your reasoning\n- Do not output anything other than yes or no\n- If there is any uncertainty, output yes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3280,
        -64
      ],
      "id": "d1c71eb8-389e-49af-938b-e07a2c84c037",
      "name": "Decision Maker Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQxOTA2OTYxOSwiYWFpIjoxMSwidWlkIjo2NDI3NTY2NiwiaWFkIjoiMjAyNC0xMC0wM1QxNTowODowOC4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MjMzNzIwNDIsInJnbiI6InVzZTEifQ.MoC1jx8muY24purLSEUZWQIUw8xcOK8jZ4JVqZTL0MA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  create_item(\n    board_id: 18399476470,\n    group_id: \"group_mm0h98v9\",\n    item_name: \"{{ $('Lead Info').item.json.lead.full_name.replace(/[^a-zA-Z\\s]/g, \"\").trim()  }}\",\n    column_values: \"{\\\"text_mm0ex8q4\\\":\\\"{{ $('Webhook').item.json.body.event.sender.first_name }}\\\",\\\"text_mm0ecdxs\\\":\\\"{{ $('Webhook').item.json.body.event.sender.last_name }}\\\",\\\"date4\\\":\\\"{{ DateTime.fromISO($('Webhook').item.json.body.timestamp).toFormat('yyyy-MM-dd') }}\\\",\\\"email_mm0eatyz\\\":{\\\"email\\\":\\\"{{ $('Webhook').item.json.body.event.sender.email }}\\\",\\\"text\\\":\\\"{{ $('Webhook').item.json.body.event.sender.email }}\\\"},\\\"link_mm0et8fr\\\":{\\\"url\\\":\\\"https://app.aimfox.com/workspaces/{{ $('Webhook').item.json.body.workspace.id }}/inbox?activeConversation={{ $('Webhook').item.json.body.event.conversation_urn }}&activeAccount={{ $('Webhook').item.json.body.event.recipient.id }}\\\",\\\"text\\\":\\\"Aimfox\\\"},\\\"text_mm0etq6p\\\":\\\"{{ $('Webhook').item.json.body.event.message.inmail }}\\\",\\\"link_mm0eve2s\\\":{\\\"url\\\":\\\"https://www.linkedin.com/in/{{ $('Webhook').item.json.body.event.sender.public_identifier }}/\\\",\\\"text\\\":\\\"LinkedIn\\\"},\\\"text_mm0ettcx\\\":\\\"{{ $('Lead Info').item.json.lead.location.name }}\\\",\\\"text_mm0e4jpr\\\":\\\"{{ $('Lead Info').item.json.lead.current_experience[0].company.name }}\\\",\\\"text_mm0en98h\\\":\\\"{{ $('Lead Info').item.json.lead.current_experience[0].location.name }}\\\",\\\"text_mm0enksk\\\":\\\"{{ $('Lead Info').item.json.lead.current_experience[0].job_title }}\\\",\\\"text_mm0ehm45\\\":\\\"{{ $('Webhook').item.json.body.event.recipient.first_name }} {{ $('Webhook').item.json.body.event.recipient.last_name }}\\\",\\\"text_mm0e6whg\\\":\\\"{{ $('Webhook').item.json.body.workspace.name }}\\\",\\\"text_mm0e8y67\\\":\\\"{{ $('Get row(s) in sheet1').item.json['Campaign Name'] }}\\\"}\"\n  ) {\n    id\n  }\n}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6592,
        -368
      ],
      "id": "97709648-066a-4cfe-994a-8f12aa2c7adb",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQxOTA2OTYxOSwiYWFpIjoxMSwidWlkIjo2NDI3NTY2NiwiaWFkIjoiMjAyNC0xMC0wM1QxNTowODowOC4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MjMzNzIwNDIsInJnbiI6InVzZTEifQ.MoC1jx8muY24purLSEUZWQIUw8xcOK8jZ4JVqZTL0MA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  create_item(\n    board_id: 18399476470,\n    group_id: \"group_mm0htnam\",\n    item_name: \"{{ $('Lead Info').item.json.lead.full_name.replace(/[^a-zA-Z\\s]/g, \"\").trim()  }}\",\n    column_values: \"{\\\"text_mm0ex8q4\\\":\\\"{{ $('Webhook').item.json.body.event.sender.first_name }}\\\",\\\"text_mm0ecdxs\\\":\\\"{{ $('Webhook').item.json.body.event.sender.last_name }}\\\",\\\"date4\\\":\\\"{{ DateTime.fromISO($('Webhook').item.json.body.timestamp).toFormat('yyyy-MM-dd') }}\\\",\\\"email_mm0eatyz\\\":{\\\"email\\\":\\\"{{ $('Webhook').item.json.body.event.sender.email }}\\\",\\\"text\\\":\\\"{{ $('Webhook').item.json.body.event.sender.email }}\\\"},\\\"link_mm0et8fr\\\":{\\\"url\\\":\\\"https://app.aimfox.com/workspaces/{{ $('Webhook').item.json.body.workspace.id }}/inbox?activeConversation={{ $('Webhook').item.json.body.event.conversation_urn }}&activeAccount={{ $('Webhook').item.json.body.event.recipient.id }}\\\",\\\"text\\\":\\\"Aimfox\\\"},\\\"text_mm0etq6p\\\":\\\"{{ $('Webhook').item.json.body.event.message.inmail }}\\\",\\\"link_mm0eve2s\\\":{\\\"url\\\":\\\"https://www.linkedin.com/in/{{ $('Webhook').item.json.body.event.sender.public_identifier }}/\\\",\\\"text\\\":\\\"LinkedIn\\\"},\\\"text_mm0ettcx\\\":\\\"{{ $('Lead Info').item.json.lead.location.name }}\\\",\\\"text_mm0e4jpr\\\":\\\"{{ $('Lead Info').item.json.lead.current_experience[0].company.name }}\\\",\\\"text_mm0en98h\\\":\\\"{{ $('Lead Info').item.json.lead.current_experience[0].location }}\\\",\\\"text_mm0enksk\\\":\\\"{{ $('Lead Info').item.json.lead.current_experience[0].job_title }}\\\",\\\"text_mm0ehm45\\\":\\\"{{ $('Webhook').item.json.body.event.recipient.first_name }} {{ $('Webhook').item.json.body.event.recipient.last_name }}\\\",\\\"text_mm0e6whg\\\":\\\"{{ $('Webhook').item.json.body.workspace.name }}\\\",\\\"text_mm0e8y67\\\":\\\"{{ $('Get row(s) in sheet1').item.json['Campaign Name'] }}\\\"}\"\n  ) {\n    id\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7056,
        224
      ],
      "id": "cb2de6fb-cd63-466b-b311-0f3eb8cea140",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "={{ $('Code').item.json.Message }}\n"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        6592,
        -560
      ],
      "id": "f13a2715-ed5e-4245-b78e-6b2d20c5f9b7",
      "name": "Add an update to an item",
      "credentials": {
        "mondayComApi": {
          "id": "XPrpJrLPDAOzNWgi",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": "18399476470",
        "columnId": "name",
        "columnValue": "={{ $('Lead Info').item.json.lead.full_name.replace(/[^a-zA-Z\\s]/g, \"\").trim()  }}",
        "limit": 1
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        6144,
        -464
      ],
      "id": "08ab4687-5ee7-4dab-bc7c-b830c4dbeffe",
      "name": "Get items item by column value2",
      "alwaysOutputData": true,
      "credentials": {
        "mondayComApi": {
          "id": "XPrpJrLPDAOzNWgi",
          "name": "Monday.com account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "994d9214-4a30-4195-87e3-801db03f9877",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6368,
        -464
      ],
      "id": "568bb76f-e207-4c5e-af4f-c64be24fe936",
      "name": "If17"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.data.create_item.id }}",
        "value": "={{ $('Code').item.json.Message }}\n"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        6816,
        -368
      ],
      "id": "373c13e1-35d9-4fd2-81c1-2af4f3315ad3",
      "name": "Add an update to an item1",
      "credentials": {
        "mondayComApi": {
          "id": "XPrpJrLPDAOzNWgi",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "={{ $('Code').item.json.Message }}\n"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        7232,
        64
      ],
      "id": "9062ab9a-32dc-44e5-b664-5fdbd92facdd",
      "name": "Add an update to an item2",
      "credentials": {
        "mondayComApi": {
          "id": "XPrpJrLPDAOzNWgi",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": "18399476470",
        "columnId": "name",
        "columnValue": "={{ $('Lead Info').item.json.lead.full_name.replace(/[^a-zA-Z\\s]/g, \"\").trim()  }}",
        "limit": 1
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        6640,
        144
      ],
      "id": "c1853713-d4d4-4013-9348-1d3e284f55c6",
      "name": "Get items item by column value",
      "alwaysOutputData": true,
      "credentials": {
        "mondayComApi": {
          "id": "XPrpJrLPDAOzNWgi",
          "name": "Monday.com account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "994d9214-4a30-4195-87e3-801db03f9877",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6848,
        144
      ],
      "id": "c0206e12-1997-4a7a-a604-e43a47a090f2",
      "name": "If18"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.data.create_item.id }}",
        "value": "={{ $('Code').item.json.Message }}\n"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        7344,
        224
      ],
      "id": "6fed42b3-5b43-4334-8da5-7d96bedbdab2",
      "name": "Add an update to an item3",
      "credentials": {
        "mondayComApi": {
          "id": "XPrpJrLPDAOzNWgi",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clay.com/v3/sources/webhook/pull-in-data-from-a-webhook-82271fb1-214c-40d4-b428-828feded561a",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Full Name",
              "value": "={{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}"
            },
            {
              "name": "LinkedIn Profile",
              "value": "=www.linkedin.com/in/{{ $('Webhook').item.json.body.event.sender.public_identifier }}"
            },
            {
              "name": "Company Name",
              "value": "={{ $('Lead Info').item.json.lead.current_experience[0].company.name }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Webhook').item.json.body.event.sender.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6944,
        -848
      ],
      "id": "e52bf955-1f77-4784-a9b6-a0f03d67bb85",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"\",\n  \"email\": \"\",\n  \"phone\": \"\",\n  \"linkedin\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        6640,
        656
      ],
      "id": "390bf404-74de-4490-b04b-14b447e90af0",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lead is: {{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}\n\nContext: {{ $('Code').item.json.Message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You MUST respond with ONLY valid JSON in the exact format specified. Do not include any explanatory text, markdown formatting, or additional commentary before or after the JSON object.\n\n### Role\nYou are a Lead Qualification Specialist. Your task is to analyze a linkedin thread and identify if the sender is referring you to a different person.\n\n### Objective\nExtract the following details of the *referred person* ONLY:\n- **name**: Full name of the referred person (first and last if available)\n- **email**: Email address in valid format\n- **phone**: Phone number, office extension, or contact number (preserve country codes and extensions)\n- **linkedin**: LinkedIn profile URL (must contain \"linkedin.com/in/\" or \"linkedin.com/company/\")\n\n### Extraction Rules\n1. **ONLY extract information about people being referred to you** - Do NOT extract:\n   - The sender's own contact information\n   - The original recipient's information\n   - Anyone not being suggested as a new contact\n\n2. **Name Extraction:**\n   - Extract full name if provided (e.g., \"Alice Vance\")\n   - Extract partial name if only first or last name given\n   - If no name found, return empty string \"\"\n\n3. **Email Extraction:**\n   - Must be valid email format (contains @ and domain)\n   - Extract only emails belonging to the referred person\n   - If no email found, return empty string \"\"\n\n4. **Phone Extraction:**\n   - Include country codes if present (e.g., \"+1-555-123-4567\")\n   - Include extensions (e.g., \"ext. 402\" or \"x1234\")\n   - Accept various formats: (555) 123-4567, 555-123-4567, 555.123.4567\n   - If no phone found, return empty string \"\"\n\n5. **LinkedIn Extraction:**\n   - Must be a complete LinkedIn URL\n   - Accept formats: https://linkedin.com/in/username or https://www.linkedin.com/in/username\n   - If no LinkedIn found, return empty string \"\"\n\n### CRITICAL: Output Format Requirements\nYou MUST return EXACTLY this JSON structure with all four fields, no more, no less:\n{\n  \"name\": \"string or empty\",\n  \"email\": \"string or empty\",\n  \"phone\": \"string or empty\",\n  \"linkedin\": \"string or empty\"\n}\n\nDo NOT add any fields. Do NOT omit any fields. Use empty string \"\" for missing values.\n\n### Multiple Referrals\nIf multiple people are referred, extract the FIRST person mentioned as the primary contact.\n\n### Example Outputs (Copy this format exactly)\n\nExample 1 - Full referral:\n{\n  \"name\": \"Alice Vance\",\n  \"email\": \"a.vance@company.org\",\n  \"phone\": \"ext. 402\",\n  \"linkedin\": \"\"\n}\n\nExample 2 - Partial referral:\n{\n  \"name\": \"John\",\n  \"email\": \"john.smith@company.com\",\n  \"phone\": \"\",\n  \"linkedin\": \"\"\n}\n\nExample 3 - No referral:\n{\n  \"name\": \"\",\n  \"email\": \"\",\n  \"phone\": \"\",\n  \"linkedin\": \"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        6432,
        432
      ],
      "id": "14928e9d-4e70-44af-8e41-53ac4eff36f9",
      "name": "AI Agent5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        6384,
        672
      ],
      "id": "993ce65f-3c75-42fc-bf63-83b81cfad4a4",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "T1h71eOjG2RI1HDX",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clay.com/v3/sources/webhook/pull-in-data-from-a-webhook-c5845586-4b11-4d4c-beb0-8c93fdfd01e8",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Name",
              "value": "={{ $json.output.name }}"
            },
            {
              "name": "LinkedIn Profile",
              "value": "={{ $json.output.linkedin }}"
            },
            {
              "name": "Phone",
              "value": "={{ $json.output.phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $json.output.email }}"
            },
            {
              "name": "Company Name",
              "value": "={{ $('Lead Info').item.json.lead.current_experience[0].company.name }}"
            },
            {
              "name": "Lead Name",
              "value": "={{ $('Lead Info').item.json.lead.full_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6784,
        432
      ],
      "id": "388624e5-5bc1-4682-b752-cc0aa6a10350",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "OKKHDSWxv30Zt2Eh",
          "mode": "list",
          "cachedResultName": "Aimfox Reply Timestramp",
          "cachedResultUrl": "/projects/h75IwkxkzFQqllYm/datatables/OKKHDSWxv30Zt2Eh"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "LeadID",
              "keyValue": "={{ $('Thread').item.json.messages[0].sender.id }}"
            },
            {
              "keyName": "Timestramp",
              "keyValue": "={{ $('Thread').item.json.messages[0].created_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2400,
        352
      ],
      "id": "ac8238da-30ed-497c-9f73-5c0ffd8906ab",
      "name": "Get row(s)",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "OKKHDSWxv30Zt2Eh",
          "mode": "list",
          "cachedResultName": "Aimfox Reply Timestramp",
          "cachedResultUrl": "/projects/h75IwkxkzFQqllYm/datatables/OKKHDSWxv30Zt2Eh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LeadID": "={{ $('Thread').item.json.messages[0].sender.id }}",
            "Timestramp": "={{ $('Thread').item.json.messages[0].created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "LeadID",
              "displayName": "LeadID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestramp",
              "displayName": "Timestramp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2848,
        432
      ],
      "id": "cb637473-0988-4e7b-8700-7135a4b7a8f5",
      "name": "Insert row1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "94f073ec-046b-482f-82d1-aad52ddd15eb",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2624,
        352
      ],
      "id": "6ca7fb93-378c-4b61-a257-b3eccfa88bac",
      "name": "If22",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "uHZ2YwYyqDuPfJl9",
          "mode": "list",
          "cachedResultName": "Nextus AI - Slack Counter for Linkedin Reply Agent",
          "cachedResultUrl": "/projects/h75IwkxkzFQqllYm/datatables/uHZ2YwYyqDuPfJl9"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "senderID",
              "keyValue": "={{ $('Webhook').item.json.body.event.sender.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6192,
        -688
      ],
      "id": "1d18512c-bef3-443e-81ba-c3dc9380a79c",
      "name": "Get row(s)1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "uHZ2YwYyqDuPfJl9",
          "mode": "list",
          "cachedResultName": "Nextus AI - Slack Counter for Linkedin Reply Agent",
          "cachedResultUrl": "/projects/h75IwkxkzFQqllYm/datatables/uHZ2YwYyqDuPfJl9"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "senderID": "={{ $('Webhook').item.json.body.event.sender.id }}"
          },
          "matchingColumns": [
            "senderID"
          ],
          "schema": [
            {
              "id": "senderID",
              "displayName": "senderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6672,
        -800
      ],
      "id": "e2b859ec-6934-446f-b476-b15832aa6094",
      "name": "Insert row2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "94f073ec-046b-482f-82d1-aad52ddd15eb",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6400,
        -752
      ],
      "id": "c2630870-db9b-43f5-8285-d90872466034",
      "name": "If23",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4000,
        96
      ],
      "id": "fb75668c-0bd3-46a4-b40c-fe7594f4789e",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "T1h71eOjG2RI1HDX",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lead is: {{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}\n\nContext: {{ $('Code').item.json.Message }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=## Identity & Purpose\nYou are Reply Agent, a LinkedIn assistant for Nextus ITAD, a company that helps businesses with their IT asset disposal needs.\n\nYour purpose is to respond to LinkedIn messages from prospects who have replied to our initial outreach.\n\nYour goals:\n1. Answer any questions naturally and helpfully.\n2. Subtly guide the conversation toward a short 15-minute call to discuss their IT asset management or disposal needs.\n   - Default contact number: +1 (602) 529-6579\n   - Only share or mention this number if the prospect explicitly agrees or asks to schedule a call.\n   - If they ask who the call is with, mention it’s with Marwah Ibrahim (Director).\n\n---\n\n## Voice & Persona\n- Friendly, confident, professional, and human.\n- Conversational and helpful, like chatting with a colleague.\n- Calm with polite persistence, no pressure.\n- Match the prospect’s tone, formal to informal.\n- Never use or reference the prospect’s name.\n\n---\n\n## Style Guidelines\n- Keep messages short and natural, max 3–4 short sentences.\n- Write like a real LinkedIn DM, no “Dear,” no long paragraphs.\n- Use two line breaks between paragraphs.\n- Avoid overly polished marketing language.\n- Emojis allowed only if the prospect uses them first.\n- Never oversell or use spammy words (free, guarantee, urgent, limited offer, etc.).\n- Don’t use phrases like “I hope you’re doing well” or “quick note.”\n- Never suggest specific days or times.\n- Only mention scheduling if the prospect brings it up.\n- Never assume details or invent information.\n- No placeholders or names.\n- Keep 1–3 paragraphs maximum.\n\n---\n\n## Message Formatting\n- Use two newline characters to separate paragraphs.\n- Each paragraph should contain one thought.\n\nExample:\nAbsolutely. We securely handle pickup, data destruction, and resale of your retired hardware.\n\nEverything is fully tracked and certified, with detailed reports and certificates of destruction.\n\n---\n\n## Business Overview\nNextus ITAD provides:\n- Certified data destruction (NIST 800-88, DoD 5220.22-M)\n- Pickup, tagging, logistics, and reverse supply chain\n- Secure recycling and zero-landfill processing\n- Value recovery and resale to maximize returns\n- Serialized reporting, certificates, and compliance documentation\n- Support for sustainability and ESG programs\n- Handling of small office loads to large data center decommissions\n\nAccepted equipment: laptops, desktops, servers, switches, storage, networking gear, peripherals, and more.\n\n---\n\n## Contact Information (Only if asked)\nemail: partnerships@nextusitad.com\nphone: +1 (602) 885-0797\nwebsite: www.nextusitad.com\n\n---\n\n## Key Message Pillars\n- Retired hardware often holds hidden resale value.\n- Data security comes first.\n- Full transparency through reporting and tracking.\n- Zero-landfill disposal aligned with ESG goals.\n- One partner for pickup, destruction, resale, and documentation.\n\n---\n\n## Soft CTAs\nUse gentle CTAs like:\n- “Would you be open to a quick chat about this?”\n- “Would you be open to a short 15-minute call to see how this might fit your setup?”\n- “Happy to share more details if helpful.”\n- “Would it make sense to explore this together briefly?”\n- “Open to a quick conversation to see if this could work for you?”\n- “Would you be open to hearing how others in your space handle this?”\n\n---\n\n## Scenario Handling\n\n### Interested – Ready to Book\nIf the prospect says they want to talk:\n- Confirm and share the contact number so they can reach Marwah directly.\n\n### Asking for Info\n- Give a short, clear explanation.\n- Then use a soft CTA.\n- Do not share the number unless they ask or agree.\n\n### Not Interested (Always reply)\nIf they say “No,” “Not now,” “We’re all set,” etc.:\nSend a soft closing message like:\n“Totally understand, and appreciate you letting me know. If things change down the road, feel free to reach out.”\n\n### Referral\nIf the prospect refers someone or shares a lead, do not ask for more information or request an introduction.\nRespond with:\n“Thank you, we’ll reach out to him.”\n\n### Prospect Sends Their Calendar Link\nAcknowledge and say you’ll book a slot. Never tell you have joined the meeting or anything based on assumptions.\n\n### Already Have a Vendor or Contract\nAcknowledge politely and do not end the conversation.\nAsk if they would be open to receiving a quotation.\nYou may add when helpful:\n“No worries if you already have a partner - many of our clients did too.\nWe simply benchmark what you’re getting today against what we could return. In most cases, our valuations come in 15–40% higher.”\n\n### Location Questions\nIf the prospect asks where you operate or about coverage, explain that we work with a group of ITAD organizations and act like brokers to secure the best possible deal for their IT equipment.\nYou may then mention nationwide coverage.\n\n### Prospect Asks You to Call Them\nIf the prospect asks you to call them, do not share the contact number.\nThank them and say that you will reach out to them.\n\nIf they have not provided a phone number, ask them to share the best number to reach them.\n\n---\n\n## Operating Rules\n- Always read the full thread before replying.\n- Never use the prospect's name.\n- Never include explanations in the final output.\n- Final output must be only the LinkedIn message text.\n- If they ask for contact information, provide it exactly as listed.\n\n---\n\n## FAQ\nThese are not messages to send verbatim.\nThey describe our capabilities and reference responses so you can understand context and generate your own replies in a natural, human way.\n\nYour goal is to:\n- Interpret what the prospect is asking.\n- Identify which capability or topic it relates to.\n- Then write a short, conversational response that fits the tone and flow of the chat.\n\n---\n\n## ITAD Outreach — Common Scenarios & Responses\n\n### \"We already have a vendor.\"\nNo worries if you already have a partner - many of our clients did too.\nWe simply benchmark what you’re getting today against what we could return. In most cases, our valuations come in 15–40% higher.\n\n### \"Yes, we have some equipment.\"\nAsk them to send a list of the equipment.\nThen suggest continuing the conversation with a short call.\n\n### \"We’re planning a refresh next quarter.\"\nSuggest connecting now so they are prepared when the time comes and can maximize return.\n\n### \"Send me more details / pricing.\"\nExplain that pricing depends on type and quantity.\nAsk if they can share a list and suggest a brief call to review it.\n\n### \"We just did a refresh.\"\nAsk how often they typically refresh and whether you could be added for future projects.\n\n### \"Where do you operate?\"\nExplain the broker model first, then confirm nationwide coverage.\n\n### \"What would be the next steps?\"\nExplain the next step is connecting with the team.\nOffer a short call if they are open to it.\n\n### \"Do you provide packaging or transport?\"\nYes, all logistics including packaging and transport are handled.\n\n### \"Do you perform data destruction?\"\nYes, certified data destruction is provided.\n\n### \"What certifications do you have?\"\nR2v3 and NIST 800-88 authorized.\n\n### \"Do you provide data-erasure reports?\"\nYes, full certificates and audit reports are included.\n\n### \"Do you charge for collection?\"\nIt depends on volume, but in most cases there is no charge.\n\n### \"How much do you pay?\"\nThat depends on type, condition, and quantity of equipment.\n\n### \"Do you provide reporting?\"\nYes, comprehensive reporting and documentation are included.\n\n### \"We prefer donating working equipment.\"\nThat is supported through nonprofit partnerships.\n\n### \"What type of equipment do you purchase?\"\nNearly all types of IT equipment are accepted.\n\n### \"Can you do onsite data destruction?\"\nYes, secure on-site data destruction is available.\n\n### \"Can you do onsite equipment sorting?\"\nYes, on-site sorting and preparation can be handled."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3840,
        -288
      ],
      "id": "1ccf4d77-5ed7-4934-a571-e10f9eff9f5e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "amount": "={{ [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120][Math.floor(Math.random() * 13)] }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1968,
        -64
      ],
      "id": "d1f92b43-e4ab-4aee-959c-8156beaa4342",
      "name": "Wait13",
      "webhookId": "fb646a01-8b50-4acf-af4a-335b208a73de"
    },
    {
      "parameters": {
        "jsCode": "// MCO: Seed all historical thread messages EXCEPT the current trigger message.\n// The current message is handled exclusively by MCO: Write Inbound — no overlap.\nconst wb = $('Webhook').first().json.body;\nconst s = wb.event.sender;\nconst currentMsgUrn = wb.event.message_urn;\nconst leadEmail = 'urn_' + s.public_identifier + '@linkedin.placeholder';\nconst profileUrl = 'https://www.linkedin.com/in/' + s.public_identifier;\nconst leadName = s.first_name + ' ' + s.last_name;\nconst leadId = String(s.id);\nconst raw = $('Thread').first().json;\nconst msgs = (Array.isArray(raw) ? raw[0] : raw)?.messages || [];\nconst historical = msgs\n  .filter(m => m.urn !== currentMsgUrn)\n  .sort((a,b) => (a.created_at||0) - (b.created_at||0));\nif (historical.length === 0) return [];\nreturn historical.map(m => {\n  const sid = String(m.sender?.id || m.sender || '');\n  const dir = sid === leadId ? 'inbound' : 'outbound';\n  const eid = m.urn || (wb.event.conversation_urn + '_' + (m.created_at || 0));\n  return { json: {\n    event_id: eid,\n    lead_email: leadEmail,\n    timestamp: new Date(m.created_at || Date.now()).toISOString(),\n    channel: 'linkedin',\n    direction: dir,\n    content: m.body || '',\n    content_type: 'message',\n    sender_name: dir === 'outbound' ? 'Nextus AI' : leadName,\n    full_name: leadName,\n    linkedin_profile_url: profileUrl\n  }};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        -464
      ],
      "id": "mco-build-B1",
      "name": "MCO: Build Seed B1"
    },
    {
      "parameters": {
        "path": "d87a0b06-fa6d-4962-9082-bd8b26bbde80",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1712,
        -48
      ],
      "id": "b1460633-33ae-4a3f-9d87-6e996eadc097",
      "name": "Webhook",
      "webhookId": "d87a0b06-fa6d-4962-9082-bd8b26bbde80"
    },
    {
      "parameters": {
        "jsCode": "\nconst WRITE_URL = 'https://nextus.app.n8n.cloud/webhook/mco-write-event';\nconst SUPA_URL  = 'https://hkqssbomrcbtfbdowtgj.supabase.co';\nconst SUPA_KEY  = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrcXNzYm9tcmNidGZiZG93dGdqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzg3MTU1MywiZXhwIjoyMDkzNDQ3NTUzfQ.sIW3-eY1IVz1CuErVL9k_2IC9LX1nBS_S9wkT__RgoI';\n\nconst ev = $('Webhook').first().json.body.event;\nconst s  = ev.sender;\nconst leadEmail   = 'urn_' + s.public_identifier + '@linkedin.placeholder';\nconst senderName  = (s.first_name || '') + ' ' + (s.last_name || '');\nconst linkedinUrl = 'https://www.linkedin.com/in/' + s.public_identifier;\n\n// Check if this lead already exists in Supabase\nconst checkResp = await fetch(\n  SUPA_URL + '/rest/v1/leads?lead_email=eq.' + encodeURIComponent(leadEmail) + '&select=lead_email&limit=1',\n  { headers: { apikey: SUPA_KEY, Authorization: 'Bearer ' + SUPA_KEY } }\n);\nconst rows = await checkResp.json();\n\nif (!Array.isArray(rows) || rows.length === 0) {\n  // Not in Supabase — first-time lead, do nothing here\n  return [{ json: { mco_wrote: false, reason: 'not_in_supabase' } }];\n}\n\n// Returning lead — write current inbound + outbound\nlet outboundContent = '';\ntry { outboundContent = ($('AI Agent1').first().json.output || '').trim(); } catch(e) {}\n\nawait fetch(WRITE_URL, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    event_id:             ev.message_urn,\n    lead_email:           leadEmail,\n    timestamp:            ev.timestamp || new Date().toISOString(),\n    channel:              'linkedin',\n    direction:            'inbound',\n    content:              ev.body,\n    content_type:         'message',\n    sender_name:          senderName,\n    full_name:            senderName,\n    linkedin_profile_url: linkedinUrl,\n    intent:               'unknown'\n  })\n});\n\nif (outboundContent) {\n  await fetch(WRITE_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      event_id:     ev.message_urn + '_out',\n      lead_email:   leadEmail,\n      timestamp:    new Date().toISOString(),\n      channel:      'linkedin',\n      direction:    'outbound',\n      content:      outboundContent,\n      content_type: 'message',\n      sender_name:  'Anik Hanik',\n      intent:       'no_action'\n    })\n  });\n}\n\nreturn [{ json: { mco_wrote: true, lead_email: leadEmail } }];\n"
      },
      "id": "n-write-returning",
      "name": "MCO: Write Returning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst WRITE_URL = 'https://nextus.app.n8n.cloud/webhook/mco-write-event';\nconst SUPA_URL  = 'https://hkqssbomrcbtfbdowtgj.supabase.co';\nconst SUPA_KEY  = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrcXNzYm9tcmNidGZiZG93dGdqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzg3MTU1MywiZXhwIjoyMDkzNDQ3NTUzfQ.sIW3-eY1IVz1CuErVL9k_2IC9LX1nBS_S9wkT__RgoI';\n\nconst ev = $('Webhook').first().json.body.event;\nconst s  = ev.sender;\nconst leadEmail   = 'urn_' + s.public_identifier + '@linkedin.placeholder';\nconst senderName  = (s.first_name || '') + ' ' + (s.last_name || '');\nconst linkedinUrl = 'https://www.linkedin.com/in/' + s.public_identifier;\n\n// Check if this lead already exists in Supabase\nconst checkResp = await fetch(\n  SUPA_URL + '/rest/v1/leads?lead_email=eq.' + encodeURIComponent(leadEmail) + '&select=lead_email&limit=1',\n  { headers: { apikey: SUPA_KEY, Authorization: 'Bearer ' + SUPA_KEY } }\n);\nconst rows = await checkResp.json();\n\nif (Array.isArray(rows) && rows.length > 0) {\n  // Already in Supabase — returning lead, already written by MCO: Write Returning\n  return [{ json: { mco_wrote: false, reason: 'already_in_supabase' } }];\n}\n\n// First-time interested lead — write full thread + inbound + outbound\nlet outboundContent = '';\ntry { outboundContent = ($('AI Agent1').first().json.output || '').trim(); } catch(e) {}\n\n// 1. Full historical thread (seed built by MCO: Build Seed B1)\nlet seedItems = [];\ntry { seedItems = $('MCO: Build Seed B1').all(); } catch(e) {}\n\nfor (const item of seedItems) {\n  await fetch(WRITE_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(item.json)\n  });\n}\n\n// 2. Current inbound — intent=interested, triggers email follow-up\nawait fetch(WRITE_URL, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    event_id:              ev.message_urn,\n    lead_email:            leadEmail,\n    timestamp:             ev.timestamp || new Date().toISOString(),\n    channel:               'linkedin',\n    direction:             'inbound',\n    content:               ev.body,\n    content_type:          'message',\n    sender_name:           senderName,\n    full_name:             senderName,\n    linkedin_profile_url:  linkedinUrl,\n    intent:                'interested',\n    trigger_cross_channel: true,\n    target_channels:       ['email'],\n    follow_up_context:     'Lead replied on LinkedIn and expressed interest'\n  })\n});\n\n// 3. Our outbound reply\nif (outboundContent) {\n  await fetch(WRITE_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      event_id:     ev.message_urn + '_out',\n      lead_email:   leadEmail,\n      timestamp:    new Date().toISOString(),\n      channel:      'linkedin',\n      direction:    'outbound',\n      content:      outboundContent,\n      content_type: 'message',\n      sender_name:  'Anik Hanik',\n      intent:       'no_action'\n    })\n  });\n}\n\nreturn [{ json: { mco_wrote: true, seed_count: seedItems.length, lead_email: leadEmail } }];\n"
      },
      "id": "n-write-first-interested",
      "name": "MCO: Write First Interested",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5696,
        -800
      ]
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Decision Maker Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Mark Interested",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Interested",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Referral",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Already Have Contract",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Thread": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "MCO: Build Seed B1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Info": {
      "main": [
        [
          {
            "node": "Wait13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Interested": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get items item by column value2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          },
          {
            "node": "MCO: Write First Interested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          },
          {
            "node": "MCO: Write Returning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Lead Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Referral": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking": {
      "main": [
        [
          {
            "node": "Send a message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Append row in sheet2": {
      "main": [
        []
      ]
    },
    "Wait5": {
      "main": [
        []
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Decision Maker Agent": {
      "main": [
        [
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message6": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Get items item by column value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get items item by column value2": {
      "main": [
        [
          {
            "node": "If17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If17": {
      "main": [
        [
          {
            "node": "Add an update to an item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Add an update to an item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get items item by column value": {
      "main": [
        [
          {
            "node": "If18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If18": {
      "main": [
        [
          {
            "node": "Add an update to an item2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Add an update to an item3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If22": {
      "main": [
        [],
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row1": {
      "main": [
        [
          {
            "node": "Decision Maker Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "If23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If23": {
      "main": [
        [],
        [
          {
            "node": "Insert row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row2": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "node": "Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCO: Build Seed B1": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "nEiTKgedsmFUoDOL",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c54d2888-6b55-4ec8-baca-d79bdaf5e64e",
  "activeVersionId": "6fea164d-c5de-4068-9544-2ef365acb30d",
  "versionCounter": 68,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-09T20:35:32.732Z",
      "createdAt": "2026-05-09T20:35:32.732Z",
      "role": "workflow:owner",
      "workflowId": "mAGUFlmJZ0gwge3s",
      "projectId": "h75IwkxkzFQqllYm",
      "project": {
        "updatedAt": "2025-06-30T19:40:11.857Z",
        "createdAt": "2025-06-30T17:50:07.677Z",
        "id": "h75IwkxkzFQqllYm",
        "name": "Mohammad Imran Hossain Anik <anik@nextus.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "be90841b-174c-4ea0-b7b4-0aa745ad513b"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-11T21:59:52.827Z",
    "createdAt": "2026-05-11T21:59:52.827Z",
    "versionId": "6fea164d-c5de-4068-9544-2ef365acb30d",
    "workflowId": "mAGUFlmJZ0gwge3s",
    "nodes": [
      {
        "parameters": {
          "jsCode": "// Input: items[0].json (root array like [{ messages: [...] }])\n// Output: one flat item { Message: \"...\" }\n\nconst root = items?.[0]?.json;\n\n// Normalize\nconst obj = Array.isArray(root) ? root[0] : root;\n\n// Fallback\nif (!obj || !Array.isArray(obj.messages)) {\n  return [{ json: { Message: \"\" } }];\n}\n\n// Sort and combine\nconst combined = obj.messages\n  .slice()\n  .sort((a, b) => (a?.created_at || 0) - (b?.created_at || 0))\n  .map(m => {\n    const sender = m?.sender?.full_name || \"Unknown\";\n    const body = m?.body || \"\";\n    const time = new Date(m?.created_at || 0).toISOString();\n    return `${sender} (${time}): ${body}`;\n  })\n  .join(\"\\n\\n\");\n\n// Return single flat object\nreturn [\n  {\n    json: {\n      Message: combined\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2608,
          -80
        ],
        "id": "46191bfe-ba89-4bf7-8955-cdaa8c4d3206",
        "name": "Code"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "gpt-5-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          3360,
          224
        ],
        "id": "4a4e2c33-f974-47aa-9159-7b7b5e7009fb",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "T1h71eOjG2RI1HDX",
            "name": "OpenAi account 3"
          }
        }
      },
      {
        "parameters": {
          "inputText": "=Lead is: {{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}\n\nContext: {{ $('Code').item.json.Message }}",
          "categories": {
            "categories": [
              {
                "category": "Interested",
                "description": "=Definition:\nThe prospect clearly shows intent, positive engagement, genuine curiosity about the service, or openness. They want to discuss, learn more, are open to booking a call, or are considering it. They might say things like “Sure, let’s chat”, “Sounds good”, “Can you send me a link?”, or “Let’s schedule something next week.” They may also ask for specific details about your service without committing yet.\n\nExamples of intent cues include: “Yes”, “Let’s talk”, “Interested”, “Book”, “Schedule”, “Call”, “Demo”.\n\nGuidance for AI:\nLabel as this if the message contains clear positive engagement, willingness to meet, or language showing action intent such as booking, scheduling, calling, seeing a demo, or learning more about the service. \n\nCRITICAL EXCLUSIONS - Do NOT label as Interested if:\n1. The prospect states \"I'm not sure\", \"I don't know\", or expresses non-committal hesitation.\n2. The prospect directs you to apply through a generic website or vendor portal.\n3. The prospect responds with confused, suspicious, or one-liner questions like \"What is this?\", \"Who are you?\", or \"Why are you emailing me?\""
              },
              {
                "category": "Not Interested",
                "description": "=Definition:\nThe prospect expresses disinterest, rejection, a firm “no,” or a non-committal soft decline.\nThey might say “Not interested”, “We’re all set”, “No need right now”, “We don't have any equipment at this moment”, “I will update you when we have”, or “Please don’t reach out again.”\n\nGuidance for AI:\nLabel as this if the message conveys clear refusal, closure, or a lack of current equipment.\nInclude polite declines (“Not a fit”, “Maybe later”), hard no’s, and promises of future contact if they currently have nothing to dispose of.\nCRITICAL: Also label as this if the prospect responds with vague uncertainty like \"I'm not sure,\" \"I don't know,\" or \"I don't think so\" regarding having equipment. Treat these non-committal replies as a soft rejection.\nCRITICAL DEFLECTIONS: Label as this if the prospect politely deflects by telling you to register on a generic corporate website or vendor portal (e.g., \"go to our website and put yourself as a vendor\").\nExclude if they give a referral or ask for info instead."
              },
              {
                "category": "Referral",
                "description": "=Label as REFERRAL only when the prospect explicitly redirects you to a specific person, department, or provides contact details for someone else to reach.\n\nTrigger this label if the message contains:\n\n* A direct instruction to contact another person or department\n  (e.g., \"You should talk to John\", \"Contact our IT manager\", \"Reach out to procurement\")\n* An introduction or loop-in of another person\n  (e.g., \"I'm looping in Sarah\", \"I'll CC our CIO on this\", \"Let me introduce you to our tech lead\")\n* Contact details (name + email, phone, or LinkedIn) of another person they are directing you to\n  (e.g., \"Here's Mark's email: mark@company.com\", \"Call our procurement head at +1-800-...\")\n* Explicit handoff language\n  (e.g., \"He handles this\", \"She's the right person\", \"They make these decisions\")\n\nDo NOT label as REFERRAL if:\n\n* Another department or role is merely mentioned in passing without a redirect\n  (e.g., \"Our IT team uses X tool\", \"Procurement approved the budget last year\")\n* The prospect is explaining their internal structure without directing you anywhere\n  (e.g., \"We have a separate ESG department\")\n* The message is vague or ambiguous about who you should contact\n* No clear action or redirect is stated\n\nRule of thumb: Ask — \"Is this prospect telling me to go talk to someone else, or giving me the means to do so?\" If yes → REFERRAL. If they're just mentioning someone or a team in context → do NOT label as REFERRAL."
              },
              {
                "category": "Booking",
                "description": "=The prospect provides their own booking link or calendar (e.g., Calendly, Cal.com, HubSpot link).\n They might write: “Here’s my link to schedule a time”, “Book directly here”, or paste their calendar URL.\nGuidance for AI:\nLabel as this if message contains any booking link or scheduling instruction from the prospect {{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}\n\nDo not classify this if we provide the meeting link, this is only if they provide the booking link.\n\nIt indicates strong interest, but requires human confirmation to respect the prospect’s calendar and context.\n"
              },
              {
                "category": "Already Have Contract",
                "description": "=Definition:\nThe prospect clearly indicates that they already have an existing vendor, supplier, or partner handling similar services. They may mention having a contract, agreement, or relationship currently in place with another company or system.\n\nGuidance for AI:\nLabel as this if the message mentions an existing partner, provider, or vendor — showing that the prospect is already engaged with another service for the same purpose.\nDo not label if they simply express disinterest, want to delay, or handle things internally without referencing another provider.\n\nFocus on language indicating:\n\nExisting partnerships or vendor relationships\n\nBeing \"covered\" or \"already set\"\n\nReferences to ongoing contracts or current providers\n\nExamples of intent cues:\n“Already have a vendor”\n“We work with another partner”\n“We’re covered right now”\n“We already have someone handling this”\n“We have a contract in place”\n“We’re in a contract with another provider”\n“Currently working with a supplier”\n“Already using another service”\n“We’re all set with a vendor”"
              },
              {
                "category": "No Action",
                "description": "=The prospect's message is vague, ambiguous, incomplete, or does not contain enough signal to determine intent. This includes one-word or generic replies, out-of-context responses, auto-replies, messages that acknowledge receipt without expressing any direction, or messages where the meaning is genuinely unclear.\n\nGuidance for AI:\nLabel as this if the message cannot be confidently assigned to any other category. Use this as the fallback only when no intent signal — positive, negative, referral, booking, or vendor-related — can be reasonably inferred.\n\nLabel as this if the message contains:\n* Generic acknowledgments with no follow-up intent (e.g., \"Thanks\", \"Got it\", \"OK\", \"Sure\", \"Noted\")\n* Expressions of confusion or suspicion without engaging the pitch (e.g., \"What is this?\", \"Who is this?\", \"Do I know you?\")\n* Auto-replies or out-of-office messages (e.g., \"I'm currently unavailable\", \"I'll be back on Monday\")\n* Incomplete or fragmented messages that lack context\n* Greetings or pleasantries with no actionable content (e.g., \"Hey\", \"Hope you're well too\")\n* Responses that are entirely off-topic or unrelated to the outreach\n* Messages where the prospect neither accepts, declines, redirects, nor asks anything meaningful\n* If the prospect reply contains only emojis (such as 👍, 👌, 😂, ❤️, 👀, 🙌, etc.) and no meaningful text, classify the response as \"No Action\".\n\nDo NOT label as this if:\n* There is any hint of curiosity, hesitation, or mild interest — label as Interested instead\n* The prospect mentions another vendor or partner — label as Already Have Contract\n* There is any form of redirect to another person — label as Referral\n* The refusal is clear even if brief — label as Not Interested\n* The prospect mentions looping in or directing you to a specific person with contact details or an explicit handoff — label as Referral instead. \n  Only label as No Action if they reference their team or department internally \n  without redirecting you to anyone specific or providing any contact information.\n\nRule of thumb: Ask — \"Can I reasonably determine what this prospect wants or feels about this outreach?\" If no — label as No Action.\n\nExamples of No Action cues:\n\"I'll discuss this with my team and get back to you\"\n\"Let me bring this up with the department\"\n\"I'll check with the team\"\n\"We'll have an internal discussion about this\"\n\"I need to run this by my manager first\"\n\"Let me talk to the relevant people and we'll be in touch\""
              }
            ]
          },
          "options": {
            "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: Interested, Not Interested, Referral, Booking, Already Have Contract, No Action.\n\nUse the provided formatting instructions below. Don't explain, and only output the json.\nYou must provide an output."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1.1,
        "position": [
          5200,
          -112
        ],
        "id": "32a332ad-b1a2-4300-be4d-845c0341deb0",
        "name": "Text Classifier"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5",
            "mode": "list",
            "cachedResultName": "gpt-5"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          5200,
          192
        ],
        "id": "5c49df55-3b09-4a4f-a987-6ee0c148d26e",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "T1h71eOjG2RI1HDX",
            "name": "OpenAi account 3"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.aimfox.com/api/v2/accounts/{{ $('Webhook').item.json.body.event.recipient.id }}/conversations/{{ $('Webhook').item.json.body.event.conversation_urn }} ",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2192,
          -64
        ],
        "id": "85250871-0aed-40dd-a3b2-723c9b47330f",
        "name": "Thread",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.aimfox.com/api/v2/accounts/{{ $('Webhook').item.json.body.event.recipient.id }}/conversations/{{ $('Webhook').item.json.body.event.conversation_urn }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json.output }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4464,
          -240
        ],
        "id": "0eeeb249-98be-478d-b7ca-df708ac5ecfe",
        "name": "Send Reply",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.aimfox.com/api/v2/leads/{{ $('Webhook').item.json.body.event.sender.id }}/labels/f415aea2-e461-470a-9050-d5c5da970fd3",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5696,
          -400
        ],
        "id": "334a8693-455d-44e0-ac7c-db9edf8f1ef9",
        "name": "Mark Interested"
      },
      {
        "parameters": {
          "url": "=https://api.aimfox.com/api/v2/leads/{{ $('Webhook').item.json.body.event.sender.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1728,
          -64
        ],
        "id": "c5457e76-6730-4d70-8a1b-3120b86edf38",
        "name": "Lead Info",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.aimfox.com/api/v2/leads/{{ $('Webhook').item.json.body.event.sender.id }}/labels/11774a15-9df7-4968-9ea0-860c5bd3f144",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5744,
          -112
        ],
        "id": "3ad5e3c6-46b0-4c96-82ce-e4cbbf81ce25",
        "name": "Not Interested"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.aimfox.com/api/v2/leads/{{ $('Webhook').item.json.body.event.sender.id }}/labels/64d873e7-b532-4f6b-8c6e-79715c793830",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5984,
          208
        ],
        "id": "804433f8-471a-4c73-9e2a-4c179de7f2ad",
        "name": "Referral"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.aimfox.com/api/v2/leads/{{ $('Webhook').item.json.body.event.sender.id }}/labels/341274b1-27da-43a3-a553-65da63210a8a",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5760,
          320
        ],
        "id": "9bf40ca2-1c80-40f7-8332-18603034a274",
        "name": "Booking"
      },
      {
        "parameters": {
          "amount": 3,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1168,
          -64
        ],
        "id": "1190cb59-eee9-422f-8005-4e0718af12a6",
        "name": "Wait",
        "webhookId": "efc507f5-77c1-4274-85c8-e50d7bd2e4ac"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "913f04ef-7cc7-4122-9932-d23f1c2f5b75",
                "leftValue": "={{ Number($json.messages[0].sender.id) }}",
                "rightValue": "={{ Number($('Webhook').item.json.body.event.sender.id) }}",
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2400,
          -64
        ],
        "id": "94186db3-574d-4543-a665-2de9bd5c3d7d",
        "name": "If1"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8",
            "mode": "list",
            "cachedResultName": "Aimfox Duplicates",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Linkedin",
                "lookupValue": "={{ $('Webhook').first().json.body.event.sender.id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          6208,
          -192
        ],
        "id": "034bdf38-57a3-4ab8-b25b-30f57aeee827",
        "name": "Get row(s) in sheet",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "wgZGfRyOuZSCZ2Ot",
            "name": "anik_nextus"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "1beb04f0-551f-44d1-9566-af319aa3ed69",
                "leftValue": "={{ $json.row_number }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "notExists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          6368,
          -192
        ],
        "id": "2670b486-e6bf-4cac-a2a8-7273998ef203",
        "name": "If3"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8",
            "mode": "list",
            "cachedResultName": "Aimfox Duplicates",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 692096807,
            "mode": "list",
            "cachedResultName": "Saved Data",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit#gid=692096807"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Date": "={{ $now }}",
              "Sender Name": "={{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}",
              "Account Name": "={{ $('Webhook').item.json.body.event.recipient.first_name }} {{ $('Webhook').item.json.body.event.recipient.last_name }}",
              "Execution ID": "=https://nextus.app.n8n.cloud/workflow/uVWeJIzytDPjDq1N/executions/{{ $execution.id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Sender Name",
                "displayName": "Sender Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Account Name",
                "displayName": "Account Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Execution ID",
                "displayName": "Execution ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1408,
          -64
        ],
        "id": "63dd467b-a964-4be4-a7dd-ab8571c26ad8",
        "name": "Append row in sheet",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "wgZGfRyOuZSCZ2Ot",
            "name": "anik_nextus"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8",
            "mode": "list",
            "cachedResultName": "Aimfox",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1926729378,
            "mode": "list",
            "cachedResultName": "Data Capture",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit#gid=1926729378"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Conversation URN",
                "lookupValue": "={{ $('Webhook').item.json.body.event.conversation_urn }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -32,
          -48
        ],
        "id": "97bde24a-d926-4d92-a7c2-726c49dd6075",
        "name": "Get row(s) in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "wgZGfRyOuZSCZ2Ot",
            "name": "anik_nextus"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "65aae510-abae-4c1a-bf78-87050be894ee",
                "leftValue": "={{ $json['Conversation URN'] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          176,
          -48
        ],
        "id": "b49501f8-55e0-4923-820d-b3c9e1879028",
        "name": "If5"
      },
      {
        "parameters": {
          "jsCode": "// Get timestamps\nconst inputTimestamp = new Date($input.first().json.body.timestamp); // e.g., 2025-10-27T07:23:57.075Z\nconst now = new Date($now); // e.g., 2025-11-02T00:50:36.666+07:00\n\n// Calculate time difference in milliseconds\nconst diffMs = now - inputTimestamp;\n\n// Convert to hours\nconst diffHours = diffMs / (1000 * 60 * 60);\n\n// Check if within last 48 hours\nconst result = diffHours <= 48 && diffHours >= 0 ? \"Yes\" : \"No\";\n\nreturn [{ result }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1280,
          -48
        ],
        "id": "6e4105c9-be6e-4e56-ad6e-33bfe857f2a3",
        "name": "Code2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2d8a06de-17f4-43cb-9cdf-81d7bd375d7d",
                "leftValue": "={{ $json.result }}",
                "rightValue": "Yes",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -400,
          -48
        ],
        "id": "81191e88-4605-440e-b976-db928c88ab71",
        "name": "If6"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['Campaign Name'] }}",
                      "rightValue": "Nextus ITAD",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "id": "c64c21a5-377f-453f-abd5-2faf01d2740c"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "54177c0e-e86f-4c4d-b5f9-82fb5149eaa1",
                      "leftValue": "={{ $json['Campaign Name'] }}",
                      "rightValue": "Nextus AI",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          544,
          -48
        ],
        "id": "1e17001b-a189-4093-b4bd-9c2ba6738abd",
        "name": "Switch"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8",
            "mode": "list",
            "cachedResultName": "Aimfox Duplicates",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZjYYFzAwlkZMUa8YBcnVZgnfbybl1AqJnwAt1q7Hhv8/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Linkedin": "={{ $('Webhook').first().json.body.event.sender.id }}",
              "Execution ID": "={{ $execution.id }}"
            },
            "matchingColumns": [
              "Linkedin"
            ],
            "schema": [
              {
                "id": "Linkedin",
                "displayName": "Linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Execution ID",
                "displayName": "Execution ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          6576,
          -192
        ],
        "id": "ee83ab19-1d9b-412a-ac7b-3b89ab0324f7",
        "name": "Append row in sheet2",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "wgZGfRyOuZSCZ2Ot",
            "name": "anik_nextus"
          }
        }
      },
      {
        "parameters": {
          "amount": 30
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          3168,
          432
        ],
        "id": "4082da85-43bd-4702-940c-60e8f4cbbc3f",
        "name": "Wait5",
        "webhookId": "047fa953-2444-41f0-9c01-64d8d9ae16fd"
      },
      {
        "parameters": {
          "amount": 1,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1072,
          -48
        ],
        "id": "d0047a8c-2f76-4f56-b80a-637bcf808c54",
        "name": "Wait4",
        "webhookId": "5da9ab62-0184-4054-832a-1a6f9bf45f11"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "1bf717e9-bb8b-47c3-8bd1-e83715ff2e12",
                "leftValue": "={{ $json.output }}",
                "rightValue": "yes",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3600,
          -96
        ],
        "id": "0ff9fe88-a234-4600-b6eb-c48860244b6d",
        "name": "If13"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.aimfox.com/api/v2/leads/{{ $('Webhook').item.json.body.event.sender.id }}/labels/e17f7133-1042-474f-8821-ec6cfd6cdf94",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5648,
          480
        ],
        "id": "798fad31-7ef4-476f-8f9a-537490f80a66",
        "name": "Already Have Contract"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08PSL0Q7D3",
            "mode": "list",
            "cachedResultName": "linkedin-interested-reply-agent"
          },
          "text": "=🏷️ Label: Interested\n\n🏗️ Workspace: Nextus AI\n\n💬 Campaign Name: {{ $('Get row(s) in sheet1').item.json['Campaign Name'] }}\n\n👨 Lead Name: {{ $('Webhook').first().json.body.event.sender.first_name }} {{ $('Webhook').first().json.body.event.sender.last_name }}\n\n🏢 Company Name: {{ $('Lead Info').item.json.lead.current_experience[0].company.name }}\n\n👔 Job Title: {{ $('Lead Info').item.json.lead.current_experience[0].job_title }}\n\n🏢 Company Universal: {{ $('Lead Info').item.json.lead.current_experience[0].company.universal_name }}\n\nLocation: {{ $('Lead Info').item.json.lead.current_experience[0].location.name }}\n\n👨 Account Name: {{ $('Webhook').first().json.body.event.recipient.first_name }} {{ $('Webhook').first().json.body.event.recipient.last_name }}\n\n➡️➡️➡️ Reply: {{ $('Webhook').first().json.body.event.body }}\n\n🔗 Link: https://app.aimfox.com/workspaces/{{ $('Webhook').item.json.body.workspace.id }}/inbox?activeConversation={{ $('Webhook').item.json.body.event.conversation_urn }}&activeAccount={{ $('Webhook').item.json.body.event.recipient.id }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          5952,
          -608
        ],
        "id": "68af67c1-15f2-40bb-8588-070ffdf3fed6",
        "name": "Send a message6",
        "webhookId": "876b9484-c9ca-45ce-9714-812e4b68a68f",
        "alwaysOutputData": true,
        "credentials": {
          "slackOAuth2Api": {
            "id": "eidB94iWe08RnImU",
            "name": "Slack account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C09NS6B24R4",
            "mode": "list",
            "cachedResultName": "linkedin-human-takeover"
          },
          "text": "=🏷️ Label: Referral\n\n🏗️ Workspace: Nextus AI\n\n💬 Campaign Name: {{ $('Get row(s) in sheet1').item.json['Campaign Name'] }}\n\n👨 Lead Name: {{ $('Webhook').first().json.body.event.sender.first_name }} {{ $('Webhook').first().json.body.event.sender.last_name }}\n\n🏢 Company Name: {{ $('Lead Info').item.json.lead.current_experience[0].company.name }}\n\n👔 Job Title: {{ $('Lead Info').item.json.lead.current_experience[0].job_title }}\n\n🏢 Company Universal: {{ $('Lead Info').item.json.lead.current_experience[0].company.universal_name }}\n\nLocation: {{ $('Lead Info').item.json.lead.current_experience[0].location.name }}\n\n👨 Account Name: {{ $('Webhook').first().json.body.event.recipient.first_name }} {{ $('Webhook').first().json.body.event.recipient.last_name }}\n\n➡️➡️➡️ Reply: {{ $('Webhook').first().json.body.event.body }}\n\n🔗 Link: https://app.aimfox.com/workspaces/{{ $('Webhook').item.json.body.workspace.id }}/inbox?activeConversation={{ $('Webhook').item.json.body.event.conversation_urn }}&activeAccount={{ $('Webhook').item.json.body.event.recipient.id }}\n",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          6320,
          192
        ],
        "id": "44835c69-c425-4630-a3b1-68b360c0bb33",
        "name": "Send a message",
        "webhookId": "876b9484-c9ca-45ce-9714-812e4b68a68f",
        "alwaysOutputData": true,
        "credentials": {
          "slackOAuth2Api": {
            "id": "eidB94iWe08RnImU",
            "name": "Slack account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C09NS6B24R4",
            "mode": "list",
            "cachedResultName": "linkedin-human-takeover"
          },
          "text": "=🏷️ Label: Booking Link\n\n🏗️ Workspace: Nextus AI\n\n💬 Campaign Name: {{ $('Get row(s) in sheet1').item.json['Campaign Name'] }}\n\n👨 Lead Name: {{ $('Webhook').first().json.body.event.sender.first_name }} {{ $('Webhook').first().json.body.event.sender.last_name }}\n\n🏢 Company Name: {{ $('Lead Info').item.json.lead.current_experience[0].company.name }}\n\n👔 Job Title: {{ $('Lead Info').item.json.lead.current_experience[0].job_title }}\n\n🏢 Company Universal: {{ $('Lead Info').item.json.lead.current_experience[0].company.universal_name }}\n\nLocation: {{ $('Lead Info').item.json.lead.current_experience[0].location.name }}\n\n👨 Account Name: {{ $('Webhook').first().json.body.event.recipient.first_name }} {{ $('Webhook').first().json.body.event.recipient.last_name }}\n\n➡️➡️➡️ Reply: {{ $('Webhook').first().json.body.event.body }}\n\n🔗 Link: https://app.aimfox.com/workspaces/{{ $('Webhook').item.json.body.workspace.id }}/inbox?activeConversation={{ $('Webhook').item.json.body.event.conversation_urn }}&activeAccount={{ $('Webhook').item.json.body.event.recipient.id }}\n",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          5968,
          400
        ],
        "id": "46751a96-7640-46f0-a303-c4bdabf5b455",
        "name": "Send a message8",
        "webhookId": "876b9484-c9ca-45ce-9714-812e4b68a68f",
        "alwaysOutputData": true,
        "credentials": {
          "slackOAuth2Api": {
            "id": "eidB94iWe08RnImU",
            "name": "Slack account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-5-20250929",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.5"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          3840,
          80
        ],
        "id": "2354d3c0-b5a6-4f2e-ae05-a5724fbcd45c",
        "name": "Anthropic Chat Model2",
        "credentials": {
          "anthropicApi": {
            "id": "tFYLbQt9S6IzWYNd",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Lead is: {{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}\n\nContext: {{ $('Code').item.json.Message }}",
          "options": {
            "systemMessage": "=You are a decision making AI agent.\n\nYour only task is to decide whether the assistant should reply to the conversation or not.\n\nYou will receive:\n- The full conversation history from start to finish\n- The lead name\n- The most recent message\n\nYou must read and analyze the entire conversation, with special focus on the last message.\n\nYour output must be only one word, with no punctuation, no explanation, and no additional text:\nyes\nno\nYou are only allowed to output no if one of the strict closure conditions below is clearly met.\n\nOutput yes if ANY of the following applies:\n- The lead declined but remained polite or neutral\n- The lead said they do not currently have a need\n- The lead said they will let you know in the future\n- The lead said they do not have anything right now\n- The lead gave any polite response that leaves the door open\n- The lead answered your question, even if negatively\n- The lead responded in any way that reasonably deserves acknowledgement or polite closure\n- The lead expressed uncertainty or future possibility\n- The lead replied with anything other than a hard stop\n\nExamples that REQUIRE yes:\n- I don't have any but I'll let you know when I do\n- Not at the moment\n- We don't have anything right now\n- Maybe in the future\n- I'll keep you in mind\n- Thanks for reaching out\n- Any polite response that does not explicitly reject future communication\n\nOutput no ONLY if one of these strict conditions is met:\n\n1. The lead explicitly requested no further contact:\nExamples:\n- Stop messaging me\n- Not interested, please do not contact me again\n- Remove me\n- Unsubscribe\n- Do not reach out again\n\n2. The conversation is fully completed AND no acknowledgement is appropriate:\nExamples:\n- Meeting booked and confirmed AND assistant already acknowledged it\n- The lead said goodbye AND assistant already responded appropriately\n\n3. The last message is a pure acknowledgement that clearly does not require any reply AND a polite exit message was already sent previously:\nExamples:\n- Ok\n- Thanks\n- Got it\n- :+1:\n- Thumbs up emoji\nONLY if the assistant has already sent the final closure message.\n\nImportant clarification:\nPolite declines, future-open responses, or neutral responses ALWAYS require yes.\n\nImportant rules:\n- Do not infer intent beyond what is written\n- Do not try to be polite or conversational\n- Do not explain your reasoning\n- Do not output anything other than yes or no\n- If there is any uncertainty, output yes"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          3280,
          -64
        ],
        "id": "d1c71eb8-389e-49af-938b-e07a2c84c037",
        "name": "Decision Maker Agent"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQxOTA2OTYxOSwiYWFpIjoxMSwidWlkIjo2NDI3NTY2NiwiaWFkIjoiMjAyNC0xMC0wM1QxNTowODowOC4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MjMzNzIwNDIsInJnbiI6InVzZTEifQ.MoC1jx8muY24purLSEUZWQIUw8xcOK8jZ4JVqZTL0MA"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "query",
                "value": "=mutation {\n  create_item(\n    board_id: 18399476470,\n    group_id: \"group_mm0h98v9\",\n    item_name: \"{{ $('Lead Info').item.json.lead.full_name.replace(/[^a-zA-Z\\s]/g, \"\").trim()  }}\",\n    column_values: \"{\\\"text_mm0ex8q4\\\":\\\"{{ $('Webhook').item.json.body.event.sender.first_name }}\\\",\\\"text_mm0ecdxs\\\":\\\"{{ $('Webhook').item.json.body.event.sender.last_name }}\\\",\\\"date4\\\":\\\"{{ DateTime.fromISO($('Webhook').item.json.body.timestamp).toFormat('yyyy-MM-dd') }}\\\",\\\"email_mm0eatyz\\\":{\\\"email\\\":\\\"{{ $('Webhook').item.json.body.event.sender.email }}\\\",\\\"text\\\":\\\"{{ $('Webhook').item.json.body.event.sender.email }}\\\"},\\\"link_mm0et8fr\\\":{\\\"url\\\":\\\"https://app.aimfox.com/workspaces/{{ $('Webhook').item.json.body.workspace.id }}/inbox?activeConversation={{ $('Webhook').item.json.body.event.conversation_urn }}&activeAccount={{ $('Webhook').item.json.body.event.recipient.id }}\\\",\\\"text\\\":\\\"Aimfox\\\"},\\\"text_mm0etq6p\\\":\\\"{{ $('Webhook').item.json.body.event.message.inmail }}\\\",\\\"link_mm0eve2s\\\":{\\\"url\\\":\\\"https://www.linkedin.com/in/{{ $('Webhook').item.json.body.event.sender.public_identifier }}/\\\",\\\"text\\\":\\\"LinkedIn\\\"},\\\"text_mm0ettcx\\\":\\\"{{ $('Lead Info').item.json.lead.location.name }}\\\",\\\"text_mm0e4jpr\\\":\\\"{{ $('Lead Info').item.json.lead.current_experience[0].company.name }}\\\",\\\"text_mm0en98h\\\":\\\"{{ $('Lead Info').item.json.lead.current_experience[0].location.name }}\\\",\\\"text_mm0enksk\\\":\\\"{{ $('Lead Info').item.json.lead.current_experience[0].job_title }}\\\",\\\"text_mm0ehm45\\\":\\\"{{ $('Webhook').item.json.body.event.recipient.first_name }} {{ $('Webhook').item.json.body.event.recipient.last_name }}\\\",\\\"text_mm0e6whg\\\":\\\"{{ $('Webhook').item.json.body.workspace.name }}\\\",\\\"text_mm0e8y67\\\":\\\"{{ $('Get row(s) in sheet1').item.json['Campaign Name'] }}\\\"}\"\n  ) {\n    id\n  }\n}\n"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          6592,
          -368
        ],
        "id": "97709648-066a-4cfe-994a-8f12aa2c7adb",
        "name": "HTTP Request2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.monday.com/v2",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQxOTA2OTYxOSwiYWFpIjoxMSwidWlkIjo2NDI3NTY2NiwiaWFkIjoiMjAyNC0xMC0wM1QxNTowODowOC4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MjMzNzIwNDIsInJnbiI6InVzZTEifQ.MoC1jx8muY24purLSEUZWQIUw8xcOK8jZ4JVqZTL0MA"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "query",
                "value": "=mutation {\n  create_item(\n    board_id: 18399476470,\n    group_id: \"group_mm0htnam\",\n    item_name: \"{{ $('Lead Info').item.json.lead.full_name.replace(/[^a-zA-Z\\s]/g, \"\").trim()  }}\",\n    column_values: \"{\\\"text_mm0ex8q4\\\":\\\"{{ $('Webhook').item.json.body.event.sender.first_name }}\\\",\\\"text_mm0ecdxs\\\":\\\"{{ $('Webhook').item.json.body.event.sender.last_name }}\\\",\\\"date4\\\":\\\"{{ DateTime.fromISO($('Webhook').item.json.body.timestamp).toFormat('yyyy-MM-dd') }}\\\",\\\"email_mm0eatyz\\\":{\\\"email\\\":\\\"{{ $('Webhook').item.json.body.event.sender.email }}\\\",\\\"text\\\":\\\"{{ $('Webhook').item.json.body.event.sender.email }}\\\"},\\\"link_mm0et8fr\\\":{\\\"url\\\":\\\"https://app.aimfox.com/workspaces/{{ $('Webhook').item.json.body.workspace.id }}/inbox?activeConversation={{ $('Webhook').item.json.body.event.conversation_urn }}&activeAccount={{ $('Webhook').item.json.body.event.recipient.id }}\\\",\\\"text\\\":\\\"Aimfox\\\"},\\\"text_mm0etq6p\\\":\\\"{{ $('Webhook').item.json.body.event.message.inmail }}\\\",\\\"link_mm0eve2s\\\":{\\\"url\\\":\\\"https://www.linkedin.com/in/{{ $('Webhook').item.json.body.event.sender.public_identifier }}/\\\",\\\"text\\\":\\\"LinkedIn\\\"},\\\"text_mm0ettcx\\\":\\\"{{ $('Lead Info').item.json.lead.location.name }}\\\",\\\"text_mm0e4jpr\\\":\\\"{{ $('Lead Info').item.json.lead.current_experience[0].company.name }}\\\",\\\"text_mm0en98h\\\":\\\"{{ $('Lead Info').item.json.lead.current_experience[0].location }}\\\",\\\"text_mm0enksk\\\":\\\"{{ $('Lead Info').item.json.lead.current_experience[0].job_title }}\\\",\\\"text_mm0ehm45\\\":\\\"{{ $('Webhook').item.json.body.event.recipient.first_name }} {{ $('Webhook').item.json.body.event.recipient.last_name }}\\\",\\\"text_mm0e6whg\\\":\\\"{{ $('Webhook').item.json.body.workspace.name }}\\\",\\\"text_mm0e8y67\\\":\\\"{{ $('Get row(s) in sheet1').item.json['Campaign Name'] }}\\\"}\"\n  ) {\n    id\n  }\n}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          7056,
          224
        ],
        "id": "cb2de6fb-cd63-466b-b311-0f3eb8cea140",
        "name": "HTTP Request3"
      },
      {
        "parameters": {
          "resource": "boardItem",
          "operation": "addUpdate",
          "itemId": "={{ $json.id }}",
          "value": "={{ $('Code').item.json.Message }}\n"
        },
        "type": "n8n-nodes-base.mondayCom",
        "typeVersion": 1,
        "position": [
          6592,
          -560
        ],
        "id": "f13a2715-ed5e-4245-b78e-6b2d20c5f9b7",
        "name": "Add an update to an item",
        "credentials": {
          "mondayComApi": {
            "id": "XPrpJrLPDAOzNWgi",
            "name": "Monday.com account"
          }
        }
      },
      {
        "parameters": {
          "resource": "boardItem",
          "operation": "getByColumnValue",
          "boardId": "18399476470",
          "columnId": "name",
          "columnValue": "={{ $('Lead Info').item.json.lead.full_name.replace(/[^a-zA-Z\\s]/g, \"\").trim()  }}",
          "limit": 1
        },
        "type": "n8n-nodes-base.mondayCom",
        "typeVersion": 1,
        "position": [
          6144,
          -464
        ],
        "id": "08ab4687-5ee7-4dab-bc7c-b830c4dbeffe",
        "name": "Get items item by column value2",
        "alwaysOutputData": true,
        "credentials": {
          "mondayComApi": {
            "id": "XPrpJrLPDAOzNWgi",
            "name": "Monday.com account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "994d9214-4a30-4195-87e3-801db03f9877",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          6368,
          -464
        ],
        "id": "568bb76f-e207-4c5e-af4f-c64be24fe936",
        "name": "If17"
      },
      {
        "parameters": {
          "resource": "boardItem",
          "operation": "addUpdate",
          "itemId": "={{ $json.data.create_item.id }}",
          "value": "={{ $('Code').item.json.Message }}\n"
        },
        "type": "n8n-nodes-base.mondayCom",
        "typeVersion": 1,
        "position": [
          6816,
          -368
        ],
        "id": "373c13e1-35d9-4fd2-81c1-2af4f3315ad3",
        "name": "Add an update to an item1",
        "credentials": {
          "mondayComApi": {
            "id": "XPrpJrLPDAOzNWgi",
            "name": "Monday.com account"
          }
        }
      },
      {
        "parameters": {
          "resource": "boardItem",
          "operation": "addUpdate",
          "itemId": "={{ $json.id }}",
          "value": "={{ $('Code').item.json.Message }}\n"
        },
        "type": "n8n-nodes-base.mondayCom",
        "typeVersion": 1,
        "position": [
          7232,
          64
        ],
        "id": "9062ab9a-32dc-44e5-b664-5fdbd92facdd",
        "name": "Add an update to an item2",
        "credentials": {
          "mondayComApi": {
            "id": "XPrpJrLPDAOzNWgi",
            "name": "Monday.com account"
          }
        }
      },
      {
        "parameters": {
          "resource": "boardItem",
          "operation": "getByColumnValue",
          "boardId": "18399476470",
          "columnId": "name",
          "columnValue": "={{ $('Lead Info').item.json.lead.full_name.replace(/[^a-zA-Z\\s]/g, \"\").trim()  }}",
          "limit": 1
        },
        "type": "n8n-nodes-base.mondayCom",
        "typeVersion": 1,
        "position": [
          6640,
          144
        ],
        "id": "c1853713-d4d4-4013-9348-1d3e284f55c6",
        "name": "Get items item by column value",
        "alwaysOutputData": true,
        "credentials": {
          "mondayComApi": {
            "id": "XPrpJrLPDAOzNWgi",
            "name": "Monday.com account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "994d9214-4a30-4195-87e3-801db03f9877",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          6848,
          144
        ],
        "id": "c0206e12-1997-4a7a-a604-e43a47a090f2",
        "name": "If18"
      },
      {
        "parameters": {
          "resource": "boardItem",
          "operation": "addUpdate",
          "itemId": "={{ $json.data.create_item.id }}",
          "value": "={{ $('Code').item.json.Message }}\n"
        },
        "type": "n8n-nodes-base.mondayCom",
        "typeVersion": 1,
        "position": [
          7344,
          224
        ],
        "id": "6fed42b3-5b43-4334-8da5-7d96bedbdab2",
        "name": "Add an update to an item3",
        "credentials": {
          "mondayComApi": {
            "id": "XPrpJrLPDAOzNWgi",
            "name": "Monday.com account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.clay.com/v3/sources/webhook/pull-in-data-from-a-webhook-82271fb1-214c-40d4-b428-828feded561a",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "Full Name",
                "value": "={{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}"
              },
              {
                "name": "LinkedIn Profile",
                "value": "=www.linkedin.com/in/{{ $('Webhook').item.json.body.event.sender.public_identifier }}"
              },
              {
                "name": "Company Name",
                "value": "={{ $('Lead Info').item.json.lead.current_experience[0].company.name }}"
              },
              {
                "name": "Email",
                "value": "={{ $('Webhook').item.json.body.event.sender.email }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          6944,
          -848
        ],
        "id": "e52bf955-1f77-4784-a9b6-a0f03d67bb85",
        "name": "HTTP Request5"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"name\": \"\",\n  \"email\": \"\",\n  \"phone\": \"\",\n  \"linkedin\": \"\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          6640,
          656
        ],
        "id": "390bf404-74de-4490-b04b-14b447e90af0",
        "name": "Structured Output Parser2"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Lead is: {{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}\n\nContext: {{ $('Code').item.json.Message }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You MUST respond with ONLY valid JSON in the exact format specified. Do not include any explanatory text, markdown formatting, or additional commentary before or after the JSON object.\n\n### Role\nYou are a Lead Qualification Specialist. Your task is to analyze a linkedin thread and identify if the sender is referring you to a different person.\n\n### Objective\nExtract the following details of the *referred person* ONLY:\n- **name**: Full name of the referred person (first and last if available)\n- **email**: Email address in valid format\n- **phone**: Phone number, office extension, or contact number (preserve country codes and extensions)\n- **linkedin**: LinkedIn profile URL (must contain \"linkedin.com/in/\" or \"linkedin.com/company/\")\n\n### Extraction Rules\n1. **ONLY extract information about people being referred to you** - Do NOT extract:\n   - The sender's own contact information\n   - The original recipient's information\n   - Anyone not being suggested as a new contact\n\n2. **Name Extraction:**\n   - Extract full name if provided (e.g., \"Alice Vance\")\n   - Extract partial name if only first or last name given\n   - If no name found, return empty string \"\"\n\n3. **Email Extraction:**\n   - Must be valid email format (contains @ and domain)\n   - Extract only emails belonging to the referred person\n   - If no email found, return empty string \"\"\n\n4. **Phone Extraction:**\n   - Include country codes if present (e.g., \"+1-555-123-4567\")\n   - Include extensions (e.g., \"ext. 402\" or \"x1234\")\n   - Accept various formats: (555) 123-4567, 555-123-4567, 555.123.4567\n   - If no phone found, return empty string \"\"\n\n5. **LinkedIn Extraction:**\n   - Must be a complete LinkedIn URL\n   - Accept formats: https://linkedin.com/in/username or https://www.linkedin.com/in/username\n   - If no LinkedIn found, return empty string \"\"\n\n### CRITICAL: Output Format Requirements\nYou MUST return EXACTLY this JSON structure with all four fields, no more, no less:\n{\n  \"name\": \"string or empty\",\n  \"email\": \"string or empty\",\n  \"phone\": \"string or empty\",\n  \"linkedin\": \"string or empty\"\n}\n\nDo NOT add any fields. Do NOT omit any fields. Use empty string \"\" for missing values.\n\n### Multiple Referrals\nIf multiple people are referred, extract the FIRST person mentioned as the primary contact.\n\n### Example Outputs (Copy this format exactly)\n\nExample 1 - Full referral:\n{\n  \"name\": \"Alice Vance\",\n  \"email\": \"a.vance@company.org\",\n  \"phone\": \"ext. 402\",\n  \"linkedin\": \"\"\n}\n\nExample 2 - Partial referral:\n{\n  \"name\": \"John\",\n  \"email\": \"john.smith@company.com\",\n  \"phone\": \"\",\n  \"linkedin\": \"\"\n}\n\nExample 3 - No referral:\n{\n  \"name\": \"\",\n  \"email\": \"\",\n  \"phone\": \"\",\n  \"linkedin\": \"\"\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          6432,
          432
        ],
        "id": "14928e9d-4e70-44af-8e41-53ac4eff36f9",
        "name": "AI Agent5",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          6384,
          672
        ],
        "id": "993ce65f-3c75-42fc-bf63-83b81cfad4a4",
        "name": "OpenAI Chat Model6",
        "credentials": {
          "openAiApi": {
            "id": "T1h71eOjG2RI1HDX",
            "name": "OpenAi account 3"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.clay.com/v3/sources/webhook/pull-in-data-from-a-webhook-c5845586-4b11-4d4c-beb0-8c93fdfd01e8",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "Name",
                "value": "={{ $json.output.name }}"
              },
              {
                "name": "LinkedIn Profile",
                "value": "={{ $json.output.linkedin }}"
              },
              {
                "name": "Phone",
                "value": "={{ $json.output.phone }}"
              },
              {
                "name": "Email",
                "value": "={{ $json.output.email }}"
              },
              {
                "name": "Company Name",
                "value": "={{ $('Lead Info').item.json.lead.current_experience[0].company.name }}"
              },
              {
                "name": "Lead Name",
                "value": "={{ $('Lead Info').item.json.lead.full_name }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          6784,
          432
        ],
        "id": "388624e5-5bc1-4682-b752-cc0aa6a10350",
        "name": "HTTP Request7"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "OKKHDSWxv30Zt2Eh",
            "mode": "list",
            "cachedResultName": "Aimfox Reply Timestramp",
            "cachedResultUrl": "/projects/h75IwkxkzFQqllYm/datatables/OKKHDSWxv30Zt2Eh"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "LeadID",
                "keyValue": "={{ $('Thread').item.json.messages[0].sender.id }}"
              },
              {
                "keyName": "Timestramp",
                "keyValue": "={{ $('Thread').item.json.messages[0].created_at }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          2400,
          352
        ],
        "id": "ac8238da-30ed-497c-9f73-5c0ffd8906ab",
        "name": "Get row(s)",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "OKKHDSWxv30Zt2Eh",
            "mode": "list",
            "cachedResultName": "Aimfox Reply Timestramp",
            "cachedResultUrl": "/projects/h75IwkxkzFQqllYm/datatables/OKKHDSWxv30Zt2Eh"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "LeadID": "={{ $('Thread').item.json.messages[0].sender.id }}",
              "Timestramp": "={{ $('Thread').item.json.messages[0].created_at }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "LeadID",
                "displayName": "LeadID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Timestramp",
                "displayName": "Timestramp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          2848,
          432
        ],
        "id": "cb637473-0988-4e7b-8700-7135a4b7a8f5",
        "name": "Insert row1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "94f073ec-046b-482f-82d1-aad52ddd15eb",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2624,
          352
        ],
        "id": "6ca7fb93-378c-4b61-a257-b3eccfa88bac",
        "name": "If22",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "uHZ2YwYyqDuPfJl9",
            "mode": "list",
            "cachedResultName": "Nextus AI - Slack Counter for Linkedin Reply Agent",
            "cachedResultUrl": "/projects/h75IwkxkzFQqllYm/datatables/uHZ2YwYyqDuPfJl9"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "senderID",
                "keyValue": "={{ $('Webhook').item.json.body.event.sender.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          6192,
          -688
        ],
        "id": "1d18512c-bef3-443e-81ba-c3dc9380a79c",
        "name": "Get row(s)1",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "uHZ2YwYyqDuPfJl9",
            "mode": "list",
            "cachedResultName": "Nextus AI - Slack Counter for Linkedin Reply Agent",
            "cachedResultUrl": "/projects/h75IwkxkzFQqllYm/datatables/uHZ2YwYyqDuPfJl9"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "senderID": "={{ $('Webhook').item.json.body.event.sender.id }}"
            },
            "matchingColumns": [
              "senderID"
            ],
            "schema": [
              {
                "id": "senderID",
                "displayName": "senderID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          6672,
          -800
        ],
        "id": "e2b859ec-6934-446f-b476-b15832aa6094",
        "name": "Insert row2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "94f073ec-046b-482f-82d1-aad52ddd15eb",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          6400,
          -752
        ],
        "id": "c2630870-db9b-43f5-8285-d90872466034",
        "name": "If23",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5",
            "mode": "list",
            "cachedResultName": "gpt-5"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          4000,
          96
        ],
        "id": "fb75668c-0bd3-46a4-b40c-fe7594f4789e",
        "name": "OpenAI Chat Model8",
        "credentials": {
          "openAiApi": {
            "id": "T1h71eOjG2RI1HDX",
            "name": "OpenAi account 3"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Lead is: {{ $('Webhook').item.json.body.event.sender.first_name }} {{ $('Webhook').item.json.body.event.sender.last_name }}\n\nContext: {{ $('Code').item.json.Message }}",
          "needsFallback": true,
          "options": {
            "systemMessage": "=## Identity & Purpose\nYou are Reply Agent, a LinkedIn assistant for Nextus ITAD, a company that helps businesses with their IT asset disposal needs.\n\nYour purpose is to respond to LinkedIn messages from prospects who have replied to our initial outreach.\n\nYour goals:\n1. Answer any questions naturally and helpfully.\n2. Subtly guide the conversation toward a short 15-minute call to discuss their IT asset management or disposal needs.\n   - Default contact number: +1 (602) 529-6579\n   - Only share or mention this number if the prospect explicitly agrees or asks to schedule a call.\n   - If they ask who the call is with, mention it’s with Marwah Ibrahim (Director).\n\n---\n\n## Voice & Persona\n- Friendly, confident, professional, and human.\n- Conversational and helpful, like chatting with a colleague.\n- Calm with polite persistence, no pressure.\n- Match the prospect’s tone, formal to informal.\n- Never use or reference the prospect’s name.\n\n---\n\n## Style Guidelines\n- Keep messages short and natural, max 3–4 short sentences.\n- Write like a real LinkedIn DM, no “Dear,” no long paragraphs.\n- Use two line breaks between paragraphs.\n- Avoid overly polished marketing language.\n- Emojis allowed only if the prospect uses them first.\n- Never oversell or use spammy words (free, guarantee, urgent, limited offer, etc.).\n- Don’t use phrases like “I hope you’re doing well” or “quick note.”\n- Never suggest specific days or times.\n- Only mention scheduling if the prospect brings it up.\n- Never assume details or invent information.\n- No placeholders or names.\n- Keep 1–3 paragraphs maximum.\n\n---\n\n## Message Formatting\n- Use two newline characters to separate paragraphs.\n- Each paragraph should contain one thought.\n\nExample:\nAbsolutely. We securely handle pickup, data destruction, and resale of your retired hardware.\n\nEverything is fully tracked and certified, with detailed reports and certificates of destruction.\n\n---\n\n## Business Overview\nNextus ITAD provides:\n- Certified data destruction (NIST 800-88, DoD 5220.22-M)\n- Pickup, tagging, logistics, and reverse supply chain\n- Secure recycling and zero-landfill processing\n- Value recovery and resale to maximize returns\n- Serialized reporting, certificates, and compliance documentation\n- Support for sustainability and ESG programs\n- Handling of small office loads to large data center decommissions\n\nAccepted equipment: laptops, desktops, servers, switches, storage, networking gear, peripherals, and more.\n\n---\n\n## Contact Information (Only if asked)\nemail: partnerships@nextusitad.com\nphone: +1 (602) 885-0797\nwebsite: www.nextusitad.com\n\n---\n\n## Key Message Pillars\n- Retired hardware often holds hidden resale value.\n- Data security comes first.\n- Full transparency through reporting and tracking.\n- Zero-landfill disposal aligned with ESG goals.\n- One partner for pickup, destruction, resale, and documentation.\n\n---\n\n## Soft CTAs\nUse gentle CTAs like:\n- “Would you be open to a quick chat about this?”\n- “Would you be open to a short 15-minute call to see how this might fit your setup?”\n- “Happy to share more details if helpful.”\n- “Would it make sense to explore this together briefly?”\n- “Open to a quick conversation to see if this could work for you?”\n- “Would you be open to hearing how others in your space handle this?”\n\n---\n\n## Scenario Handling\n\n### Interested – Ready to Book\nIf the prospect says they want to talk:\n- Confirm and share the contact number so they can reach Marwah directly.\n\n### Asking for Info\n- Give a short, clear explanation.\n- Then use a soft CTA.\n- Do not share the number unless they ask or agree.\n\n### Not Interested (Always reply)\nIf they say “No,” “Not now,” “We’re all set,” etc.:\nSend a soft closing message like:\n“Totally understand, and appreciate you letting me know. If things change down the road, feel free to reach out.”\n\n### Referral\nIf the prospect refers someone or shares a lead, do not ask for more information or request an introduction.\nRespond with:\n“Thank you, we’ll reach out to him.”\n\n### Prospect Sends Their Calendar Link\nAcknowledge and say you’ll book a slot. Never tell you have joined the meeting or anything based on assumptions.\n\n### Already Have a Vendor or Contract\nAcknowledge politely and do not end the conversation.\nAsk if they would be open to receiving a quotation.\nYou may add when helpful:\n“No worries if you already have a partner - many of our clients did too.\nWe simply benchmark what you’re getting today against what we could return. In most cases, our valuations come in 15–40% higher.”\n\n### Location Questions\nIf the prospect asks where you operate or about coverage, explain that we work with a group of ITAD organizations and act like brokers to secure the best possible deal for their IT equipment.\nYou may then mention nationwide coverage.\n\n### Prospect Asks You to Call Them\nIf the prospect asks you to call them, do not share the contact number.\nThank them and say that you will reach out to them.\n\nIf they have not provided a phone number, ask them to share the best number to reach them.\n\n---\n\n## Operating Rules\n- Always read the full thread before replying.\n- Never use the prospect's name.\n- Never include explanations in the final output.\n- Final output must be only the LinkedIn message text.\n- If they ask for contact information, provide it exactly as listed.\n\n---\n\n## FAQ\nThese are not messages to send verbatim.\nThey describe our capabilities and reference responses so you can understand context and generate your own replies in a natural, human way.\n\nYour goal is to:\n- Interpret what the prospect is asking.\n- Identify which capability or topic it relates to.\n- Then write a short, conversational response that fits the tone and flow of the chat.\n\n---\n\n## ITAD Outreach — Common Scenarios & Responses\n\n### \"We already have a vendor.\"\nNo worries if you already have a partner - many of our clients did too.\nWe simply benchmark what you’re getting today against what we could return. In most cases, our valuations come in 15–40% higher.\n\n### \"Yes, we have some equipment.\"\nAsk them to send a list of the equipment.\nThen suggest continuing the conversation with a short call.\n\n### \"We’re planning a refresh next quarter.\"\nSuggest connecting now so they are prepared when the time comes and can maximize return.\n\n### \"Send me more details / pricing.\"\nExplain that pricing depends on type and quantity.\nAsk if they can share a list and suggest a brief call to review it.\n\n### \"We just did a refresh.\"\nAsk how often they typically refresh and whether you could be added for future projects.\n\n### \"Where do you operate?\"\nExplain the broker model first, then confirm nationwide coverage.\n\n### \"What would be the next steps?\"\nExplain the next step is connecting with the team.\nOffer a short call if they are open to it.\n\n### \"Do you provide packaging or transport?\"\nYes, all logistics including packaging and transport are handled.\n\n### \"Do you perform data destruction?\"\nYes, certified data destruction is provided.\n\n### \"What certifications do you have?\"\nR2v3 and NIST 800-88 authorized.\n\n### \"Do you provide data-erasure reports?\"\nYes, full certificates and audit reports are included.\n\n### \"Do you charge for collection?\"\nIt depends on volume, but in most cases there is no charge.\n\n### \"How much do you pay?\"\nThat depends on type, condition, and quantity of equipment.\n\n### \"Do you provide reporting?\"\nYes, comprehensive reporting and documentation are included.\n\n### \"We prefer donating working equipment.\"\nThat is supported through nonprofit partnerships.\n\n### \"What type of equipment do you purchase?\"\nNearly all types of IT equipment are accepted.\n\n### \"Can you do onsite data destruction?\"\nYes, secure on-site data destruction is available.\n\n### \"Can you do onsite equipment sorting?\"\nYes, on-site sorting and preparation can be handled."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          3840,
          -288
        ],
        "id": "1ccf4d77-5ed7-4934-a571-e10f9eff9f5e",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "amount": "={{ [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120][Math.floor(Math.random() * 13)] }}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1968,
          -64
        ],
        "id": "d1f92b43-e4ab-4aee-959c-8156beaa4342",
        "name": "Wait13",
        "webhookId": "fb646a01-8b50-4acf-af4a-335b208a73de"
      },
      {
        "parameters": {
          "jsCode": "// MCO: Seed all historical thread messages EXCEPT the current trigger message.\n// The current message is handled exclusively by MCO: Write Inbound — no overlap.\nconst wb = $('Webhook').first().json.body;\nconst s = wb.event.sender;\nconst currentMsgUrn = wb.event.message_urn;\nconst leadEmail = 'urn_' + s.public_identifier + '@linkedin.placeholder';\nconst profileUrl = 'https://www.linkedin.com/in/' + s.public_identifier;\nconst leadName = s.first_name + ' ' + s.last_name;\nconst leadId = String(s.id);\nconst raw = $('Thread').first().json;\nconst msgs = (Array.isArray(raw) ? raw[0] : raw)?.messages || [];\nconst historical = msgs\n  .filter(m => m.urn !== currentMsgUrn)\n  .sort((a,b) => (a.created_at||0) - (b.created_at||0));\nif (historical.length === 0) return [];\nreturn historical.map(m => {\n  const sid = String(m.sender?.id || m.sender || '');\n  const dir = sid === leadId ? 'inbound' : 'outbound';\n  const eid = m.urn || (wb.event.conversation_urn + '_' + (m.created_at || 0));\n  return { json: {\n    event_id: eid,\n    lead_email: leadEmail,\n    timestamp: new Date(m.created_at || Date.now()).toISOString(),\n    channel: 'linkedin',\n    direction: dir,\n    content: m.body || '',\n    content_type: 'message',\n    sender_name: dir === 'outbound' ? 'Nextus AI' : leadName,\n    full_name: leadName,\n    linkedin_profile_url: profileUrl\n  }};\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2672,
          -464
        ],
        "id": "mco-build-B1",
        "name": "MCO: Build Seed B1"
      },
      {
        "parameters": {
          "path": "d87a0b06-fa6d-4962-9082-bd8b26bbde80",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1712,
          -48
        ],
        "id": "b1460633-33ae-4a3f-9d87-6e996eadc097",
        "name": "Webhook",
        "webhookId": "d87a0b06-fa6d-4962-9082-bd8b26bbde80"
      },
      {
        "parameters": {
          "jsCode": "\nconst WRITE_URL = 'https://nextus.app.n8n.cloud/webhook/mco-write-event';\nconst SUPA_URL  = 'https://hkqssbomrcbtfbdowtgj.supabase.co';\nconst SUPA_KEY  = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrcXNzYm9tcmNidGZiZG93dGdqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzg3MTU1MywiZXhwIjoyMDkzNDQ3NTUzfQ.sIW3-eY1IVz1CuErVL9k_2IC9LX1nBS_S9wkT__RgoI';\n\nconst ev = $('Webhook').first().json.body.event;\nconst s  = ev.sender;\nconst leadEmail   = 'urn_' + s.public_identifier + '@linkedin.placeholder';\nconst senderName  = (s.first_name || '') + ' ' + (s.last_name || '');\nconst linkedinUrl = 'https://www.linkedin.com/in/' + s.public_identifier;\n\n// Check if this lead already exists in Supabase\nconst checkResp = await fetch(\n  SUPA_URL + '/rest/v1/leads?lead_email=eq.' + encodeURIComponent(leadEmail) + '&select=lead_email&limit=1',\n  { headers: { apikey: SUPA_KEY, Authorization: 'Bearer ' + SUPA_KEY } }\n);\nconst rows = await checkResp.json();\n\nif (!Array.isArray(rows) || rows.length === 0) {\n  // Not in Supabase — first-time lead, do nothing here\n  return [{ json: { mco_wrote: false, reason: 'not_in_supabase' } }];\n}\n\n// Returning lead — write current inbound + outbound\nlet outboundContent = '';\ntry { outboundContent = ($('AI Agent1').first().json.output || '').trim(); } catch(e) {}\n\nawait fetch(WRITE_URL, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    event_id:             ev.message_urn,\n    lead_email:           leadEmail,\n    timestamp:            ev.timestamp || new Date().toISOString(),\n    channel:              'linkedin',\n    direction:            'inbound',\n    content:              ev.body,\n    content_type:         'message',\n    sender_name:          senderName,\n    full_name:            senderName,\n    linkedin_profile_url: linkedinUrl,\n    intent:               'unknown'\n  })\n});\n\nif (outboundContent) {\n  await fetch(WRITE_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      event_id:     ev.message_urn + '_out',\n      lead_email:   leadEmail,\n      timestamp:    new Date().toISOString(),\n      channel:      'linkedin',\n      direction:    'outbound',\n      content:      outboundContent,\n      content_type: 'message',\n      sender_name:  'Anik Hanik',\n      intent:       'no_action'\n    })\n  });\n}\n\nreturn [{ json: { mco_wrote: true, lead_email: leadEmail } }];\n"
        },
        "id": "n-write-returning",
        "name": "MCO: Write Returning",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4800,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst WRITE_URL = 'https://nextus.app.n8n.cloud/webhook/mco-write-event';\nconst SUPA_URL  = 'https://hkqssbomrcbtfbdowtgj.supabase.co';\nconst SUPA_KEY  = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrcXNzYm9tcmNidGZiZG93dGdqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzg3MTU1MywiZXhwIjoyMDkzNDQ3NTUzfQ.sIW3-eY1IVz1CuErVL9k_2IC9LX1nBS_S9wkT__RgoI';\n\nconst ev = $('Webhook').first().json.body.event;\nconst s  = ev.sender;\nconst leadEmail   = 'urn_' + s.public_identifier + '@linkedin.placeholder';\nconst senderName  = (s.first_name || '') + ' ' + (s.last_name || '');\nconst linkedinUrl = 'https://www.linkedin.com/in/' + s.public_identifier;\n\n// Check if this lead already exists in Supabase\nconst checkResp = await fetch(\n  SUPA_URL + '/rest/v1/leads?lead_email=eq.' + encodeURIComponent(leadEmail) + '&select=lead_email&limit=1',\n  { headers: { apikey: SUPA_KEY, Authorization: 'Bearer ' + SUPA_KEY } }\n);\nconst rows = await checkResp.json();\n\nif (Array.isArray(rows) && rows.length > 0) {\n  // Already in Supabase — returning lead, already written by MCO: Write Returning\n  return [{ json: { mco_wrote: false, reason: 'already_in_supabase' } }];\n}\n\n// First-time interested lead — write full thread + inbound + outbound\nlet outboundContent = '';\ntry { outboundContent = ($('AI Agent1').first().json.output || '').trim(); } catch(e) {}\n\n// 1. Full historical thread (seed built by MCO: Build Seed B1)\nlet seedItems = [];\ntry { seedItems = $('MCO: Build Seed B1').all(); } catch(e) {}\n\nfor (const item of seedItems) {\n  await fetch(WRITE_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(item.json)\n  });\n}\n\n// 2. Current inbound — intent=interested, triggers email follow-up\nawait fetch(WRITE_URL, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    event_id:              ev.message_urn,\n    lead_email:            leadEmail,\n    timestamp:             ev.timestamp || new Date().toISOString(),\n    channel:               'linkedin',\n    direction:             'inbound',\n    content:               ev.body,\n    content_type:          'message',\n    sender_name:           senderName,\n    full_name:             senderName,\n    linkedin_profile_url:  linkedinUrl,\n    intent:                'interested',\n    trigger_cross_channel: true,\n    target_channels:       ['email'],\n    follow_up_context:     'Lead replied on LinkedIn and expressed interest'\n  })\n});\n\n// 3. Our outbound reply\nif (outboundContent) {\n  await fetch(WRITE_URL, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      event_id:     ev.message_urn + '_out',\n      lead_email:   leadEmail,\n      timestamp:    new Date().toISOString(),\n      channel:      'linkedin',\n      direction:    'outbound',\n      content:      outboundContent,\n      content_type: 'message',\n      sender_name:  'Anik Hanik',\n      intent:       'no_action'\n    })\n  });\n}\n\nreturn [{ json: { mco_wrote: true, seed_count: seedItems.length, lead_email: leadEmail } }];\n"
        },
        "id": "n-write-first-interested",
        "name": "MCO: Write First Interested",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5696,
          -688
        ]
      }
    ],
    "connections": {
      "Code": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Decision Maker Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Text Classifier": {
        "main": [
          [
            {
              "node": "Mark Interested",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Not Interested",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Referral",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Booking",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Already Have Contract",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Text Classifier",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Thread": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            },
            {
              "node": "MCO: Build Seed B1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lead Info": {
        "main": [
          [
            {
              "node": "Wait13",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Interested": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get items item by column value2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send a message6",
              "type": "main",
              "index": 0
            },
            {
              "node": "MCO: Write First Interested",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "If3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If3": {
        "main": [
          [
            {
              "node": "Append row in sheet2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Reply": {
        "main": [
          [
            {
              "node": "Text Classifier",
              "type": "main",
              "index": 0
            },
            {
              "node": "MCO: Write Returning",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Lead Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Referral": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            },
            {
              "node": "AI Agent5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Booking": {
        "main": [
          [
            {
              "node": "Send a message8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet1": {
        "main": [
          [
            {
              "node": "If5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If5": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code2": {
        "main": [
          [
            {
              "node": "Wait4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If6": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Append row in sheet2": {
        "main": [
          []
        ]
      },
      "Wait5": {
        "main": [
          []
        ]
      },
      "Wait4": {
        "main": [
          [
            {
              "node": "If6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If13": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Text Classifier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Decision Maker Agent": {
        "main": [
          [
            {
              "node": "If13",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message6": {
        "main": [
          [
            {
              "node": "Get row(s)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Get items item by column value",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get items item by column value2": {
        "main": [
          [
            {
              "node": "If17",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If17": {
        "main": [
          [
            {
              "node": "Add an update to an item",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request2": {
        "main": [
          [
            {
              "node": "Add an update to an item1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get items item by column value": {
        "main": [
          [
            {
              "node": "If18",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If18": {
        "main": [
          [
            {
              "node": "Add an update to an item2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Add an update to an item3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser2": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent5",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model6": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent5",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent5": {
        "main": [
          [
            {
              "node": "HTTP Request7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "If22",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If22": {
        "main": [
          [],
          [
            {
              "node": "Insert row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert row1": {
        "main": [
          [
            {
              "node": "Decision Maker Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)1": {
        "main": [
          [
            {
              "node": "If23",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If23": {
        "main": [
          [],
          [
            {
              "node": "Insert row2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert row2": {
        "main": [
          [
            {
              "node": "HTTP Request5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model8": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Send Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait13": {
        "main": [
          [
            {
              "node": "Thread",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MCO: Build Seed B1": {
        "main": [
          []
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Code2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Mohammad Imran Hossain Anik",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-11T21:59:53.124Z",
        "id": 691,
        "workflowId": "mAGUFlmJZ0gwge3s",
        "versionId": "6fea164d-c5de-4068-9544-2ef365acb30d",
        "event": "activated",
        "userId": "be90841b-174c-4ea0-b7b4-0aa745ad513b"
      },
      {
        "createdAt": "2026-05-11T21:59:53.008Z",
        "id": 690,
        "workflowId": "mAGUFlmJZ0gwge3s",
        "versionId": "6fea164d-c5de-4068-9544-2ef365acb30d",
        "event": "deactivated",
        "userId": "be90841b-174c-4ea0-b7b4-0aa745ad513b"
      }
    ]
  }
}