n8n_workflows/Flowtics_AI_Call_Agent_MCO.json
{"updatedAt":"2026-05-16T15:57:54.230Z","createdAt":"2026-05-12T19:36:55.264Z","id":"xE8mFF8HxPaSXNmi","name":"Flowtics AI Call Agent -MCO","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"b0be6a4e-a9ae-47bb-a971-f5dcf0757b37","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,-144],"notes":"Cron heartbeat — fires every 4 hours. Adjust the interval to match how often you want Maya to sweep Supabase for pending follow-ups."},{"parameters":{"url":"https://hkqssbomrcbtfbdowtgj.supabase.co/rest/v1/follow_up_queue","sendQuery":true,"queryParameters":{"parameters":[{"name":"select","value":"*"},{"name":"target_channel","value":"eq.voice"},{"name":"status","value":"eq.pending"},{"name":"scheduled_for","value":"lte.now()"},{"name":"order","value":"scheduled_for.asc"},{"name":"limit","value":"25"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"REDACTED_SUPABASE_SERVICE_KEY"},{"name":"Authorization","value":"Bearer REDACTED_SUPABASE_SERVICE_KEY"},{"name":"Accept","value":"application/json"}]},"options":{"timeout":15000}},"id":"c1b3e218-f58e-4323-b13b-f7e54bafc062","name":"Supabase: Get Pending Voice Follow-Ups","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,-144],"notes":"Reads leads where status='Pending' from Supabase via PostgREST. Adjust SUPABASE_LEADS_TABLE in .env if your table isn't named `leads`. Update the column filter if your status column has a different name."},{"parameters":{"options":{}},"id":"cbe39985-b85f-46e4-acb2-db31812cf839","name":"Loop One Lead at a Time","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,-144],"notes":"Process leads serially so we don't hammer Retell or Supabase. After the call is dispatched the loop continues with the next lead."},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer REDACTED_OPENAI_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.openai_body) }}","options":{"timeout":30000}},"id":"d54859d5-b71f-4b00-921d-be4bc5672018","name":"Summarize Prior Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,-208],"notes":"Compresses the full thread into a concise brief that fits inside the Retell dynamic variable. Model is gpt-4o-mini for cost; bump to gpt-4o if you want higher fidelity."},{"parameters":{"assignments":{"assignments":[{"id":"s1","name":"previous_conversation_summary","value":"={{ $json.choices?.[0]?.message?.content || 'No prior conversation on record.' }}","type":"string"},{"id":"s2","name":"lead_email","value":"={{ $('Loop One Lead at a Time').item.json.lead_email }}","type":"string"},{"id":"s3","name":"queue_id","value":"={{ $('Loop One Lead at a Time').item.json.queue_id }}","type":"string"},{"id":"s4","name":"first_name","value":"={{ $('Build OpenAI Request').item.json.lead.full_name }}","type":"string"},{"id":"s6","name":"company_name","value":"={{ $('Build OpenAI Request').item.json.lead.company }}","type":"string"},{"id":"s7","name":"phone_e164","value":"=+12137997361","type":"string"},{"id":"6ed16337-c8ca-4a6c-aed8-150fc16ae775","name":"","value":"","type":"string"}]},"options":{}},"id":"ccc212dd-c1cf-4732-8ec9-04dde552b0ad","name":"Prepare Retell Variables","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,-208],"notes":"Extracts the summary text from OpenAI's response and re-attaches the lead row so the next node has both."},{"parameters":{"method":"POST","url":"https://api.retellai.com/v2/create-phone-call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer REDACTED_RETELL_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.retell_body) }}","options":{"timeout":15000}},"id":"77d8b413-fa92-4f9e-84ca-ba86216b4bad","name":"Retell: Create Phone Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,-208],"notes":"Dispatches the outbound follow-up call. The previous_conversation_summary is injected as a dynamic variable referenced by {{previous_conversation_summary}} in the Maya prompt. Adjust lead.phone / lead.first_name / lead.company_name expressions if your leads table uses different column names."},{"parameters":{"method":"PATCH","url":"https://hkqssbomrcbtfbdowtgj.supabase.co/rest/v1/follow_up_queue","sendQuery":true,"queryParameters":{"parameters":[{"name":"queue_id","value":"=eq.{{ $('Prepare Retell Variables').item.json.queue_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"REDACTED_SUPABASE_SERVICE_KEY"},{"name":"Authorization","value":"Bearer REDACTED_SUPABASE_SERVICE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"sent\",\n  \"sent_at\": \"{{ $now.toISO() }}\"\n}","options":{"timeout":15000}},"id":"2d6eb8a9-eb8a-4e61-86fa-cb1c657efc19","name":"Mark Queue Sent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-144],"notes":"Flips the lead status from 'Pending' to 'Called' so the next schedule tick doesn't re-dial the same person. Drop or rename the last_called_at field if you don't have that column."},{"parameters":{"httpMethod":"POST","path":"3adf4681-721b-452e-94b3-5618887a15c4","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,96],"id":"1a9eef24-9d39-4ab0-974d-e8677fe79e63","name":"Webhook","webhookId":"3adf4681-721b-452e-94b3-5618887a15c4"},{"parameters":{"url":"https://hkqssbomrcbtfbdowtgj.supabase.co/rest/v1/leads","sendQuery":true,"queryParameters":{"parameters":[{"name":"lead_email","value":"=eq.{{ $json.lead_email }}"},{"name":"select","value":"lead_email,full_name,company,phone_e164,overall_intent"},{"name":"limit","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"REDACTED_SUPABASE_SERVICE_KEY"},{"name":"Authorization","value":"Bearer REDACTED_SUPABASE_SERVICE_KEY"},{"name":"Accept","value":"application/json"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,-208],"id":"fetch-lead-record-001","name":"Fetch Lead Record"},{"parameters":{"method":"POST","url":"https://n8n-1404.n8n.whiteserverdns.com/webhook/mco-fetch-context","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"lead_email\": \"{{ $('Loop One Lead at a Time').item.json.lead_email }}\",\n  \"requesting_channel\": \"voice\",\n  \"max_events\": 20\n}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,-208],"id":"mco-fetch-context-001","name":"POST /mco-fetch-context"},{"parameters":{"jsCode":"const ctx = $input.first().json.context_block || 'No prior conversation on record.';\n\nconst NL = String.fromCharCode(10);\n\nconst systemPrompt = \"You summarize prior sales conversations for a voice AI agent doing a follow-up call. \" +\n  \"Output a tight, factual brief (<=180 words) covering: \" +\n  \"(1) who the lead is and what business they run, \" +\n  \"(2) what they expressed interest in, \" +\n  \"(3) pain points or goals they mentioned, \" +\n  \"(4) any objections or concerns raised, \" +\n  \"(5) commitments or next steps that were promised, \" +\n  \"(6) the last channel and rough recency of contact. \" +\n  \"Bullet points are fine. Do NOT invent details. \" +\n  \"If the context is empty or says no prior conversation, return the single line: No prior conversation on record.\";\n\nconst userContent = \"Prior cross-channel context for this lead:\" + NL + NL + ctx;\n\nreturn [{ json: {\n  openai_body: {\n    model: 'gpt-4o-mini',\n    temperature: 0.2,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userContent }\n    ]\n  },\n  context_block: $input.first().json.context_block,\n  lead: $input.first().json.lead\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-208],"id":"build-openai-request-001","name":"Build OpenAI Request"},{"parameters":{"jsCode":"// Pull from Prepare Retell Variables (immediate upstream via Set node)\nconst v = $input.first().json;\n\n// Skip leads with no phone number — Retell will reject empty to_number\nif (!v.phone_e164) {\n  console.log('Skipping lead with no phone:', v.lead_email); return [];\n}\n\n// Retell-purchased number (clean E.164 — strip any parens/dashes/spaces if user re-enters)\nconst rawFrom = '+15722124790';\nconst fromNumber = '+' + rawFrom.replace(/[^0-9]/g, '');\n\nreturn [{ json: {\n  retell_body: {\n    from_number: fromNumber,\n    to_number: v.phone_e164,\n    override_agent_id: 'agent_ff863b1414049444c174360809',\n    retell_llm_dynamic_variables: {\n      first_name: v.first_name || 'there',\n      company_name: v.company_name || 'your business',\n      booking_link: 'https://calendly.com/mahfujurrahman511351/30min',\n      previous_conversation_summary: v.previous_conversation_summary || 'No prior conversation on record.',\n      lead_email: v.lead_email\n    },\n    metadata: {\n      source: 'n8n_flowtics_followup',\n      client: 'flowtics',\n      queue_id: v.queue_id,\n      lead_email: v.lead_email\n    }\n  },\n  queue_id: v.queue_id,\n  lead_email: v.lead_email,\n  phone_e164: v.phone_e164\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,-208],"id":"build-retell-request-001","name":"Build Retell Request"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Supabase: Get Pending Voice Follow-Ups","type":"main","index":0}]]},"Summarize Prior Conversation":{"main":[[{"node":"Prepare Retell Variables","type":"main","index":0}]]},"Prepare Retell Variables":{"main":[[{"node":"Build Retell Request","type":"main","index":0}]]},"Retell: Create Phone Call":{"main":[[{"node":"Mark Queue Sent","type":"main","index":0}]]},"Supabase: Get Pending Voice Follow-Ups":{"main":[[{"node":"Loop One Lead at a Time","type":"main","index":0}]]},"Loop One Lead at a Time":{"main":[[],[{"node":"Fetch Lead Record","type":"main","index":0}]]},"Fetch Lead Record":{"main":[[{"node":"POST /mco-fetch-context","type":"main","index":0}]]},"POST /mco-fetch-context":{"main":[[{"node":"Build OpenAI Request","type":"main","index":0}]]},"Mark Queue Sent":{"main":[[{"node":"Loop One Lead at a Time","type":"main","index":0}]]},"Build OpenAI Request":{"main":[[{"node":"Summarize Prior Conversation","type":"main","index":0}]]},"Build Retell Request":{"main":[[{"node":"Retell: Create Phone Call","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[16]}},"meta":null,"pinData":{"Summarize Prior Conversation":[{"json":{"id":"chatcmpl-Dfmsdn6QnGjViIOnHqWoxnmJWNlzn","object":"chat.completion","created":1778851715,"model":"gpt-4o-mini-2024-07-18","choices":[{"index":0,"message":{"role":"assistant","content":"- **Lead**: Anik from Scala AI\n- **Business**: Scala AI\n- **Interest**: Interested in scheduling a demo\n- **Pain Points/Goals**: Not explicitly mentioned in the conversation history\n- **Objections/Concerns**: None noted in the conversation history\n- **Commitments/Next Steps**: Agreed to schedule a demo on Thursday\n- **Last Channel and Recency of Contact**: Last contact was via voice on May 13, 2026","refusal":null,"annotations":[]},"logprobs":null,"finish_reason":"stop"}],"usage":{"prompt_tokens":387,"completion_tokens":104,"total_tokens":491,"prompt_tokens_details":{"cached_tokens":0,"audio_tokens":0},"completion_tokens_details":{"reasoning_tokens":0,"audio_tokens":0,"accepted_prediction_tokens":0,"rejected_prediction_tokens":0}},"service_tier":"default","system_fingerprint":"fp_3ea19caa4a"},"pairedItem":{"item":0}}]},"versionId":"739dee9b-c77b-4eeb-bc80-9882d2d5c753","activeVersionId":"739dee9b-c77b-4eeb-bc80-9882d2d5c753","versionCounter":249,"triggerCount":2,"shared":[{"updatedAt":"2026-05-12T19:36:55.264Z","createdAt":"2026-05-12T19:36:55.264Z","role":"workflow:owner","workflowId":"xE8mFF8HxPaSXNmi","projectId":"gT4zNzvFuk641tgz","project":{"updatedAt":"2026-05-12T14:23:45.440Z","createdAt":"2026-05-12T11:56:55.020Z","id":"gT4zNzvFuk641tgz","name":"Flowtics AI <team@flowticsai.com>","type":"personal","icon":null,"description":null,"creatorId":"82beb348-efd1-4022-9d88-42d9caced284","projectRelations":[{"updatedAt":"2026-05-12T11:56:55.020Z","createdAt":"2026-05-12T11:56:55.020Z","userId":"82beb348-efd1-4022-9d88-42d9caced284","projectId":"gT4zNzvFuk641tgz","user":{"updatedAt":"2026-05-16T13:52:10.270Z","createdAt":"2026-05-12T11:56:54.527Z","id":"82beb348-efd1-4022-9d88-42d9caced284","email":"team@flowticsai.com","firstName":"Flowtics","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"xE8mFF8HxPaSXNmi","userActivatedAt":1778661186636},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-16T15:57:55.937Z","createdAt":"2026-05-16T15:57:54.231Z","versionId":"739dee9b-c77b-4eeb-bc80-9882d2d5c753","workflowId":"xE8mFF8HxPaSXNmi","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"b0be6a4e-a9ae-47bb-a971-f5dcf0757b37","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,-144],"notes":"Cron heartbeat — fires every 4 hours. Adjust the interval to match how often you want Maya to sweep Supabase for pending follow-ups."},{"parameters":{"url":"https://hkqssbomrcbtfbdowtgj.supabase.co/rest/v1/follow_up_queue","sendQuery":true,"queryParameters":{"parameters":[{"name":"select","value":"*"},{"name":"target_channel","value":"eq.voice"},{"name":"status","value":"eq.pending"},{"name":"scheduled_for","value":"lte.now()"},{"name":"order","value":"scheduled_for.asc"},{"name":"limit","value":"25"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"REDACTED_SUPABASE_SERVICE_KEY"},{"name":"Authorization","value":"Bearer REDACTED_SUPABASE_SERVICE_KEY"},{"name":"Accept","value":"application/json"}]},"options":{"timeout":15000}},"id":"c1b3e218-f58e-4323-b13b-f7e54bafc062","name":"Supabase: Get Pending Voice Follow-Ups","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,-144],"notes":"Reads leads where status='Pending' from Supabase via PostgREST. Adjust SUPABASE_LEADS_TABLE in .env if your table isn't named `leads`. Update the column filter if your status column has a different name."},{"parameters":{"options":{}},"id":"cbe39985-b85f-46e4-acb2-db31812cf839","name":"Loop One Lead at a Time","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,-144],"notes":"Process leads serially so we don't hammer Retell or Supabase. After the call is dispatched the loop continues with the next lead."},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer REDACTED_OPENAI_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.openai_body) }}","options":{"timeout":30000}},"id":"d54859d5-b71f-4b00-921d-be4bc5672018","name":"Summarize Prior Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,-208],"notes":"Compresses the full thread into a concise brief that fits inside the Retell dynamic variable. Model is gpt-4o-mini for cost; bump to gpt-4o if you want higher fidelity."},{"parameters":{"assignments":{"assignments":[{"id":"s1","name":"previous_conversation_summary","value":"={{ $json.choices?.[0]?.message?.content || 'No prior conversation on record.' }}","type":"string"},{"id":"s2","name":"lead_email","value":"={{ $('Loop One Lead at a Time').item.json.lead_email }}","type":"string"},{"id":"s3","name":"queue_id","value":"={{ $('Loop One Lead at a Time').item.json.queue_id }}","type":"string"},{"id":"s4","name":"first_name","value":"={{ $('Build OpenAI Request').item.json.lead.full_name }}","type":"string"},{"id":"s6","name":"company_name","value":"={{ $('Build OpenAI Request').item.json.lead.company }}","type":"string"},{"id":"s7","name":"phone_e164","value":"=+12137997361","type":"string"},{"id":"6ed16337-c8ca-4a6c-aed8-150fc16ae775","name":"","value":"","type":"string"}]},"options":{}},"id":"ccc212dd-c1cf-4732-8ec9-04dde552b0ad","name":"Prepare Retell Variables","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,-208],"notes":"Extracts the summary text from OpenAI's response and re-attaches the lead row so the next node has both."},{"parameters":{"method":"POST","url":"https://api.retellai.com/v2/create-phone-call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer REDACTED_RETELL_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.retell_body) }}","options":{"timeout":15000}},"id":"77d8b413-fa92-4f9e-84ca-ba86216b4bad","name":"Retell: Create Phone Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,-208],"notes":"Dispatches the outbound follow-up call. The previous_conversation_summary is injected as a dynamic variable referenced by {{previous_conversation_summary}} in the Maya prompt. Adjust lead.phone / lead.first_name / lead.company_name expressions if your leads table uses different column names."},{"parameters":{"method":"PATCH","url":"https://hkqssbomrcbtfbdowtgj.supabase.co/rest/v1/follow_up_queue","sendQuery":true,"queryParameters":{"parameters":[{"name":"queue_id","value":"=eq.{{ $('Prepare Retell Variables').item.json.queue_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"REDACTED_SUPABASE_SERVICE_KEY"},{"name":"Authorization","value":"Bearer REDACTED_SUPABASE_SERVICE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"sent\",\n  \"sent_at\": \"{{ $now.toISO() }}\"\n}","options":{"timeout":15000}},"id":"2d6eb8a9-eb8a-4e61-86fa-cb1c657efc19","name":"Mark Queue Sent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-144],"notes":"Flips the lead status from 'Pending' to 'Called' so the next schedule tick doesn't re-dial the same person. Drop or rename the last_called_at field if you don't have that column."},{"parameters":{"httpMethod":"POST","path":"3adf4681-721b-452e-94b3-5618887a15c4","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,96],"id":"1a9eef24-9d39-4ab0-974d-e8677fe79e63","name":"Webhook","webhookId":"3adf4681-721b-452e-94b3-5618887a15c4"},{"parameters":{"url":"https://hkqssbomrcbtfbdowtgj.supabase.co/rest/v1/leads","sendQuery":true,"queryParameters":{"parameters":[{"name":"lead_email","value":"=eq.{{ $json.lead_email }}"},{"name":"select","value":"lead_email,full_name,company,phone_e164,overall_intent"},{"name":"limit","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"REDACTED_SUPABASE_SERVICE_KEY"},{"name":"Authorization","value":"Bearer REDACTED_SUPABASE_SERVICE_KEY"},{"name":"Accept","value":"application/json"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,-208],"id":"fetch-lead-record-001","name":"Fetch Lead Record"},{"parameters":{"method":"POST","url":"https://n8n-1404.n8n.whiteserverdns.com/webhook/mco-fetch-context","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"lead_email\": \"{{ $('Loop One Lead at a Time').item.json.lead_email }}\",\n  \"requesting_channel\": \"voice\",\n  \"max_events\": 20\n}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,-208],"id":"mco-fetch-context-001","name":"POST /mco-fetch-context"},{"parameters":{"jsCode":"const ctx = $input.first().json.context_block || 'No prior conversation on record.';\n\nconst NL = String.fromCharCode(10);\n\nconst systemPrompt = \"You summarize prior sales conversations for a voice AI agent doing a follow-up call. \" +\n  \"Output a tight, factual brief (<=180 words) covering: \" +\n  \"(1) who the lead is and what business they run, \" +\n  \"(2) what they expressed interest in, \" +\n  \"(3) pain points or goals they mentioned, \" +\n  \"(4) any objections or concerns raised, \" +\n  \"(5) commitments or next steps that were promised, \" +\n  \"(6) the last channel and rough recency of contact. \" +\n  \"Bullet points are fine. Do NOT invent details. \" +\n  \"If the context is empty or says no prior conversation, return the single line: No prior conversation on record.\";\n\nconst userContent = \"Prior cross-channel context for this lead:\" + NL + NL + ctx;\n\nreturn [{ json: {\n  openai_body: {\n    model: 'gpt-4o-mini',\n    temperature: 0.2,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userContent }\n    ]\n  },\n  context_block: $input.first().json.context_block,\n  lead: $input.first().json.lead\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-208],"id":"build-openai-request-001","name":"Build OpenAI Request"},{"parameters":{"jsCode":"// Pull from Prepare Retell Variables (immediate upstream via Set node)\nconst v = $input.first().json;\n\n// Skip leads with no phone number — Retell will reject empty to_number\nif (!v.phone_e164) {\n  console.log('Skipping lead with no phone:', v.lead_email); return [];\n}\n\n// Retell-purchased number (clean E.164 — strip any parens/dashes/spaces if user re-enters)\nconst rawFrom = '+15722124790';\nconst fromNumber = '+' + rawFrom.replace(/[^0-9]/g, '');\n\nreturn [{ json: {\n  retell_body: {\n    from_number: fromNumber,\n    to_number: v.phone_e164,\n    override_agent_id: 'agent_ff863b1414049444c174360809',\n    retell_llm_dynamic_variables: {\n      first_name: v.first_name || 'there',\n      company_name: v.company_name || 'your business',\n      booking_link: 'https://calendly.com/mahfujurrahman511351/30min',\n      previous_conversation_summary: v.previous_conversation_summary || 'No prior conversation on record.',\n      lead_email: v.lead_email\n    },\n    metadata: {\n      source: 'n8n_flowtics_followup',\n      client: 'flowtics',\n      queue_id: v.queue_id,\n      lead_email: v.lead_email\n    }\n  },\n  queue_id: v.queue_id,\n  lead_email: v.lead_email,\n  phone_e164: v.phone_e164\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,-208],"id":"build-retell-request-001","name":"Build Retell Request"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Supabase: Get Pending Voice Follow-Ups","type":"main","index":0}]]},"Summarize Prior Conversation":{"main":[[{"node":"Prepare Retell Variables","type":"main","index":0}]]},"Prepare Retell Variables":{"main":[[{"node":"Build Retell Request","type":"main","index":0}]]},"Retell: Create Phone Call":{"main":[[{"node":"Mark Queue Sent","type":"main","index":0}]]},"Supabase: Get Pending Voice Follow-Ups":{"main":[[{"node":"Loop One Lead at a Time","type":"main","index":0}]]},"Loop One Lead at a Time":{"main":[[],[{"node":"Fetch Lead Record","type":"main","index":0}]]},"Fetch Lead Record":{"main":[[{"node":"POST /mco-fetch-context","type":"main","index":0}]]},"POST /mco-fetch-context":{"main":[[{"node":"Build OpenAI Request","type":"main","index":0}]]},"Mark Queue Sent":{"main":[[{"node":"Loop One Lead at a Time","type":"main","index":0}]]},"Build OpenAI Request":{"main":[[{"node":"Summarize Prior Conversation","type":"main","index":0}]]},"Build Retell Request":{"main":[[{"node":"Retell: Create Phone Call","type":"main","index":0}]]}},"authors":"Flowtics AI","name":"Version 739dee9b","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-05-16T15:57:55.936Z","id":68,"workflowId":"xE8mFF8HxPaSXNmi","versionId":"739dee9b-c77b-4eeb-bc80-9882d2d5c753","event":"activated","userId":"82beb348-efd1-4022-9d88-42d9caced284"}]}}