n8n_workflows/MCO_Aimfox_Connection_Accepted_Handler.json
{
  "updatedAt": "2026-05-13T19:29:30.611Z",
  "createdAt": "2026-05-12T19:11:25.261Z",
  "id": "WTbIAJCZGtppAT91",
  "name": "MCO - Aimfox Connection Accepted Handler",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mco-aimfox-accepted",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "421e76fe-a0af-48b8-a8a9-ee346f219e9c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1104,
        144
      ],
      "webhookId": "mco-aimfox-accepted"
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://hkqssbomrcbtfbdowtgj.supabase.co';\nconst SUPABASE_KEY = '{{REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY}}';\nconst AIMFOX_TOKEN = 'Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b';\nconst FETCH_CONTEXT_URL = 'https://n8n-1404.n8n.whiteserverdns.com/webhook/mco-fetch-context';\nconst WRITE_EVENT_URL = 'https://n8n-1404.n8n.whiteserverdns.com/webhook/mco-write-event';\n\nconst body = $input.first().json.body || $input.first().json;\n\n// Aimfox accepted event payload\nconst account_id = body.account_id || body.accountId || null;\nconst lead = body.lead || {};\nconst lead_id = lead.id || body.lead_id || null;\nconst lead_urn = lead.urn || body.lead_urn || null;\nconst lead_name = [lead.first_name, lead.last_name].filter(Boolean).join(' ') || 'there';\nconst linkedin_profile_url = lead.profile_url || lead.linkedin_url || null;\n\nif (!account_id) throw new Error('No account_id in Aimfox accepted payload');\nif (!lead_id && !lead_urn) throw new Error('No lead_id or lead_urn in payload');\n\nreturn [{ json: {\n  SUPABASE_URL, SUPABASE_KEY, AIMFOX_TOKEN,\n  FETCH_CONTEXT_URL, WRITE_EVENT_URL,\n  account_id: String(account_id),\n  lead_id: String(lead_id || ''),\n  lead_urn: lead_urn || '',\n  lead_name,\n  linkedin_profile_url\n}}];"
      },
      "id": "174a13c6-f3f6-44ee-878a-d34d5f3bae5b",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.aimfox.com/api/v2/accounts/' + $json.account_id + '/leads/' + $json.lead_urn + '/custom-variables' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.AIMFOX_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "8c841028-c5c9-4075-a2b2-25745c7d6416",
      "name": "Get Lead Custom Variables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const extracted = $('Extract Fields').first().json;\nconst varsResp = $input.first().json;\n\n// Custom variables may be nested differently depending on Aimfox response shape\nconst vars = varsResp.custom_variables || varsResp.variables || varsResp || {};\nconst lead_email = vars.LEAD_EMAIL || vars.lead_email || null;\n\nreturn [{ json: {\n  ...extracted,\n  lead_email,\n  has_email: !!lead_email\n}}];"
      },
      "id": "e7f77f27-a7d0-4729-8eab-3089ae6491f8",
      "name": "Extract LEAD_EMAIL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "e1",
              "leftValue": "={{ $json.has_email }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "441b5e76-b6e5-40af-9238-fd647546cebf",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log('Accepted event skipped — no LEAD_EMAIL in custom variables. lead_id:', d.lead_id);\nreturn [{ json: { skipped: true, reason: 'No LEAD_EMAIL in Aimfox custom variables', lead_id: d.lead_id } }];"
      },
      "id": "30ad8d9f-fa7d-4264-ae81-ca2125fb165e",
      "name": "Skip — No Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\",\"skipped\":true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "081b1677-369a-4e08-a48e-ee84aac3b08b",
      "name": "Return OK (Skipped)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.FETCH_CONTEXT_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_email: $json.lead_email, requesting_channel: 'linkedin', max_events: 20 }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c99e4025-9d25-4057-ac19-b9117acd3632",
      "name": "Fetch Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const extracted = $('Extract LEAD_EMAIL').first().json;\nconst ctx = $input.first().json;\nconst lead = ctx.lead || {};\nreturn [{ json: {\n  ...extracted,\n  context_block: ctx.context_block || '(No prior conversation history.)',\n  overall_intent: ctx.overall_intent || 'unknown',\n  lead_name: lead.full_name || extracted.lead_name,\n  lead_company: lead.company || ''\n}}];"
      },
      "id": "4a41378e-accd-43c1-a025-f1955040a2f7",
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {}
      },
      "id": "ee96187b-2b81-497e-858e-9a12b73ccb38",
      "name": "LinkedIn: Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Write a LinkedIn message to ' + $json.lead_name + ($json.lead_company ? ' at ' + $json.lead_company : '') + ' who just accepted our connection request.\\n\\nOverall intent: ' + $json.overall_intent + '\\n\\nContext (prior interactions across all channels):\\n' + $json.context_block }}"
      },
      "id": "8d548887-9d94-4447-b975-8b0e6b4d7532",
      "name": "Generate Message",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge Context').first().json;\nconst aiOutput = $input.first().json;\nconst message = (aiOutput.text || aiOutput.output || '').trim();\nif (!message) throw new Error('AI returned empty message');\nreturn [{ json: { ...ctx, generated_message: message } }];"
      },
      "id": "f6529ecb-aecd-4b2e-8158-7e7c6cfc4a31",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.aimfox.com/api/v2/accounts/' + $json.account_id + '/conversations' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.AIMFOX_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.generated_message, recipients: [$json.lead_id] }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "85968d9d-ba8e-45ae-856e-ff299838cb70",
      "name": "Send via Start Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WRITE_EVENT_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  event_id: $('Extract Message').first().json.account_id + '-accepted-' + $('Extract Message').first().json.lead_id + '-' + Date.now(),\n  lead_email: $('Extract Message').first().json.lead_email,\n  timestamp: new Date().toISOString(),\n  channel: 'linkedin',\n  direction: 'outbound',\n  content: $('Extract Message').first().json.generated_message,\n  content_type: 'message',\n  sender_name: 'Anik Hanik',\n  intent: 'no_action',\n  metadata: {\n    platform_account_id: $('Extract Message').first().json.account_id,\n    platform_conversation_id: null,\n    triggered_by: 'connection_accepted'\n  },\n  workflow_execution_id: 'aimfox-accepted-handler'\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "24c77801-7ea5-4bab-80bc-3471d0f19f9f",
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "18cb097f-0573-4221-88c1-a42eee8f6989",
      "name": "Return OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1328,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Get Lead Custom Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Custom Variables": {
      "main": [
        [
          {
            "node": "Extract LEAD_EMAIL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LEAD_EMAIL": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Fetch Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip — No Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip — No Email": {
      "main": [
        [
          {
            "node": "Return OK (Skipped)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Context": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Generate Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn: Claude Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Message": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Send via Start Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Start Conversation": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Supabase": {
      "main": [
        [
          {
            "node": "Return OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7616c971-c043-4f26-92b3-57fe1ae9a45d",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-12T19:11:25.261Z",
      "createdAt": "2026-05-12T19:11:25.261Z",
      "role": "workflow:owner",
      "workflowId": "WTbIAJCZGtppAT91",
      "projectId": "gT4zNzvFuk641tgz",
      "project": {
        "updatedAt": "2026-05-12T14:23:45.440Z",
        "createdAt": "2026-05-12T11:56:55.020Z",
        "id": "gT4zNzvFuk641tgz",
        "name": "Flowtics AI <team@flowticsai.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "82beb348-efd1-4022-9d88-42d9caced284",
        "projectRelations": [
          {
            "updatedAt": "2026-05-12T11:56:55.020Z",
            "createdAt": "2026-05-12T11:56:55.020Z",
            "userId": "82beb348-efd1-4022-9d88-42d9caced284",
            "projectId": "gT4zNzvFuk641tgz",
            "user": {
              "updatedAt": "2026-05-16T08:39:07.427Z",
              "createdAt": "2026-05-12T11:56:54.527Z",
              "id": "82beb348-efd1-4022-9d88-42d9caced284",
              "email": "team@flowticsai.com",
              "firstName": "Flowtics",
              "lastName": "AI",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "xE8mFF8HxPaSXNmi",
                "userActivatedAt": 1778661186636
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}