n8n_workflows/MCO_Gmail_Reply_Agent.json
{
  "updatedAt": "2026-05-13T19:29:32.067Z",
  "createdAt": "2026-05-12T19:13:06.937Z",
  "id": "mFBOGdMAsXRKD1Pv",
  "name": "MCO - Gmail Reply Agent",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "cf4d9678-dacf-487b-9352-570fec9538ff",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -3360,
        320
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "IC6TPjXMVxTyn2R9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst email = $input.first().json;\n\n// Parse from address - handle multiple Gmail trigger output shapes\nlet leadEmail = '', leadName = '';\nif (email.from) {\n  if (Array.isArray(email.from?.value)) {\n    leadEmail = (email.from.value[0]?.address || '').toLowerCase().trim();\n    leadName  = email.from.value[0]?.name || '';\n  } else if (typeof email.from === 'string') {\n    const m = email.from.match(/<(.+?)>/);\n    leadEmail = (m ? m[1] : email.from).toLowerCase().trim();\n    leadName  = email.from.split('<')[0].trim();\n  } else if (email.from?.address) {\n    leadEmail = email.from.address.toLowerCase().trim();\n    leadName  = email.from.name || '';\n  }\n}\nif (!leadName) leadName = leadEmail.split('@')[0];\n\nconst subject   = email.subject || '';\nconst body      = (email.text || email.snippet || '').trim();\nconst messageId = email.id || email.messageId || '';\nconst threadId  = email.threadId || '';\n\n// Skip: no email, noreply senders, not a reply, empty body\nif (!leadEmail || leadEmail.includes('noreply') || leadEmail.includes('no-reply')) return [];\nconst isReply = subject.toLowerCase().startsWith('re:') || !!email.inReplyTo || !!email['in-reply-to'];\nif (!isReply) return [];\nif (!body) return [];\n\nreturn [{ json: {\n  lead_email:   leadEmail,\n  lead_name:    leadName,\n  subject:      subject.replace(/^Re:\\s*/i, ''),\n  full_subject: subject,\n  body:         body.slice(0, 3000),\n  message_id:   messageId,\n  thread_id:    threadId\n}}];\n"
      },
      "id": "c14b178c-dcb5-42d5-a273-0d77806fb820",
      "name": "Extract & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3088,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-1404.n8n.whiteserverdns.com/webhook/mco-fetch-context",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_email: $json.lead_email, requesting_channel: \"email\", max_events: 20 }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "8ed101e1-a30c-4e0f-bca7-020ce841cfb7",
      "name": "MCO: Fetch Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2240,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst extracted = $('Extract & Filter').first().json;\nconst ctx = $input.first().json;\nreturn [{ json: {\n  ...extracted,\n  context_block:  ctx.context_block  || '(No prior conversation history.)',\n  overall_intent: ctx.overall_intent || 'unknown',\n  lead_name: (ctx.lead && ctx.lead.full_name) || extracted.lead_name\n}}];\n"
      },
      "id": "f18a3165-ed63-4bd2-b1e9-b74b87819b09",
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-1404.n8n.whiteserverdns.com/webhook/mco-write-event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  event_id:      $json.message_id,\n  lead_email:    $json.lead_email,\n  timestamp:     new Date().toISOString(),\n  channel:       'email',\n  direction:     'inbound',\n  content:       $json.body,\n  content_type:  'message',\n  sender_name:   $json.lead_name,\n  full_name:     $json.lead_name,\n  intent:        'unknown'\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "bbe7a53a-47a0-406d-bfb2-fa8f0ade0144",
      "name": "MCO: Write Inbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1680,
        320
      ]
    },
    {
      "parameters": {
        "inputText": "={{ $('Merge Context').first().json.body }}",
        "categories": {
          "categories": [
            {
              "category": "Interested",
              "description": "Classify as Interested if the lead: engages meaningfully, asks questions, requests more info, is open to a meeting, shows curiosity, or replies with any intent to continue the conversation."
            },
            {
              "category": "Not Interested",
              "description": "Classify as Not Interested if the lead: asks to unsubscribe or stop contact, is clearly dismissive or rejecting, sends an automated out-of-office with no human intent, or explicitly says they are not interested."
            }
          ]
        },
        "options": {}
      },
      "id": "8c9f6f78-32c1-4d31-b592-9e6dded9eb82",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1488,
        288
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list"
        },
        "options": {}
      },
      "id": "431e1b7d-26fc-40e5-8f32-fb59adeea451",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1408,
        544
      ]
    },
    {
      "parameters": {},
      "id": "2ded809c-a154-43cb-8b32-2d4d5cf55a26",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1120,
        544
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Reply to this email from ' + $('Merge Context').first().json.lead_name + ':\\n\\n' + 'Subject: ' + $('Merge Context').first().json.full_subject + '\\n\\n' + 'Email Body:\\n' + $('Merge Context').first().json.body + '\\n\\n' + 'Full Cross-Channel Conversation History (LinkedIn + Email):\\n' + $('Merge Context').first().json.context_block }}",
        "options": {
          "systemMessage": "## ROLE\nYou are an AI sales representative for Nextus AI. A lead has replied to our follow-up email. This lead originally engaged through LinkedIn outreach. You have their full cross-channel conversation history (LinkedIn + email) provided in the prompt.\n\n## RULES\n- Output ONLY the reply body text. No subject line. No greeting. No sign-off.\n- Maximum 120 words\n- No bullet points, no asterisks, no formatting\n- Write like a real human: warm, confident, not salesy\n- Do not use our company name. Use: we, us, our team\n- Use the lead's real name naturally in the message\n- No double dashes (—). Use single hyphens if needed\n- Reference the cross-channel history naturally if relevant\n\n## MEETING\nOnly include a meeting link if they show genuine interest:\n\"If you'd like to connect, feel free to grab a time: [your calendar link]\"\n\n## OUTPUT\nReturn ONLY the email body text. Nothing else."
        }
      },
      "id": "1a87c7a1-cb7a-49e9-bab4-5b501e135223",
      "name": "Reply Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1120,
        128
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list"
        },
        "options": {}
      },
      "id": "00376962-f668-4c15-806a-d5136982ba51",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1120,
        320
      ]
    },
    {
      "parameters": {
        "description": "Call this to answer product/service questions or get knowledge base info.",
        "workflowId": {
          "__rl": true,
          "value": "MbYIL7DHXiK64wOL",
          "mode": "list",
          "cachedResultName": "Bison Knowledge Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "c306783a-8843-46d6-aa5f-1b700cc79fdf",
      "name": "Knowledgebase Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -928,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef-lc",
              "name": "last copy",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "209e701d-f3a0-4f93-9fed-5ee3c0b2eb58",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        128
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09BHUS1L2K",
          "mode": "list",
          "cachedResultName": "cold-email-reply-approval"
        },
        "message": "=📧 MCO Gmail Reply\n\n👤 Lead: {{ $('Merge Context').first().json.lead_name }}\n✉️ Email: {{ $('Merge Context').first().json.lead_email }}\n📝 Subject: {{ $('Merge Context').first().json.full_subject }}\n\n➡️➡️➡️ Lead's Email:\n{{ $('Merge Context').first().json.body.slice(0, 1200) }}\n\n--- Suggested Reply:\n{{ $('Edit Fields').item.json['last copy'] }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Feedback",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Approve"
                  },
                  {
                    "option": "Disapprove"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Query",
              "placeholder": "What changes do you want?"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ff484adb-e50f-4529-8519-a3f5fde1387e",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -560,
        128
      ],
      "webhookId": "c2d8e4f6-a8b0-4c2e-9f1a-3d5b7e9c1a3f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-app",
                    "leftValue": "={{ $json.data.Feedback }}",
                    "rightValue": "Approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-dis",
                    "leftValue": "={{ $json.data.Feedback }}",
                    "rightValue": "Disapprove",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "7367c5d4-1890-4bc3-af1c-270b4998b5fe",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -288,
        128
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Merge Context').first().json.lead_email }}",
        "subject": "={{ 'Re: ' + $('Merge Context').first().json.subject }}",
        "emailType": "text",
        "message": "={{ $('Edit Fields').first().json['last copy'] }}",
        "options": {
          "senderName": "Flowtics AI",
          "replyTo": "team@flowticsai.com"
        }
      },
      "id": "b17106f9-13fa-43e7-86bc-7434714ff2b9",
      "name": "Send Gmail Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "90bbf0b5-d673-499e-b116-b579f8a9f006",
      "credentials": {
        "gmailOAuth2": {
          "id": "IC6TPjXMVxTyn2R9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-1404.n8n.whiteserverdns.com/webhook/mco-write-event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  event_id:     'email_out_' + $('Merge Context').first().json.message_id,\n  lead_email:   $('Merge Context').first().json.lead_email,\n  timestamp:    new Date().toISOString(),\n  channel:      'email',\n  direction:    'outbound',\n  content:      $('Edit Fields').first().json['last copy'],\n  content_type: 'message',\n  sender_name:  'Anik Hanik',\n  intent:       'no_action'\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "e5823324-f308-4e43-a04a-b63f23dce2e1",
      "name": "MCO: Write Outbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://hkqssbomrcbtfbdowtgj.supabase.co/rest/v1/conversations?lead_email=eq.' + encodeURIComponent($json.lead_email) + '&channel=eq.email&direction=eq.outbound&select=event_id&limit=1' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "7b4183cc-4556-45c5-9aa0-370edd9b72bf",
      "name": "Supabase: Check Outbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2816,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Supabase REST returns a JSON array: [] or [{event_id: \"...\"}]\nconst rows = $input.first().json;\nconst arr  = Array.isArray(rows) ? rows : [];\n\nif (arr.length === 0) {\n  // No outbound email to this lead in Supabase — not our follow-up thread\n  return [];\n}\n\n// Our thread confirmed — pass the extracted email data downstream\nreturn [{ json: $('Extract & Filter').first().json }];\n"
      },
      "id": "7fb073b7-09ce-4ef3-8fcb-58b6df85e2ad",
      "name": "Filter: Our Thread Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2528,
        320
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Filter": {
      "main": [
        [
          {
            "node": "Supabase: Check Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCO: Fetch Context": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "MCO: Write Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCO: Write Inbound": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Reply Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Reply Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Knowledgebase Agent": {
      "ai_tool": [
        [
          {
            "node": "Reply Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send Gmail Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail Reply": {
      "main": [
        [
          {
            "node": "MCO: Write Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Check Outbound": {
      "main": [
        [
          {
            "node": "Filter: Our Thread Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Our Thread Only": {
      "main": [
        [
          {
            "node": "MCO: Fetch Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ef2a120a-2e6c-4b49-860e-0a07a69b0ed9",
  "activeVersionId": null,
  "versionCounter": 11,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-12T19:13:06.937Z",
      "createdAt": "2026-05-12T19:13:06.937Z",
      "role": "workflow:owner",
      "workflowId": "mFBOGdMAsXRKD1Pv",
      "projectId": "gT4zNzvFuk641tgz",
      "project": {
        "updatedAt": "2026-05-12T14:23:45.440Z",
        "createdAt": "2026-05-12T11:56:55.020Z",
        "id": "gT4zNzvFuk641tgz",
        "name": "Flowtics AI <team@flowticsai.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "82beb348-efd1-4022-9d88-42d9caced284",
        "projectRelations": [
          {
            "updatedAt": "2026-05-12T11:56:55.020Z",
            "createdAt": "2026-05-12T11:56:55.020Z",
            "userId": "82beb348-efd1-4022-9d88-42d9caced284",
            "projectId": "gT4zNzvFuk641tgz",
            "user": {
              "updatedAt": "2026-05-16T08:39:07.427Z",
              "createdAt": "2026-05-12T11:56:54.527Z",
              "id": "82beb348-efd1-4022-9d88-42d9caced284",
              "email": "team@flowticsai.com",
              "firstName": "Flowtics",
              "lastName": "AI",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "xE8mFF8HxPaSXNmi",
                "userActivatedAt": 1778661186636
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}