n8n_workflows/MCO_Centralized_FollowUp_Coordinator.json
{"updatedAt":"2026-05-13T19:29:28.283Z","createdAt":"2026-05-12T19:11:55.725Z","id":"KXKcCYRnK4V8v9k7","name":"MCO - Centralized Follow-Up Coordinator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"mco-followup","responseMode":"responseNode","options":{}},"id":"f9215c5c-caa3-43c1-bae9-a030e98d5240","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1104,208],"webhookId":"mco-followup"},{"parameters":{"jsCode":"const SUPABASE_URL = 'https://hkqssbomrcbtfbdowtgj.supabase.co';\nconst SUPABASE_KEY = 'REDACTED_SUPABASE_SERVICE_KEY';\nconst AIMFOX_TOKEN = 'Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b';\nconst FETCH_CONTEXT_URL = 'https://n8n-1404.n8n.whiteserverdns.com/webhook/mco-fetch-context';\nconst WRITE_EVENT_URL = 'https://n8n-1404.n8n.whiteserverdns.com/webhook/mco-write-event';\n// Create a list-type campaign in Aimfox dashboard named 'MCO LinkedIn Follow-Up'\n// with first message = {{CUSTOM_MESSAGE}}, then paste its ID here:\nconst AIMFOX_FOLLOWUP_CAMPAIGN_ID = '39a3ee2f-8474-4e9a-b498-81d14e319788';\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['lead_email', 'target_channel', 'queue_id'];\nconst missing = required.filter(f => !body[f]);\nif (missing.length > 0) throw new Error('Missing fields: ' + missing.join(', '));\n\nconst validChannels = ['email', 'linkedin', 'sms'];\nif (!validChannels.includes(body.target_channel)) {\n  throw new Error('Unsupported target_channel: ' + body.target_channel);\n}\n\nreturn [{ json: {\n  SUPABASE_URL,\n  SUPABASE_KEY,\n  AIMFOX_TOKEN,\n  FETCH_CONTEXT_URL,\n  WRITE_EVENT_URL,\n  AIMFOX_FOLLOWUP_CAMPAIGN_ID,\n  lead_email:          body.lead_email.toLowerCase().trim(),\n  target_channel:      body.target_channel,\n  queue_id:            body.queue_id,\n  trigger_channel:     body.trigger_channel || 'unknown',\n  follow_up_context:   body.follow_up_context || '',\n  linkedin_profile_url: body.linkedin_profile_url || null\n}}];"},"id":"d67aeb01-3c7f-479c-86f7-1895b12fef04","name":"Setup & Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,208]},{"parameters":{"method":"POST","url":"={{ $json.FETCH_CONTEXT_URL }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ lead_email: $json.lead_email, requesting_channel: $json.target_channel, max_events: 20 }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"de9a31f5-591d-489f-8c2c-71715eec2526","name":"Fetch Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,208]},{"parameters":{"jsCode":"const setup = $('Setup & Validate').first().json;\nconst ctx = $input.first().json;\nconst lead = ctx.lead || {};\nreturn [{ json: {\n  ...setup,\n  context_block:  ctx.context_block || '(No prior conversation history.)',\n  overall_intent: ctx.overall_intent || 'unknown',\n  lead_name:      lead.full_name || lead.lead_email || setup.lead_email,\n  lead_company:   lead.company || '',\n  linkedin_profile_url: setup.linkedin_profile_url || lead.linkedin_profile_url || null\n}}];"},"id":"feb66ed5-9b1a-498c-8b32-cc6a2c56d6a1","name":"Merge Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,208]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw-email","leftValue":"={{ $json.target_channel }}","rightValue":"email","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw-linkedin","leftValue":"={{ $json.target_channel }}","rightValue":"linkedin","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"id":"f0b4ff79-af55-47e0-a276-a498c75a3ade","name":"Route by Channel","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,208]},{"parameters":{"model":"claude-sonnet-4-6","options":{}},"id":"aba2190b-d29d-42b9-ac51-014acda86a79","name":"Email: Claude Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[0,368]},{"parameters":{"promptType":"define","text":"={{ 'Write a follow-up email for ' + $json.lead_name + ($json.lead_company ? ' at ' + $json.lead_company : '') + '.\\n\\nOverall intent: ' + $json.overall_intent + '\\nThis was triggered by a ' + $json.trigger_channel.toUpperCase() + ' interaction.\\n\\nAdditional context: ' + ($json.follow_up_context || 'None provided.') + '\\n\\n' + $json.context_block }}"},"id":"9e4f9db6-b51a-4fad-baac-319cfd7e099e","name":"Email: Generate Message","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[0,0]},{"parameters":{"jsCode":"const setup = $('Merge Context').first().json;\nconst aiOutput = $input.first().json;\nconst message = (aiOutput.text || aiOutput.output || '').trim();\nif (!message) throw new Error('Email AI returned empty message');\nreturn [{ json: { ...setup, generated_message: message, sent_channel: 'email' } }];"},"id":"ce035657-58c8-402e-a2ac-6b117f3c526e","name":"Email: Extract Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"sendTo":"={{ $json.lead_email }}","subject":"={{ 'Following up — ' + $json.lead_name }}","emailType":"text","message":"={{ $json.generated_message }}","options":{"senderName":"Anik Hanik","replyTo":"anik@nextus.ai"}},"id":"7f1f85a4-9c80-45d3-a2a2-125808cb58c8","name":"Send Email (Gmail)","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[448,0],"webhookId":"51152369-03aa-44b5-8fd4-846dfb265a1b"},{"parameters":{"model":"claude-sonnet-4-6","options":{}},"id":"9168918c-4c09-4ac5-ad86-f156deb3a91e","name":"LinkedIn: Claude Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[0,624]},{"parameters":{"promptType":"define","text":"={{ 'Write a follow-up LinkedIn message for ' + $json.lead_name + ($json.lead_company ? ' at ' + $json.lead_company : '') + '.\\n\\nOverall intent: ' + $json.overall_intent + '\\nThis was triggered by a ' + $json.trigger_channel.toUpperCase() + ' interaction.\\n\\nAdditional context: ' + ($json.follow_up_context || 'None provided.') + '\\n\\n' + $json.context_block }}"},"id":"10daad6a-92b5-4732-b552-98aac16f9961","name":"LinkedIn: Generate Message","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[0,432]},{"parameters":{"jsCode":"const setup = $('Merge Context').first().json;\nconst aiOutput = $input.first().json;\nconst message = (aiOutput.text || aiOutput.output || '').trim();\nif (!message) throw new Error('LinkedIn AI returned empty message');\nif (!setup.linkedin_profile_url) {\n  // No profile URL — mark as skipped cleanly instead of crashing\n  return [{ json: { ...setup, generated_message: message, sent_channel: 'linkedin', skipped: true, skip_reason: 'No linkedin_profile_url for this lead' } }];\n}\nreturn [{ json: { ...setup, generated_message: message, sent_channel: 'linkedin', skipped: false } }];"},"id":"88725be8-d390-4252-a8e9-3c7c6fcb4370","name":"LinkedIn: Extract Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,432]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"skip1","leftValue":"={{ $json.skipped }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"2754ef28-7864-4a6a-8d41-627aa125b202","name":"LinkedIn: Has Profile URL?","type":"n8n-nodes-base.if","typeVersion":2,"position":[448,432]},{"parameters":{"method":"POST","url":"={{ 'https://api.aimfox.com/api/v2/campaigns/' + $json.AIMFOX_FOLLOWUP_CAMPAIGN_ID + '/audience/multiple' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.AIMFOX_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ type: 'profile_url', profiles: [{ profile_url: $json.linkedin_profile_url, custom_variables: { CUSTOM_MESSAGE: $json.generated_message } }] }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"c9fab2fb-a38a-4c7f-9ca3-2a4d5ac564bb","name":"Add to LinkedIn Campaign","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,352]},{"parameters":{"jsCode":"// Lead skipped — no linkedin_profile_url available\nconst d = $input.first().json;\nconsole.log('LinkedIn follow-up skipped for', d.lead_email, '—', d.skip_reason);\nreturn [{ json: { ...d, send_status: 'skipped' } }];"},"id":"9d494eee-8391-4702-8449-8997fefd3902","name":"LinkedIn: Skip (No URL)","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,528]},{"parameters":{"jsCode":"// Converge all branches — data is already on the item\nconst d = $input.first().json;\nreturn [{ json: { ...d, send_status: d.send_status || 'sent' } }];"},"id":"2ec31ab9-dcce-4f3b-bc0b-2e5ba6cf2196","name":"After Send","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,208]},{"parameters":{"method":"POST","url":"={{ $json.WRITE_EVENT_URL }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  event_id: $json.queue_id,\n  lead_email: $json.lead_email,\n  timestamp: new Date().toISOString(),\n  channel: $json.target_channel,\n  direction: 'outbound',\n  content: $json.generated_message,\n  content_type: 'message',\n  sender_name: 'Anik Hanik',\n  intent: 'no_action',\n  metadata: { platform_conversation_id: null, triggered_by: $json.trigger_channel, queue_id: $json.queue_id, send_status: $json.send_status },\n  workflow_execution_id: 'followup-coordinator'\n}) }}","options":{"response":{"response":{"neverError":true}}}},"id":"37c52d57-d6bc-440f-bacc-3d1b7e3e47d3","name":"Log to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,208]},{"parameters":{"method":"PATCH","url":"={{ $json.SUPABASE_URL }}/rest/v1/follow_up_queue","sendQuery":true,"queryParameters":{"parameters":[{"name":"queue_id","value":"={{ 'eq.' + $json.queue_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.SUPABASE_KEY }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $json.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: $json.send_status === 'skipped' ? 'skipped' : 'sent', sent_at: new Date().toISOString() }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"d874acaf-ed45-4e5f-89c7-da73326da25c","name":"Mark Queue Sent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,208]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', lead_email: $json.lead_email, target_channel: $json.target_channel, send_status: $json.send_status, queue_id: $json.queue_id }) }}","options":{"responseCode":200}},"id":"4d4fa103-dd05-4b57-8262-303e2d780038","name":"Return OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1568,208]}],"connections":{"Webhook":{"main":[[{"node":"Setup & Validate","type":"main","index":0}]]},"Setup & Validate":{"main":[[{"node":"Fetch Context","type":"main","index":0}]]},"Fetch Context":{"main":[[{"node":"Merge Context","type":"main","index":0}]]},"Merge Context":{"main":[[{"node":"Route by Channel","type":"main","index":0}]]},"Route by Channel":{"main":[[{"node":"Email: Generate Message","type":"main","index":0}],[{"node":"LinkedIn: Generate Message","type":"main","index":0}]]},"Email: Claude Model":{"ai_languageModel":[[{"node":"Email: Generate Message","type":"ai_languageModel","index":0}]]},"Email: Generate Message":{"main":[[{"node":"Email: Extract Message","type":"main","index":0}]]},"Email: Extract Message":{"main":[[{"node":"Send Email (Gmail)","type":"main","index":0}]]},"Send Email (Gmail)":{"main":[[{"node":"After Send","type":"main","index":0}]]},"LinkedIn: Claude Model":{"ai_languageModel":[[{"node":"LinkedIn: Generate Message","type":"ai_languageModel","index":0}]]},"LinkedIn: Generate Message":{"main":[[{"node":"LinkedIn: Extract Message","type":"main","index":0}]]},"LinkedIn: Extract Message":{"main":[[{"node":"LinkedIn: Has Profile URL?","type":"main","index":0}]]},"LinkedIn: Has Profile URL?":{"main":[[{"node":"LinkedIn: Skip (No URL)","type":"main","index":0}],[{"node":"Add to LinkedIn Campaign","type":"main","index":0}]]},"Add to LinkedIn Campaign":{"main":[[{"node":"After Send","type":"main","index":0}]]},"LinkedIn: Skip (No URL)":{"main":[[{"node":"After Send","type":"main","index":0}]]},"After Send":{"main":[[{"node":"Log to Supabase","type":"main","index":0}]]},"Log to Supabase":{"main":[[{"node":"Mark Queue Sent","type":"main","index":0}]]},"Mark Queue Sent":{"main":[[{"node":"Return OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"e5c8810a-24ca-44ac-b277-2e07d1d82ade","activeVersionId":"e5c8810a-24ca-44ac-b277-2e07d1d82ade","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-05-12T19:11:55.725Z","createdAt":"2026-05-12T19:11:55.725Z","role":"workflow:owner","workflowId":"KXKcCYRnK4V8v9k7","projectId":"gT4zNzvFuk641tgz","project":{"updatedAt":"2026-05-12T14:23:45.440Z","createdAt":"2026-05-12T11:56:55.020Z","id":"gT4zNzvFuk641tgz","name":"Flowtics AI <team@flowticsai.com>","type":"personal","icon":null,"description":null,"creatorId":"82beb348-efd1-4022-9d88-42d9caced284","projectRelations":[{"updatedAt":"2026-05-12T11:56:55.020Z","createdAt":"2026-05-12T11:56:55.020Z","userId":"82beb348-efd1-4022-9d88-42d9caced284","projectId":"gT4zNzvFuk641tgz","user":{"updatedAt":"2026-05-16T13:52:10.270Z","createdAt":"2026-05-12T11:56:54.527Z","id":"82beb348-efd1-4022-9d88-42d9caced284","email":"team@flowticsai.com","firstName":"Flowtics","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"xE8mFF8HxPaSXNmi","userActivatedAt":1778661186636},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-13T19:29:28.284Z","createdAt":"2026-05-13T19:29:28.284Z","versionId":"e5c8810a-24ca-44ac-b277-2e07d1d82ade","workflowId":"KXKcCYRnK4V8v9k7","nodes":[{"parameters":{"httpMethod":"POST","path":"mco-followup","responseMode":"responseNode","options":{}},"id":"f9215c5c-caa3-43c1-bae9-a030e98d5240","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1104,208],"webhookId":"mco-followup"},{"parameters":{"jsCode":"const SUPABASE_URL = 'https://hkqssbomrcbtfbdowtgj.supabase.co';\nconst SUPABASE_KEY = 'REDACTED_SUPABASE_SERVICE_KEY';\nconst AIMFOX_TOKEN = 'Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b';\nconst FETCH_CONTEXT_URL = 'https://n8n-1404.n8n.whiteserverdns.com/webhook/mco-fetch-context';\nconst WRITE_EVENT_URL = 'https://n8n-1404.n8n.whiteserverdns.com/webhook/mco-write-event';\n// Create a list-type campaign in Aimfox dashboard named 'MCO LinkedIn Follow-Up'\n// with first message = {{CUSTOM_MESSAGE}}, then paste its ID here:\nconst AIMFOX_FOLLOWUP_CAMPAIGN_ID = '39a3ee2f-8474-4e9a-b498-81d14e319788';\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['lead_email', 'target_channel', 'queue_id'];\nconst missing = required.filter(f => !body[f]);\nif (missing.length > 0) throw new Error('Missing fields: ' + missing.join(', '));\n\nconst validChannels = ['email', 'linkedin', 'sms'];\nif (!validChannels.includes(body.target_channel)) {\n  throw new Error('Unsupported target_channel: ' + body.target_channel);\n}\n\nreturn [{ json: {\n  SUPABASE_URL,\n  SUPABASE_KEY,\n  AIMFOX_TOKEN,\n  FETCH_CONTEXT_URL,\n  WRITE_EVENT_URL,\n  AIMFOX_FOLLOWUP_CAMPAIGN_ID,\n  lead_email:          body.lead_email.toLowerCase().trim(),\n  target_channel:      body.target_channel,\n  queue_id:            body.queue_id,\n  trigger_channel:     body.trigger_channel || 'unknown',\n  follow_up_context:   body.follow_up_context || '',\n  linkedin_profile_url: body.linkedin_profile_url || null\n}}];"},"id":"d67aeb01-3c7f-479c-86f7-1895b12fef04","name":"Setup & Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,208]},{"parameters":{"method":"POST","url":"={{ $json.FETCH_CONTEXT_URL }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ lead_email: $json.lead_email, requesting_channel: $json.target_channel, max_events: 20 }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"de9a31f5-591d-489f-8c2c-71715eec2526","name":"Fetch Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,208]},{"parameters":{"jsCode":"const setup = $('Setup & Validate').first().json;\nconst ctx = $input.first().json;\nconst lead = ctx.lead || {};\nreturn [{ json: {\n  ...setup,\n  context_block:  ctx.context_block || '(No prior conversation history.)',\n  overall_intent: ctx.overall_intent || 'unknown',\n  lead_name:      lead.full_name || lead.lead_email || setup.lead_email,\n  lead_company:   lead.company || '',\n  linkedin_profile_url: setup.linkedin_profile_url || lead.linkedin_profile_url || null\n}}];"},"id":"feb66ed5-9b1a-498c-8b32-cc6a2c56d6a1","name":"Merge Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,208]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw-email","leftValue":"={{ $json.target_channel }}","rightValue":"email","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw-linkedin","leftValue":"={{ $json.target_channel }}","rightValue":"linkedin","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"id":"f0b4ff79-af55-47e0-a276-a498c75a3ade","name":"Route by Channel","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,208]},{"parameters":{"model":"claude-sonnet-4-6","options":{}},"id":"aba2190b-d29d-42b9-ac51-014acda86a79","name":"Email: Claude Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[0,368]},{"parameters":{"promptType":"define","text":"={{ 'Write a follow-up email for ' + $json.lead_name + ($json.lead_company ? ' at ' + $json.lead_company : '') + '.\\n\\nOverall intent: ' + $json.overall_intent + '\\nThis was triggered by a ' + $json.trigger_channel.toUpperCase() + ' interaction.\\n\\nAdditional context: ' + ($json.follow_up_context || 'None provided.') + '\\n\\n' + $json.context_block }}"},"id":"9e4f9db6-b51a-4fad-baac-319cfd7e099e","name":"Email: Generate Message","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[0,0]},{"parameters":{"jsCode":"const setup = $('Merge Context').first().json;\nconst aiOutput = $input.first().json;\nconst message = (aiOutput.text || aiOutput.output || '').trim();\nif (!message) throw new Error('Email AI returned empty message');\nreturn [{ json: { ...setup, generated_message: message, sent_channel: 'email' } }];"},"id":"ce035657-58c8-402e-a2ac-6b117f3c526e","name":"Email: Extract Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"sendTo":"={{ $json.lead_email }}","subject":"={{ 'Following up — ' + $json.lead_name }}","emailType":"text","message":"={{ $json.generated_message }}","options":{"senderName":"Anik Hanik","replyTo":"anik@nextus.ai"}},"id":"7f1f85a4-9c80-45d3-a2a2-125808cb58c8","name":"Send Email (Gmail)","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[448,0],"webhookId":"51152369-03aa-44b5-8fd4-846dfb265a1b"},{"parameters":{"model":"claude-sonnet-4-6","options":{}},"id":"9168918c-4c09-4ac5-ad86-f156deb3a91e","name":"LinkedIn: Claude Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[0,624]},{"parameters":{"promptType":"define","text":"={{ 'Write a follow-up LinkedIn message for ' + $json.lead_name + ($json.lead_company ? ' at ' + $json.lead_company : '') + '.\\n\\nOverall intent: ' + $json.overall_intent + '\\nThis was triggered by a ' + $json.trigger_channel.toUpperCase() + ' interaction.\\n\\nAdditional context: ' + ($json.follow_up_context || 'None provided.') + '\\n\\n' + $json.context_block }}"},"id":"10daad6a-92b5-4732-b552-98aac16f9961","name":"LinkedIn: Generate Message","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[0,432]},{"parameters":{"jsCode":"const setup = $('Merge Context').first().json;\nconst aiOutput = $input.first().json;\nconst message = (aiOutput.text || aiOutput.output || '').trim();\nif (!message) throw new Error('LinkedIn AI returned empty message');\nif (!setup.linkedin_profile_url) {\n  // No profile URL — mark as skipped cleanly instead of crashing\n  return [{ json: { ...setup, generated_message: message, sent_channel: 'linkedin', skipped: true, skip_reason: 'No linkedin_profile_url for this lead' } }];\n}\nreturn [{ json: { ...setup, generated_message: message, sent_channel: 'linkedin', skipped: false } }];"},"id":"88725be8-d390-4252-a8e9-3c7c6fcb4370","name":"LinkedIn: Extract Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,432]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"skip1","leftValue":"={{ $json.skipped }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"2754ef28-7864-4a6a-8d41-627aa125b202","name":"LinkedIn: Has Profile URL?","type":"n8n-nodes-base.if","typeVersion":2,"position":[448,432]},{"parameters":{"method":"POST","url":"={{ 'https://api.aimfox.com/api/v2/campaigns/' + $json.AIMFOX_FOLLOWUP_CAMPAIGN_ID + '/audience/multiple' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.AIMFOX_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ type: 'profile_url', profiles: [{ profile_url: $json.linkedin_profile_url, custom_variables: { CUSTOM_MESSAGE: $json.generated_message } }] }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"c9fab2fb-a38a-4c7f-9ca3-2a4d5ac564bb","name":"Add to LinkedIn Campaign","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,352]},{"parameters":{"jsCode":"// Lead skipped — no linkedin_profile_url available\nconst d = $input.first().json;\nconsole.log('LinkedIn follow-up skipped for', d.lead_email, '—', d.skip_reason);\nreturn [{ json: { ...d, send_status: 'skipped' } }];"},"id":"9d494eee-8391-4702-8449-8997fefd3902","name":"LinkedIn: Skip (No URL)","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,528]},{"parameters":{"jsCode":"// Converge all branches — data is already on the item\nconst d = $input.first().json;\nreturn [{ json: { ...d, send_status: d.send_status || 'sent' } }];"},"id":"2ec31ab9-dcce-4f3b-bc0b-2e5ba6cf2196","name":"After Send","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,208]},{"parameters":{"method":"POST","url":"={{ $json.WRITE_EVENT_URL }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  event_id: $json.queue_id,\n  lead_email: $json.lead_email,\n  timestamp: new Date().toISOString(),\n  channel: $json.target_channel,\n  direction: 'outbound',\n  content: $json.generated_message,\n  content_type: 'message',\n  sender_name: 'Anik Hanik',\n  intent: 'no_action',\n  metadata: { platform_conversation_id: null, triggered_by: $json.trigger_channel, queue_id: $json.queue_id, send_status: $json.send_status },\n  workflow_execution_id: 'followup-coordinator'\n}) }}","options":{"response":{"response":{"neverError":true}}}},"id":"37c52d57-d6bc-440f-bacc-3d1b7e3e47d3","name":"Log to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,208]},{"parameters":{"method":"PATCH","url":"={{ $json.SUPABASE_URL }}/rest/v1/follow_up_queue","sendQuery":true,"queryParameters":{"parameters":[{"name":"queue_id","value":"={{ 'eq.' + $json.queue_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.SUPABASE_KEY }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $json.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: $json.send_status === 'skipped' ? 'skipped' : 'sent', sent_at: new Date().toISOString() }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"d874acaf-ed45-4e5f-89c7-da73326da25c","name":"Mark Queue Sent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,208]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', lead_email: $json.lead_email, target_channel: $json.target_channel, send_status: $json.send_status, queue_id: $json.queue_id }) }}","options":{"responseCode":200}},"id":"4d4fa103-dd05-4b57-8262-303e2d780038","name":"Return OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1568,208]}],"connections":{"Webhook":{"main":[[{"node":"Setup & Validate","type":"main","index":0}]]},"Setup & Validate":{"main":[[{"node":"Fetch Context","type":"main","index":0}]]},"Fetch Context":{"main":[[{"node":"Merge Context","type":"main","index":0}]]},"Merge Context":{"main":[[{"node":"Route by Channel","type":"main","index":0}]]},"Route by Channel":{"main":[[{"node":"Email: Generate Message","type":"main","index":0}],[{"node":"LinkedIn: Generate Message","type":"main","index":0}]]},"Email: Claude Model":{"ai_languageModel":[[{"node":"Email: Generate Message","type":"ai_languageModel","index":0}]]},"Email: Generate Message":{"main":[[{"node":"Email: Extract Message","type":"main","index":0}]]},"Email: Extract Message":{"main":[[{"node":"Send Email (Gmail)","type":"main","index":0}]]},"Send Email (Gmail)":{"main":[[{"node":"After Send","type":"main","index":0}]]},"LinkedIn: Claude Model":{"ai_languageModel":[[{"node":"LinkedIn: Generate Message","type":"ai_languageModel","index":0}]]},"LinkedIn: Generate Message":{"main":[[{"node":"LinkedIn: Extract Message","type":"main","index":0}]]},"LinkedIn: Extract Message":{"main":[[{"node":"LinkedIn: Has Profile URL?","type":"main","index":0}]]},"LinkedIn: Has Profile URL?":{"main":[[{"node":"LinkedIn: Skip (No URL)","type":"main","index":0}],[{"node":"Add to LinkedIn Campaign","type":"main","index":0}]]},"Add to LinkedIn Campaign":{"main":[[{"node":"After Send","type":"main","index":0}]]},"LinkedIn: Skip (No URL)":{"main":[[{"node":"After Send","type":"main","index":0}]]},"After Send":{"main":[[{"node":"Log to Supabase","type":"main","index":0}]]},"Log to Supabase":{"main":[[{"node":"Mark Queue Sent","type":"main","index":0}]]},"Mark Queue Sent":{"main":[[{"node":"Return OK","type":"main","index":0}]]}},"authors":"Flowtics AI","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-16T15:33:40.139Z","id":63,"workflowId":"KXKcCYRnK4V8v9k7","versionId":"e5c8810a-24ca-44ac-b277-2e07d1d82ade","event":"activated","userId":"82beb348-efd1-4022-9d88-42d9caced284"}]}}