n8n_workflows/MCO_Centralized_FollowUp_Coordinator.json
{
  "name": "MCO - Centralized Follow-Up Coordinator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mco-followup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "followup-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "mco-followup"
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://hkqssbomrcbtfbdowtgj.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrcXNzYm9tcmNidGZiZG93dGdqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzg3MTU1MywiZXhwIjoyMDkzNDQ3NTUzfQ.sIW3-eY1IVz1CuErVL9k_2IC9LX1nBS_S9wkT__RgoI';\nconst AIMFOX_TOKEN = 'Bearer 8e65df8c-3fe2-4ecf-bf05-8261ea85464b';\nconst FETCH_CONTEXT_URL = 'https://nextus.app.n8n.cloud/webhook/mco-fetch-context';\nconst WRITE_EVENT_URL = 'https://nextus.app.n8n.cloud/webhook/mco-write-event';\n// Create a list-type campaign in Aimfox dashboard named 'MCO LinkedIn Follow-Up'\n// with first message = {{CUSTOM_MESSAGE}}, then paste its ID here:\nconst AIMFOX_FOLLOWUP_CAMPAIGN_ID = '39a3ee2f-8474-4e9a-b498-81d14e319788';\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['lead_email', 'target_channel', 'queue_id'];\nconst missing = required.filter(f => !body[f]);\nif (missing.length > 0) throw new Error('Missing fields: ' + missing.join(', '));\n\nconst validChannels = ['email', 'linkedin', 'sms'];\nif (!validChannels.includes(body.target_channel)) {\n  throw new Error('Unsupported target_channel: ' + body.target_channel);\n}\n\nreturn [{ json: {\n  SUPABASE_URL,\n  SUPABASE_KEY,\n  AIMFOX_TOKEN,\n  FETCH_CONTEXT_URL,\n  WRITE_EVENT_URL,\n  AIMFOX_FOLLOWUP_CAMPAIGN_ID,\n  lead_email:          body.lead_email.toLowerCase().trim(),\n  target_channel:      body.target_channel,\n  queue_id:            body.queue_id,\n  trigger_channel:     body.trigger_channel || 'unknown',\n  follow_up_context:   body.follow_up_context || '',\n  linkedin_profile_url: body.linkedin_profile_url || null\n}}];"
      },
      "id": "followup-setup",
      "name": "Setup & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.FETCH_CONTEXT_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_email: $json.lead_email, requesting_channel: $json.target_channel, max_events: 20 }) }}",
        "options": {"response": {"response": {"neverError": true}}}
      },
      "id": "followup-fetch-ctx",
      "name": "Fetch Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "jsCode": "const setup = $('Setup & Validate').first().json;\nconst ctx = $input.first().json;\nconst lead = ctx.lead || {};\nreturn [{ json: {\n  ...setup,\n  context_block:  ctx.context_block || '(No prior conversation history.)',\n  overall_intent: ctx.overall_intent || 'unknown',\n  lead_name:      lead.full_name || lead.lead_email || setup.lead_email,\n  lead_company:   lead.company || '',\n  linkedin_profile_url: setup.linkedin_profile_url || lead.linkedin_profile_url || null\n}}];"
      },
      "id": "followup-merge-ctx",
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"id": "sw-email", "leftValue": "={{ $json.target_channel }}", "rightValue": "email", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"id": "sw-linkedin", "leftValue": "={{ $json.target_channel }}", "rightValue": "linkedin", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "followup-switch",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1080, 400]
    },

    {"parameters": {"model": "claude-sonnet-4-6", "options": {"systemPrompt": "You are a senior sales development representative for Nextus AI writing a warm follow-up EMAIL to a lead.\n\nRules:\n- Professional but genuine tone — not pushy or salesy\n- Reference a specific detail from the conversation history to show you were paying attention\n- Maximum 120 words — keep it short and scannable\n- Do NOT include a subject line, greeting (Hi/Dear), or sign-off — body text only\n- No bullet points or headers — flowing prose\n- Use the lead's real name and company, never placeholders\n- Output ONLY the email body text, nothing else"}}, "id": "email-ai-model", "name": "Email: Claude Model", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.3, "position": [1300, 560]},

    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Write a follow-up email for ' + $json.lead_name + ($json.lead_company ? ' at ' + $json.lead_company : '') + '.\\n\\nOverall intent: ' + $json.overall_intent + '\\nThis was triggered by a ' + $json.trigger_channel.toUpperCase() + ' interaction.\\n\\nAdditional context: ' + ($json.follow_up_context || 'None provided.') + '\\n\\n' + $json.context_block }}",
        "options": {}
      },
      "id": "email-generate",
      "name": "Email: Generate Message",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "jsCode": "const setup = $('Merge Context').first().json;\nconst aiOutput = $input.first().json;\nconst message = (aiOutput.text || aiOutput.output || '').trim();\nif (!message) throw new Error('Email AI returned empty message');\nreturn [{ json: { ...setup, generated_message: message, sent_channel: 'email' } }];"
      },
      "id": "email-extract",
      "name": "Email: Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.lead_email }}",
        "subject": "={{ 'Following up — ' + $json.lead_name }}",
        "emailType": "text",
        "message": "={{ $json.generated_message }}",
        "options": {"senderName": "Anik Hanik", "replyTo": "anik@nextus.ai"}
      },
      "id": "email-send",
      "name": "Send Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1740, 200]
    },

    {"parameters": {"model": "claude-sonnet-4-6", "options": {"systemPrompt": "You are a senior sales development representative for Nextus AI writing a warm follow-up LinkedIn message to a lead.\n\nRules:\n- Conversational and human — LinkedIn is casual, not formal\n- Maximum 80 words — LinkedIn messages must be brief or they get ignored\n- Reference ONE specific thing from the conversation history\n- No greetings, no sign-offs, no formatting — just the message\n- No bullet points, no headers, no emojis\n- Use the lead's real name and company, never placeholders\n- Output ONLY the message text, nothing else"}}, "id": "linkedin-ai-model", "name": "LinkedIn: Claude Model", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.3, "position": [1300, 820]},

    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Write a follow-up LinkedIn message for ' + $json.lead_name + ($json.lead_company ? ' at ' + $json.lead_company : '') + '.\\n\\nOverall intent: ' + $json.overall_intent + '\\nThis was triggered by a ' + $json.trigger_channel.toUpperCase() + ' interaction.\\n\\nAdditional context: ' + ($json.follow_up_context || 'None provided.') + '\\n\\n' + $json.context_block }}",
        "options": {}
      },
      "id": "linkedin-generate",
      "name": "LinkedIn: Generate Message",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1300, 620]
    },
    {
      "parameters": {
        "jsCode": "const setup = $('Merge Context').first().json;\nconst aiOutput = $input.first().json;\nconst message = (aiOutput.text || aiOutput.output || '').trim();\nif (!message) throw new Error('LinkedIn AI returned empty message');\nif (!setup.linkedin_profile_url) {\n  // No profile URL — mark as skipped cleanly instead of crashing\n  return [{ json: { ...setup, generated_message: message, sent_channel: 'linkedin', skipped: true, skip_reason: 'No linkedin_profile_url for this lead' } }];\n}\nreturn [{ json: { ...setup, generated_message: message, sent_channel: 'linkedin', skipped: false } }];"
      },
      "id": "linkedin-extract",
      "name": "LinkedIn: Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 620]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [{"id": "skip1", "leftValue": "={{ $json.skipped }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "linkedin-skip-check",
      "name": "LinkedIn: Has Profile URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1740, 620]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.aimfox.com/api/v2/campaigns/' + $json.AIMFOX_FOLLOWUP_CAMPAIGN_ID + '/audience/multiple' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "={{ $json.AIMFOX_TOKEN }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'profile_url', profiles: [{ profile_url: $json.linkedin_profile_url, custom_variables: { CUSTOM_MESSAGE: $json.generated_message } }] }) }}",
        "options": {"response": {"response": {"neverError": true}}}
      },
      "id": "linkedin-campaign-add",
      "name": "Add to LinkedIn Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 540]
    },
    {
      "parameters": {
        "jsCode": "// Lead skipped — no linkedin_profile_url available\nconst d = $input.first().json;\nconsole.log('LinkedIn follow-up skipped for', d.lead_email, '—', d.skip_reason);\nreturn [{ json: { ...d, send_status: 'skipped' } }];"
      },
      "id": "linkedin-skip",
      "name": "LinkedIn: Skip (No URL)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 720]
    },

    {
      "parameters": {
        "jsCode": "// Converge all branches — data is already on the item\nconst d = $input.first().json;\nreturn [{ json: { ...d, send_status: d.send_status || 'sent' } }];"
      },
      "id": "followup-after-send",
      "name": "After Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WRITE_EVENT_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  event_id: $json.queue_id,\n  lead_email: $json.lead_email,\n  timestamp: new Date().toISOString(),\n  channel: $json.target_channel,\n  direction: 'outbound',\n  content: $json.generated_message,\n  content_type: 'message',\n  sender_name: 'Anik Hanik',\n  intent: 'no_action',\n  metadata: { platform_conversation_id: null, triggered_by: $json.trigger_channel, queue_id: $json.queue_id, send_status: $json.send_status },\n  workflow_execution_id: 'followup-coordinator'\n}) }}",
        "options": {"response": {"response": {"neverError": true}}}
      },
      "id": "followup-log",
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/follow_up_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $json.SUPABASE_KEY }}"},
            {"name": "Authorization", "value": "={{ 'Bearer ' + $json.SUPABASE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "return=minimal"}
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "queue_id", "value": "={{ 'eq.' + $json.queue_id }}"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.send_status === 'skipped' ? 'skipped' : 'sent', sent_at: new Date().toISOString() }) }}",
        "options": {"response": {"response": {"neverError": true}}}
      },
      "id": "followup-mark-sent",
      "name": "Mark Queue Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', lead_email: $json.lead_email, target_channel: $json.target_channel, send_status: $json.send_status, queue_id: $json.queue_id }) }}",
        "options": {"responseCode": 200}
      },
      "id": "followup-return",
      "name": "Return OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2860, 400]
    }
  ],
  "connections": {
    "Webhook":          {"main": [[{"node": "Setup & Validate",        "type": "main", "index": 0}]]},
    "Setup & Validate": {"main": [[{"node": "Fetch Context",           "type": "main", "index": 0}]]},
    "Fetch Context":    {"main": [[{"node": "Merge Context",           "type": "main", "index": 0}]]},
    "Merge Context":    {"main": [[{"node": "Route by Channel",        "type": "main", "index": 0}]]},
    "Route by Channel": {
      "main": [
        [{"node": "Email: Generate Message",    "type": "main", "index": 0}],
        [{"node": "LinkedIn: Generate Message", "type": "main", "index": 0}],
        []
      ]
    },
    "Email: Claude Model":    {"ai_languageModel": [[{"node": "Email: Generate Message",    "type": "ai_languageModel", "index": 0}]]},
    "Email: Generate Message": {"main": [[{"node": "Email: Extract Message", "type": "main", "index": 0}]]},
    "Email: Extract Message":  {"main": [[{"node": "Send Email (Gmail)",      "type": "main", "index": 0}]]},
    "Send Email (Gmail)":      {"main": [[{"node": "After Send",              "type": "main", "index": 0}]]},

    "LinkedIn: Claude Model":    {"ai_languageModel": [[{"node": "LinkedIn: Generate Message",    "type": "ai_languageModel", "index": 0}]]},
    "LinkedIn: Generate Message": {"main": [[{"node": "LinkedIn: Extract Message", "type": "main", "index": 0}]]},
    "LinkedIn: Extract Message":  {"main": [[{"node": "LinkedIn: Has Profile URL?", "type": "main", "index": 0}]]},
    "LinkedIn: Has Profile URL?": {
      "main": [
        [{"node": "LinkedIn: Skip (No URL)",   "type": "main", "index": 0}],
        [{"node": "Add to LinkedIn Campaign",  "type": "main", "index": 0}]
      ]
    },
    "Add to LinkedIn Campaign": {"main": [[{"node": "After Send", "type": "main", "index": 0}]]},
    "LinkedIn: Skip (No URL)":  {"main": [[{"node": "After Send", "type": "main", "index": 0}]]},

    "After Send":       {"main": [[{"node": "Log to Supabase",  "type": "main", "index": 0}]]},
    "Log to Supabase":  {"main": [[{"node": "Mark Queue Sent",  "type": "main", "index": 0}]]},
    "Mark Queue Sent":  {"main": [[{"node": "Return OK",        "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}
