n8n_workflows/MCO_Write_Conversation_Event.json
{
  "name": "MCO - Write Conversation Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mco-write-event",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "mco-write-event"
    },
    {
      "parameters": {
        "jsCode": "// Config\nconst CFG = {\n  SUPABASE_URL: 'https://hkqssbomrcbtfbdowtgj.supabase.co',\n  SUPABASE_KEY: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrcXNzYm9tcmNidGZiZG93dGdqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzg3MTU1MywiZXhwIjoyMDkzNDQ3NTUzfQ.sIW3-eY1IVz1CuErVL9k_2IC9LX1nBS_S9wkT__RgoI',\n  MONDAY_TOKEN: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQxOTA2OTYxOSwiYWFpIjoxMSwidWlkIjo2NDI3NTY2NiwiaWFkIjoiMjAyNC0xMC0wM1QxNTowODowOC4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MjMzNzIwNDIsInJnbiI6InVzZTEifQ.MoC1jx8muY24purLSEUZWQIUw8xcOK8jZ4JVqZTL0MA',\n  MONDAY_BOARD_ID: 18399476470\n};\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['event_id','lead_email','channel','direction','content','timestamp'];\nconst missing = required.filter(f => !body[f]);\nif (missing.length > 0) throw new Error('Missing fields: ' + missing.join(', '));\n\nconst validChannels = ['email','linkedin','voice','sms'];\nconst validDirections = ['inbound','outbound'];\nconst validIntents = ['unknown','no_action','not_interested','referral','already_have_contract','interested','booking'];\nconst validContentTypes = ['message','transcript','summary'];\n\nif (!validChannels.includes(body.channel)) throw new Error('Invalid channel: ' + body.channel);\nif (!validDirections.includes(body.direction)) throw new Error('Invalid direction: ' + body.direction);\n\nlet phone = body.phone_e164 || null;\nif (phone && !/^\\+[1-9]\\d{7,14}$/.test(phone)) phone = null;\n\nreturn [{ json: {\n  ...CFG,\n  event_id: body.event_id.toLowerCase(),\n  lead_email: body.lead_email.toLowerCase().trim(),\n  timestamp: body.timestamp,\n  channel: body.channel,\n  direction: body.direction,\n  content: body.content,\n  content_type: validContentTypes.includes(body.content_type) ? body.content_type : 'message',\n  sender_name: body.sender_name || '',\n  intent: validIntents.includes(body.intent) ? body.intent : 'unknown',\n  metadata: body.metadata || {},\n  workflow_execution_id: body.workflow_execution_id || '',\n  phone_e164: phone,\n  full_name: body.full_name || '',\n  company: body.company || '',\n  linkedin_urn: body.linkedin_urn || null,\n  aimfox_campaign: body.aimfox_campaign || null,\n  email_sender_inbox: body.email_sender_inbox || null,\n  trigger_cross_channel: body.trigger_cross_channel === true,\n  trigger_cross_channel_str: body.trigger_cross_channel === true ? 'yes' : 'no',\n  target_channels: Array.isArray(body.target_channels) ? body.target_channels : [],\n  follow_up_context: body.follow_up_context || ''\n}}];"
      },
      "id": "node-setup",
      "name": "Setup & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/rpc/upsert_lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $json.SUPABASE_KEY }}"},
            {"name": "Authorization", "value": "={{ 'Bearer ' + $json.SUPABASE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Accept", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  p_lead_email: $json.lead_email,\n  p_full_name: $json.full_name || null,\n  p_company: $json.company || null,\n  p_linkedin_urn: $json.linkedin_urn || null,\n  p_phone_e164: $json.phone_e164 || null,\n  p_channel: $json.channel,\n  p_new_intent: $json.intent,\n  p_aimfox_campaign: $json.aimfox_campaign || null,\n  p_email_sender_inbox: $json.email_sender_inbox || null\n}) }}",
        "options": {
          "response": {
            "response": {"neverError": true}
          }
        }
      },
      "id": "node-upsert-lead",
      "name": "Upsert Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "// Merge RPC result back with original setup data\nconst setup = $('Setup & Validate').first().json;\nconst rpcResp = $input.first().json;\nconst lead = Array.isArray(rpcResp) && rpcResp.length > 0 ? rpcResp[0] : {};\nreturn [{ json: {\n  ...setup,\n  monday_item_id: lead.monday_item_id || null,\n  overall_intent: lead.overall_intent || setup.intent\n}}];"
      },
      "id": "node-merge-lead",
      "name": "Merge Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/rpc/insert_conversation_event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $json.SUPABASE_KEY }}"},
            {"name": "Authorization", "value": "={{ 'Bearer ' + $json.SUPABASE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Accept", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  p_event_id: $json.event_id,\n  p_lead_email: $json.lead_email,\n  p_timestamp: $json.timestamp,\n  p_channel: $json.channel,\n  p_direction: $json.direction,\n  p_content: $json.content,\n  p_content_type: $json.content_type,\n  p_sender_name: $json.sender_name,\n  p_intent: $json.intent,\n  p_metadata: $json.metadata,\n  p_workflow_execution_id: $json.workflow_execution_id\n}) }}",
        "options": {
          "response": {
            "response": {"neverError": true}
          }
        }
      },
      "id": "node-insert-conv",
      "name": "Insert Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "jsCode": "// RPC returns { was_new: bool, event_id: '...' }\n// Use 'yes'/'no' strings for was_inserted_str — n8n string comparisons are reliable\nconst setup = $('Merge Lead Data').first().json;\nconst rpcResp = $input.first().json;\nconst wasNew = rpcResp && rpcResp.was_new === true;\nreturn [{ json: { ...setup, was_inserted: wasNew, was_inserted_str: wasNew ? 'yes' : 'no', insert_resp: rpcResp } }];"
      },
      "id": "node-check-insert",
      "name": "Check Insert Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [{"id": "c1", "leftValue": "={{ $json.was_inserted_str }}", "rightValue": "no", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-dup",
      "name": "Was Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'already_written', event_id: $json.event_id }) }}",
        "options": {"responseCode": 200}
      },
      "id": "node-return-dup",
      "name": "Return Already Written",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1740, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [{"id": "c2", "leftValue": "={{ $json.phone_e164 }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-has-phone",
      "name": "Has Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1740, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/phone_map",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $json.SUPABASE_KEY }}"},
            {"name": "Authorization", "value": "={{ 'Bearer ' + $json.SUPABASE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "resolution=ignore-duplicates"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_e164: $json.phone_e164, lead_email: $json.lead_email, source: $json.channel, confidence: 'medium' }) }}",
        "options": {"response": {"response": {"neverError": true}}}
      },
      "id": "node-phone-map",
      "name": "Upsert PhoneMap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 220]
    },
    {
      "parameters": {
        "jsCode": "// Build Monday.com update text\nconst d = $('Check Insert Result').first().json;\nconst icons = { email: '[EMAIL]', linkedin: '[LINKEDIN]', voice: '[VOICE]', sms: '[SMS]' };\nconst icon = icons[d.channel] || '[?]';\nconst dir = d.direction === 'inbound' ? 'Inbound from Lead' : 'Outbound to Lead';\nconst ts = new Date(d.timestamp).toISOString().replace('T',' ').slice(0,16) + ' UTC';\nconst content = (d.content||'').length > 500 ? d.content.slice(0,497)+'...' : d.content||'';\nconst sender = d.sender_name ? d.sender_name + (d.company ? ' (' + d.company + ')' : '') : '';\nconst text = [icon + ' ' + d.channel.toUpperCase() + ' | ' + dir + ' | ' + ts, sender, '---', content, 'Intent: ' + d.intent].filter(Boolean).join('\\n');\nreturn [{ json: { ...d, monday_update_text: text } }];"
      },
      "id": "node-format-monday",
      "name": "Format Monday Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "={{ $json.MONDAY_TOKEN }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "API-Version", "value": "2024-01"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation { create_item(board_id: ' + $json.MONDAY_BOARD_ID + ', item_name: \"' + ($json.full_name || $json.lead_email).replace(/\"/g, '') + '\") { id } }' }) }}",
        "options": {"response": {"response": {"neverError": true}}}
      },
      "id": "node-monday-create",
      "name": "Create Monday Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 400]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Format Monday Update').first().json;\nconst mondayResp = $input.first().json;\nconst newItemId = mondayResp?.data?.create_item?.id || d.monday_item_id || null;\nreturn [{ json: { ...d, monday_item_id: newItemId } }];"
      },
      "id": "node-monday-id",
      "name": "Extract Monday ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [{"id": "c3", "leftValue": "={{ $json.monday_item_id }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-has-item",
      "name": "Has Monday Item?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2620, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "={{ $json.MONDAY_TOKEN }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "API-Version", "value": "2024-01"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation { create_update(item_id: ' + $json.monday_item_id + ', body: ' + JSON.stringify($json.monday_update_text) + ') { id } }' }) }}",
        "options": {"response": {"response": {"neverError": true}}}
      },
      "id": "node-monday-update",
      "name": "Post Monday Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [{"id": "c4", "leftValue": "={{ $('Setup & Validate').first().json.trigger_cross_channel_str }}", "rightValue": "yes", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-cross",
      "name": "Cross-Channel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2840, 460]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Extract Monday ID').first().json;\nconst scheduled = new Date(Date.now() + 30*60*1000).toISOString();\nreturn (d.target_channels || []).map(tc => ({ json: {\n  ...d,\n  queue_row: {\n    lead_email: d.lead_email,\n    trigger_channel: d.channel,\n    target_channel: tc,\n    trigger_event_id: d.event_id,\n    scheduled_for: scheduled,\n    status: 'pending',\n    follow_up_context: d.follow_up_context || 'Lead showed interest via ' + d.channel\n  }\n}}));"
      },
      "id": "node-build-queue",
      "name": "Build Queue Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3060, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/follow_up_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $json.SUPABASE_KEY }}"},
            {"name": "Authorization", "value": "={{ 'Bearer ' + $json.SUPABASE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "return=representation"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.queue_row) }}",
        "options": {"response": {"response": {"neverError": true}}}
      },
      "id": "node-insert-queue",
      "name": "Insert FollowUpQueue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3280, 380]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', event_id: $('Check Insert Result').first().json.event_id, lead_email: $('Check Insert Result').first().json.lead_email, monday_item_id: $('Extract Monday ID').first().json.monday_item_id || null, overall_intent: $('Check Insert Result').first().json.overall_intent }) }}",
        "options": {"responseCode": 200}
      },
      "id": "node-return-ok",
      "name": "Return OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3500, 380]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Setup & Validate", "type": "main", "index": 0}]]},
    "Setup & Validate": {"main": [[{"node": "Upsert Lead", "type": "main", "index": 0}]]},
    "Upsert Lead": {"main": [[{"node": "Merge Lead Data", "type": "main", "index": 0}]]},
    "Merge Lead Data": {"main": [[{"node": "Insert Conversation", "type": "main", "index": 0}]]},
    "Insert Conversation": {"main": [[{"node": "Check Insert Result", "type": "main", "index": 0}]]},
    "Check Insert Result": {"main": [[{"node": "Was Duplicate?", "type": "main", "index": 0}]]},
    "Was Duplicate?": {
      "main": [
        [{"node": "Return Already Written", "type": "main", "index": 0}],
        [{"node": "Has Phone?", "type": "main", "index": 0}]
      ]
    },
    "Has Phone?": {
      "main": [
        [{"node": "Upsert PhoneMap", "type": "main", "index": 0}],
        [{"node": "Format Monday Update", "type": "main", "index": 0}]
      ]
    },
    "Upsert PhoneMap": {"main": [[{"node": "Format Monday Update", "type": "main", "index": 0}]]},
    "Format Monday Update": {"main": [[{"node": "Create Monday Item", "type": "main", "index": 0}]]},
    "Create Monday Item": {"main": [[{"node": "Extract Monday ID", "type": "main", "index": 0}]]},
    "Extract Monday ID": {"main": [[{"node": "Has Monday Item?", "type": "main", "index": 0}]]},
    "Has Monday Item?": {
      "main": [
        [{"node": "Post Monday Update", "type": "main", "index": 0}],
        [{"node": "Cross-Channel?", "type": "main", "index": 0}]
      ]
    },
    "Post Monday Update": {"main": [[{"node": "Cross-Channel?", "type": "main", "index": 0}]]},
    "Cross-Channel?": {
      "main": [
        [{"node": "Build Queue Rows", "type": "main", "index": 0}],
        [{"node": "Return OK", "type": "main", "index": 0}]
      ]
    },
    "Build Queue Rows": {"main": [[{"node": "Insert FollowUpQueue", "type": "main", "index": 0}]]},
    "Insert FollowUpQueue": {"main": [[{"node": "Return OK", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}
