n8n_workflows/MCO_FollowUp_Queue_Dispatcher.json
{
  "updatedAt": "2026-05-13T19:29:29.522Z",
  "createdAt": "2026-05-12T19:12:47.428Z",
  "id": "3ju6z4oJcWJqskBN",
  "name": "MCO - FollowUp Queue Dispatcher",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "77eaee55-1641-4bd1-b34f-d492dea05667",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://hkqssbomrcbtfbdowtgj.supabase.co';\nconst SUPABASE_KEY = '{{REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY}}';\nconst FOLLOWUP_URL = 'https://n8n-1404.n8n.whiteserverdns.com/webhook/mco-followup';\nreturn [{ json: { SUPABASE_URL, SUPABASE_KEY, FOLLOWUP_URL } }];"
      },
      "id": "c3df926b-63a6-4325-b2c0-c9ce05cd82e9",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/follow_up_queue",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "eq.pending"
            },
            {
              "name": "scheduled_for",
              "value": "lte.{{ new Date().toISOString() }}"
            },
            {
              "name": "order",
              "value": "scheduled_for.asc"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "53d0517b-5115-4e2b-a464-a35f7b081080",
      "name": "Fetch Pending Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst rows = Array.isArray($input.first().json) ? $input.first().json : [];\n\nif (rows.length === 0) {\n  // Nothing to process — return empty to stop execution\n  return [];\n}\n\n// Also need to fetch the lead's Aimfox account/conversation data from conversations table\n// for LinkedIn follow-ups. We'll include what we have and let coordinator handle it.\nreturn rows.map(row => ({ json: {\n  SUPABASE_URL: cfg.SUPABASE_URL,\n  SUPABASE_KEY: cfg.SUPABASE_KEY,\n  FOLLOWUP_URL: cfg.FOLLOWUP_URL,\n  queue_id:         row.queue_id,\n  lead_email:       row.lead_email,\n  target_channel:   row.target_channel,\n  trigger_channel:  row.trigger_channel,\n  follow_up_context: row.follow_up_context || '',\n  trigger_event_id: row.trigger_event_id\n}}));"
      },
      "id": "9542100a-7883-4c41-bc38-31a2b226870a",
      "name": "Split Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "li1",
              "leftValue": "={{ $json.target_channel }}",
              "rightValue": "linkedin",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "64e5bce8-4e20-4e85-b356-7e6ca6c2156b",
      "name": "LinkedIn?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lead_email",
              "value": "={{ 'eq.' + $json.lead_email }}"
            },
            {
              "name": "channel",
              "value": "eq.linkedin"
            },
            {
              "name": "order",
              "value": "timestamp.desc"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "select",
              "value": "metadata_json"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "14975bfa-7f98-43d6-b0cd-fe8a81f680d6",
      "name": "Fetch LinkedIn Meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $('Split Rows').item.json;\nconst metaRows = Array.isArray($input.first().json) ? $input.first().json : [];\nconst meta = metaRows.length > 0 ? (metaRows[0].metadata_json || {}) : {};\nreturn [{ json: {\n  ...row,\n  aimfox_account_id: meta.aimfox_account_id || null,\n  conversation_urn:  meta.aimfox_convo_id || meta.conversation_urn || null\n}}];"
      },
      "id": "97020e00-5882-4e26-8073-b65b6510145a",
      "name": "Merge LinkedIn Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.FOLLOWUP_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  queue_id:          $json.queue_id,\n  lead_email:        $json.lead_email,\n  target_channel:    $json.target_channel,\n  trigger_channel:   $json.trigger_channel,\n  follow_up_context: $json.follow_up_context,\n  aimfox_account_id: $json.aimfox_account_id || null,\n  conversation_urn:  $json.conversation_urn  || null\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "6af21399-25b1-4f62-946a-4bd95477b07f",
      "name": "Call Coordinator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst status = resp.status || 'unknown';\nconst leadEmail = resp.lead_email || '';\nconst channel = resp.target_channel || '';\nconsole.log('Dispatcher result:', status, leadEmail, channel);\nreturn [{ json: { dispatched: true, status, lead_email: leadEmail, target_channel: channel } }];"
      },
      "id": "14ac05d6-9bea-4877-9d76-3f2c9ffcbca1",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        144
      ]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Fetch Pending Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Queue": {
      "main": [
        [
          {
            "node": "Split Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Rows": {
      "main": [
        [
          {
            "node": "LinkedIn?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn?": {
      "main": [
        [
          {
            "node": "Fetch LinkedIn Meta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Coordinator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Meta": {
      "main": [
        [
          {
            "node": "Merge LinkedIn Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge LinkedIn Meta": {
      "main": [
        [
          {
            "node": "Call Coordinator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Coordinator": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f929b8ae-49f1-4a69-82ab-a800cb27e579",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-12T19:12:47.428Z",
      "createdAt": "2026-05-12T19:12:47.428Z",
      "role": "workflow:owner",
      "workflowId": "3ju6z4oJcWJqskBN",
      "projectId": "gT4zNzvFuk641tgz",
      "project": {
        "updatedAt": "2026-05-12T14:23:45.440Z",
        "createdAt": "2026-05-12T11:56:55.020Z",
        "id": "gT4zNzvFuk641tgz",
        "name": "Flowtics AI <team@flowticsai.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "82beb348-efd1-4022-9d88-42d9caced284",
        "projectRelations": [
          {
            "updatedAt": "2026-05-12T11:56:55.020Z",
            "createdAt": "2026-05-12T11:56:55.020Z",
            "userId": "82beb348-efd1-4022-9d88-42d9caced284",
            "projectId": "gT4zNzvFuk641tgz",
            "user": {
              "updatedAt": "2026-05-16T08:39:07.427Z",
              "createdAt": "2026-05-12T11:56:54.527Z",
              "id": "82beb348-efd1-4022-9d88-42d9caced284",
              "email": "team@flowticsai.com",
              "firstName": "Flowtics",
              "lastName": "AI",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "xE8mFF8HxPaSXNmi",
                "userActivatedAt": 1778661186636
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}